﻿@using Sportsmandu.Model.Entities.ViewModels;
@model Sportsmandu.Models.GameViewModel;
@{
    ViewData["Title"] = Model.Name;
    ViewData["Title"] = "Play " + @Model.Name + " Online";
    ViewData["OG:Image"] = "https://sportsmandu.com/" + @Model.Image;
    ViewData["og:url"] = "https://sportsmandu.com/En/Game/" + @Model.Id;
    ViewData["og:description"] = @Model.Description;    
}

    <section class="content-info">
        <div class="container paddings-mini">
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4>@Model.Name</h4>

                        </div>
                        <div align="center">
                            @*@Html.Raw(ViewBag.GameHtml)*@
                            <a href="~/@Model.URL" target="_blank"><img src="~/@Model.Image" alt=""></a>
                        </div>
                        <div class="row" style="padding-top:15px;padding-bottom:15px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="sharethis-inline-share-buttons"></div>
                            </div>
                        </div>
                        <div class="info-panel">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                    <div class="panel-box">
                        <div class="titles">
                            <h4>More To Come Soon !</h4>
                        </div>
                        @*<ul class="testimonials">
                                <li>
                                    <blockquote>
                                        <p>Lionel Messi and Cristiano Ronaldo will come face to face for the first time in the World Cup only if their two nations finish in the same position in the group phase, either first or second.!.</p>
                                        <img src="img/testimonials/1.jpg" alt="">
                                        <strong>Federic Gordon</strong><a href="#">@@iwthemes</a>
                                    </blockquote>
                                </li>
                                <li>
                                    <blockquote>
                                        <p>After two previous meetings on the big stage, it is honours even: Brazil won the Final of Korea/Japan 2002 2-0, while Germany recorded that famous victory at Brazil 2014!.</p>
                                        <img src="img/testimonials/2.jpg" alt="">
                                        <strong>Federic Gordon</strong><a href="#">@@iwthemes</a>
                                    </blockquote>
                                </li>
                                <li>
                                    <blockquote>
                                        <p>To help fire your imagination and let you see if there is a potential knockout match you might be tempted to buy tickets for, FIFA.com has come up with a list of possible last-16 and quarter-final duels between some of the game’s biggest attractions.!.</p>
                                        <img src="img/testimonials/3.jpg" alt="">
                                        <strong>Federic Gordon</strong><a href="#">@@iwthemes</a>
                                    </blockquote>
                                </li>
                            </ul>*@
                    </div>
                    @*<div class="panel-box padding-b">
                        <div class="titles">
                                <h4>Publish Commnet</h4>
                            </div>

                            <div class="info-panel">

                                <form class="form-theme">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Your name *</label>
                                            <input type="text" required="required" value="" maxlength="100" class="form-control" name="name" id="name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Your email address *</label>
                                            <input type="email" required="required" value="" maxlength="100" class="form-control" name="email" id="email">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Comment *</label>
                                            <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="comment" style="height: 138px;" required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" value="Post Comment" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>*@
                </div>
                <aside class="col-lg-3">
                    @*<div>
                            <h4>Search Games</h4>
                            <form class="search" action="#" method="Post">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search..." name="email" type="email" required="required">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </div>*@
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4>
                                High Score
                            </h4>
                        </div>
                        @foreach (var items in Model.HighScore)
                    {<br />
                        <div class="row">
                            <div class="col-md-3">
                                <img src="~/@items.UserImage" style="border-radius: 40%; height:40px;width:40px;" />
                            </div>
                            <div class="col-md-5">
                                @items.UserFullName
                            </div>
                            <div class="col-md-4">
                                @if (Model.Type == enumGameType.High_Score)
                                {
                                <div class="col-md-2" align="left">
                                    @items.HighScore
                                </div>
                                }else if (Model.Type == enumGameType.Points)
                                {
                                <div class="col-md-2" align="left">
                                    @items.Points
                                </div>
                                }else if (Model.Type == enumGameType.Level)
                                {
                                <div class="col-md-2" align="left">
                                    @items.Level
                                </div>
                                }
                            </div>
                        </div>
                        <hr />
                    }
                        <div class="row">
                            <div class="info-panel">
                                <p>
                                    The User To Maintain HighScore Today Will Receive Rs 100 Recharge Card from eSewa.
                                </p>
                                @*<p>Summary Here</p>*@
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Ads")
                    @*@await Component.InvokeAsync("Ads")
                        @await Component.InvokeAsync("Ads")*@
                </aside>
            </div>
        </div>
    </section>
    @section Scripts {
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d07460b4351e90012650e92&product=' inline-share-buttons' async='async'></script>
    }