﻿@using Microsoft.AspNetCore.Identity
<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - Sportsmandu</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.semanticui.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="ui button" asp-fallback-test-property="cursor" asp-fallback-test-value="pointer" />
        @*        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.semanticui.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.css" />

    </environment>
    <!-- <link rel="stylesheet" href="~/lib/summernote/dist/summernote.css" /> -->
</head>
<body>    
    <div class="ui large top pointing fixed menu">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
                <span class="sr-only">Toggle Navigation</span>
            </a>
            <a href="/" class="header item">Sportsmandu</a>

            <select onChange="window.document.location.href=this.options[this.selectedIndex].value;" class="form-control">
                    <option value="Select">Select</option>
                    <option value="/Admin/1/@ViewContext.RouteData.Values["controller"]">English</option>
                    <option value="/Admin/2/@ViewContext.RouteData.Values["controller"]">Nepali</option>
                </select>

        </div> 
    </div>
    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
    </div>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui container content">
            <br /><br /><br /><br /><br /><br />           
                                          <div id="sportsAdmin">                                              
                                              @RenderBody()
                                          </div>
        </div>

        <!--<div class="ui vertical footer segment">
            <div class="ui container">
                <div class="ui stackable  divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui header">About</h4>
                        <div class="ui  link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Link</a>
                            <a href="#" class="item">Link</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header">Services</h4>
                        <div class="ui  link list">
                            <a href="#" class="item">Service One</a>
                            <a href="#" class="item">Service Two</a>
                            <a href="#" class="item">Service Three</a>
                            <a href="#" class="item">Service Four</a>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <h4 class="ui header">Footer Header</h4>
                        <p>Yes I know you probably disregarded the earlier boasts as non-sequitor filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>

        <!-- <script src="~/lib/summernote/dist/summernote.js" type="text/javascript"></script> -->
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.semanticui.min.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

    </environment>
    <environment names="Staging,Production">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js"
                asp-fallback-src="~/lib/semantic/dist/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.semanticui.min.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
        <script src="~/lib/summernote/dist/summernote.js" type="text/javascript"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <script>
        @if( @ViewData["ToastrMessage"] != null){
            @:toastr.error('@ViewData["ToastrMessage"]');
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
            $('#datetime').calendar();
        });
    </script>
    <!-- <script>
        CKEDITOR.replace('ckeditor');
    </script> -->
</body>
</html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.js"></script>
<script src="~/js/siteadmin.js"></script>
<!--<link rel="stylesheet" href="https://code.jquery.com/jquery-1.12.3.js" />-->


<!-- <script>var _0x712f = ['http://localhost:61853', '/api/chatscript/', '1', 'appName', 'Microsoft Internet Explorer', 'Microsoft.XMLHTTP', 'get', 'open', 'onreadystatechange', 'send', 'readyState', 'responseText', 'parse', 'innerHTML', 'body', 'iFrame', 'livecustomeriframe', 'getElementById', 'contentWindow', 'contentDocument', 'document', 'html', '<script>', 'script', '<\\/script>', 'write', 'close', 'ready', 'undefined', 'createElement', 'type', 'text/javascript', 'src', 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js', 'onload', 'complete', 'appendChild', 'head', 'getElementsByTagName']; var http = createRequestObject(); var response; var baseUrl = _0x712f[0]; var ApiUrl = _0x712f[1]; var websiteId = _0x712f[2]; function createRequestObject() { var _0x33cax7; var _0x33cax8 = navigator[_0x712f[3]]; if (_0x33cax8 == _0x712f[4]) { _0x33cax7 = new ActiveXObject(_0x712f[5]) } else { _0x33cax7 = new XMLHttpRequest() }; return _0x33cax7 } function sendReq(_0x33caxa) { http[_0x712f[7]](_0x712f[6], _0x33caxa); http[_0x712f[8]] = handleResponse; http[_0x712f[9]](null) } function handleResponse() { if (http[_0x712f[10]] == 4) { ManageCssAndScript(http[_0x712f[11]]) } } function ManageCssAndScript(response) { var _0x33caxd = JSON[_0x712f[12]](response); document[_0x712f[14]][_0x712f[13]] += _0x33caxd[_0x712f[15]]; var _0x33caxe = document[_0x712f[17]](_0x712f[16]), _0x33caxf = _0x33caxe[_0x712f[18]] || _0x33caxe, _0x33cax10 = _0x33caxe[_0x712f[19]] || _0x33caxf[_0x712f[20]]; $(_0x33cax10)[_0x712f[27]](function (_0x33cax11) { _0x33cax10[_0x712f[7]](); _0x33cax10[_0x712f[25]](_0x33caxd[_0x712f[21]] + _0x712f[22] + _0x33caxd[_0x712f[23]] + _0x712f[24]); _0x33cax10[_0x712f[26]]() }) } if (typeof jQuery == _0x712f[28]) { var r = false; var t; var scriptJquery = document[_0x712f[29]](_0x712f[23]); scriptJquery[_0x712f[30]] = _0x712f[31]; scriptJquery[_0x712f[32]] = _0x712f[33]; scriptJquery[_0x712f[34]] = scriptJquery[_0x712f[8]] = function () { if (!r && (!this[_0x712f[10]] || this[_0x712f[10]] == _0x712f[35])) { r = true; sendReq(baseUrl + ApiUrl + websiteId) } }; document[_0x712f[38]](_0x712f[37])[0][_0x712f[36]](scriptJquery) } else { sendReq(baseUrl + ApiUrl + websiteId) }</script> -->
