<script src="~/lib/toastr/toastr.js"></script>
<link rel="stylesheet" href="~/lib/toastr/toastr.css" />
<environment names="Development">
    <!-- <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script> -->
    <!-- <script src="~/js/semantic.validation.js"></script> -->
    <!-- <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> -->
</environment>
<environment names="Staging,Production">
    <!-- <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"> -->

    </script>
    <!-- <script src="~/js/semantic.validation.min.js"></script> -->
    <!-- <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script> -->
</environment>