@using Microsoft.AspNetCore.Http
@model Sportsmandu.Models.League.PartnerCreateViewModel
@{
    ViewBag.Title = "Create " + @ViewContext.RouteData.Values["Controller"];
}
<div class="contact-page-section sec-spacer">
    <div class="container">
        @using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{    
    @Html.AntiForgeryToken()<h4 class="title-bg">Create @ViewContext.RouteData.Values["Controller"]</h4>    
<div class="form-horizontal col-md-10">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input class="form-control text-box single-line hidden" data-val="true" id="CultureId" name="CultureId" type="number" value="@ViewContext.RouteData.Values["culture"]">
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        <input class="form-control text-box single-line hidden" data-val="true" id="multilingualid" name="multilingualid" type="number" value="0">
    }
    else
    {      
         <input class="form-control text-box single-line hidden" data-val="true" id="multilingualid" name="multilingualid" type="number" value="@ViewContext.RouteData.Values["multilingualid"]">
    } 
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
    </div>    
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
    </div>    
    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Image" id="Image" class="form-control" type="file" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>
     <div class="form-group">
        @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Summary" id="Summary" class="form-control" type="text" />
            @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
        @Html.TextAreaFor(model => model.Description)
                </div>
    </div>
        <button class="btn-send" type="submit">Create @ViewContext.RouteData.Values["Controller"]</button>
    </div>
    }
</div>

</div>

  @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
                $('textarea').each(function () {
                var editor = new Jodit(this);
                editor.value = '<p></p>';
                });            
            }, 3000);        
     </script>
    }