﻿<div class="modal" id="adminMessage">
    <br /><br />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sportsmandu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{adminMessage}}<br /><img v-if="adminMessage != ''" src="https://sportsmandu.com/Images/loading.gif" />
                <div v-if="adminMessage == ''" class="fb-page"
                     data-href="https://www.facebook.com/sportsmandu"
                     data-width="300"
                     data-hide-cover="false"
                     data-show-facepile="false"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="SegmentRights">
    <br /><br />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sportsmandu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{adminMessage}}<br /><img v-if="adminMessage != ''" src="https://sportsmandu.com/Images/loading.gif" />
            </div>
        </div>
    </div>
</div>