﻿@if (!Model)
{
    <div id="Contribution" role="alert" class="alert alert-info alert-dismissible fade show" style="
                                          background-color: #fbc02d;
                                          border-color: #bee5eb;">
        @*Are you related to this Club ? Click Here <br /><br />*@
        Sports enthusiast ? Freelancer ? Looking for Some Work ? Good English ? We Are Hiring !<br /> This page is marked as incomplete ! Want to contribute the contents and earn rewards ? <a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Apply">Contact Here !</a>
    </div>
}