﻿@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@*@if (showBanner)
{*@
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show center" role="alert" style="margin-bottom: 0rem;background:#d6ad46;color:white">        
        <strong style="align-items:center">This Website is Under Construction</strong>   <a asp-area="" asp-controller="Home" asp-action="Construction">Learn More</a>.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
@* } *@