﻿<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
<script>
	alert("Loading Desc Editor")
	setTimeout(function () {
		$('textarea').each(function () {
			var editor = new Jodit(this);
			editor.value = '@Model.Description';
		});
	}, 3000);
</script>