﻿<div v-if="route=='employee'">
    <form v-on:submit.prevent>
        <button @@click="loadAllDesignation();addNewClubEmployee()" class="form-control">Add New Employee</button>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-6 col-xs-6" v-for="(player, id) in clubEmployees" :key="id">
                    <div class="single-product text-center">
                        <div class="product-image">
                            <div class="overly"></div>
                            <a href="~/">
                                <img v-if="id == clubEmployeesIndexEdit" :src="getEmployeeImage(player.id)"
                                     width="193" style="height: 140px;">
                                <img v-if="id !== clubEmployeesIndexEdit && player.image != null" :src="player.image" width="193"
                                     style="height: 140px;">
                            </a>
                        </div>
                        <div class="product-details">
                            <div class="product-tile">
                                <i class="fa fa-edit" @@click="clubEmployeesIndexEdit = id"></i>
                                <a target="_blank" :href="baseUrl + 'Admin/Players/Edit/' + player.id">{{player.name}}<br>{{player.designationName}}</a>
                                <i class="fa fa-trash" @@click="deleteEmployee(player)"></i>
                                <td v-if="id == clubEmployeesIndexEdit">
                                    <select v-model="player.designationId" v-if="id == clubEmployeesIndexEdit" class="chosen">
                                        <option disabled value="">Please select one</option>
                                        <option v-for="designation in allEmployeeDesignation" v-bind:value="designation.id">
                                            {{ designation.name }}
                                        </option>
                                    </select>
                                    <input v-if="id == clubEmployeesIndexEdit" v-model="employeeSearch" type="text" v-on:input="onSearchEmployeeName" />
                                </td>
                            </div>
                            <div class="product-cart" v-if="id == clubEmployeesIndexEdit">
                                <a href="#">
                                    <i class="fa fa-save" @@click="saveEmployee(player)"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>