﻿<div class="instagram-btn">
    <div class="btn-instagram">
        @Html.Raw(this.Context.Items["layout_support_us"])
        <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
</div>
<div class="content-instagram">
    <div id="instafeed"></div>
</div>
<footer id="footer">
    @*<div class="top-footer">
        <div class="col-lg-12">
            <div class="logo-footer">
                <h2>Sportsmandu</h2>
            </div>
        </div>
        <ul class="social">
            <li>
                <div>
                    <a href="http://facebook.com/sportsmandu" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="twitter-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="vimeo">
                        <i class="fa fa-vimeo-square"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="youtube">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>*@
    <div class="links-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>Associations</h5>
                        <ul>
                            @*@foreach (var Association in this.Context.Items["association_list"] as List<Sportsmandu.Models.Association.AssociationVMFORES>)
                            {
                                <li><a href="~/@Association.URL">@Association.Name</a></li>
                            }*@
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-7">
                    <div class="info-links">
                        <h5>@this.Context.Items["layout_useful_link"]</h5>
                        <ul class="columns">
                            <li class="active"><a href="~/@ViewContext.RouteData.Values["Culture"]">@this.Context.Items["layout_useful_links_home"]</a></li>
                            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["layout_useful_links_about"]</a></li>
                            <li><a href="https://moys.gov.np/">@this.Context.Items["layout_useful_links_ministry_of_sports"]</a></li>
                            <li><a href="http://nsc.gov.np/">@this.Context.Items["layout_useful_links_nepal_sports_association"]</a></li>
                            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["layout_useful_links_contact_us"]</a></li>
                            @{ 
//string nepalPoliceClub = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "नेपाल प्रहरी क्लब " : "Nepal Police Club";
//string nepalarmyClub = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "नेपाल Army क्लब " : "Nepal Army Club";
//string armedPoliceFoce = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "Sasastra प्रहरी Bal" : "Armed Police Force";
//string nepalPoliceClubUrl = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "" : "";
//string nepalARmyClubUrl = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "" : "";;
//string armedPoliceClubUrl = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "" : "";
                            }
                            @*<li><a href="@nepalPoliceClubUrl">@nepalPoliceClub</a></li>
                            <li><a href="@nepalARmyClubUrl">@nepalarmyClub</a></li>
                            <li><a href="@armedPoliceClubUrl">@armedPoliceFoce</a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>Interest Links</h5>
                        <ul>
                            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Alexa/sportsmandu.com">Statistics</a></li>
                            <li><a href="#">Online Tickets</a></li>
                            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Advertise">Advertise</a></li>
                            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-7">
                    <div class="info-links">
                        <h5>Sports Venues</h5>
                        <ul class="columns">
                            @*@foreach (var Association in this.Context.Items["Footer_Venues"] as List<Sportsmandu.Model.Entities.Ground.GroundVMFORES>)
                            {
                                <li><a href="~/@Association.URL">@Association.Name</a></li>
                            }*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="footer-down">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                <p>@Html.Raw(this.Context.Items["layout_footer_copyright"])</p>
            </div>
        </div>
    </div>
</div>
</footer>










@*<div class="instagram-btn">
    <div class="btn-instagram">
        <!-- <i class="fa fa-facebook"></i> -->
        @Html.Raw(this.Context.Items["layout_support_us"])
        <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
</div>
<div class="content-instagram">
    <div id="instafeed"></div>
</div>
<footer id="footer-section" class="footer-section">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="footer-title">@this.Context.Items["footer_about_us"]</h4>
                    <div class="about-widget">
                        <p>@this.Context.Items["footer_about_us_description"]</p>
                        @*<p class="margin-remove">Contact us if you are missed !!.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-title">@this.Context.Items["latest_news"]</h4>
                    <div class="recent-post-widget">
                        @if (this.Context.Items["Footer_News"] != null)
                        {
                            @foreach (var News in this.Context.Items["Footer_News"] as List<Sportsmandu.Model.Entities.Blog.BlogPostVMFORES>)
                            {
                                <div class="post-item">
                                    <div class="post-date">
                                        <time datetime="@News.PublishDate"></time>
                                        <!-- <img src="~/@News.Thumbnail"> -->
                                    </div>
                                    <div class="post-desc">
                                        <h5 class="post-title"><a href="~/@News.URL">@News.Title</a></h5>
                                        <span class="post-category">@News.Type</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-title">@this.Context.Items["layout_useful_link"]</h4>
                    <ul class="sitemap-widget">
                        <li class="active"><a href="~/@ViewContext.RouteData.Values["Culture"]">@this.Context.Items["layout_useful_links_home"]</a></li>
                        <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["layout_useful_links_about"]</a></li>
                        <li><a href="https://moys.gov.np/">@this.Context.Items["layout_useful_links_ministry_of_sports"]</a></li>
                        <li><a href="http://nsc.gov.np/">@this.Context.Items["layout_useful_links_nepal_sports_association"]</a></li>
                        <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["layout_useful_links_contact_us"]</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-title">@this.Context.Items["layout_newsletter"]</h4>
                    <div v-if="newsLetter.subscribed">
                        @Html.Raw(this.Context.Items["newsletter_thankyou"])
                        Thank you for subscribing to our Newsletter. We will send all our Website Related news to your Email Address
                    </div>
                    <form v-on:submit.prevent class="footer-subscribe" v-if="!newsLetter.subscribed">
                        <input v-model="newsLetter.name" type="text" class="form-input" placeholder="@this.Context.Items["layout_newsletter_name"]">
                        <input v-model="newsLetter.email" type="email" class="form-input" placeholder="@this.Context.Items["layout_newsletter_email"]">
                        <button @@click="SaveNewsletter" class="btn-send" style="width:100%">@this.Context.Items["layout_newsletter_send"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-10">
                    <div class="copyright">
                        <p>@Html.Raw(this.Context.Items["layout_footer_copyright"])</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="text-right ft-bottom-right">
                        <div class="footer-bottom-share">
                            <ul>
                                <li><a href="https://facebook.com/sportsmandu"><i class="fa fa-facebook"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-telegram"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>*@   