﻿<div class="tab-pane" id="gallery">

    <div class="row align-items-center">
        <div class="col-lg-4">
            <h3 v-if="selectedGallery.id === null" class="clear-title no-margin">Albums</h3>
            <h3 v-if="selectedGallery.id !== null" class="clear-title no-margin">{{selectedGallery.name}}</h3>
        </div>
        <div class="col-lg-3">            
        </div>
        <div class="col-lg-5">
            <h3 align="right" v-if="selectedGallery.id !== null" class="clear-title no-margin"><span @@click="selectedGallery.id=null">Back to Gallery</span></h3>
        </div>
    </div>
    <div class="row portfolioContainer margin-top">
        <div v-if="gallery.length == 0">
            No Gallery Found for @Model.Name .
        </div>
        <div v-if="selectedGallery.id === null" class="col-sm-6 col-lg-4 col-xl-3" v-for="gallery in gallery">
            <div class="item-gallery">
                <div class="hover small">
                    <img :src="baseUrl + gallery.thumbnail" :alt="gallery.name" @@click="selectedGallery = gallery" />
                </div>
                <div class="info-gallery">
                    <p @@click="selectedGallery = gallery">{{gallery.name}}</p>
                    <i class="fa fa-picture-o"></i>
                </div>
            </div>
        </div>
        <div v-if="selectedGallery.id !== null" class="col-sm-6 col-lg-4 col-xl-3" v-for="photo in selectedGallery.photos">
            <div class="item-gallery">
                <div class="hover small">
                    <img :src="baseUrl + photo.thumbnail" :alt="photo.name" />
                    <a class="swipebox-ligbox" :href="baseUrl + photo.thumbnail">
                        <div class="overlay"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
                <div class="info-gallery">
                    <p @@click="selectedGallery = gallery">{{photo.name}}</p>
                    <i class="fa fa-picture-o"></i>
                </div>
            </div>
        </div>
    </div>
    @*@Model.Name Gallery
        @foreach (var items in Model.Gallery)
        {
            <h1>sdfdsf</h1>
        }*@
</div>