﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" />
<button type="button" class="btn btn-send" data-toggle="modal" data-target="#myGallery" @@click="loadGallery()">Gallery</button>
<div class="modal" id="myGallery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Gallery !!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" @@click="addGallery()">
                    Add Album
                </button>
                <div>                    
                    <div v-for="(gallery,id) in myGallery" :key="id" @@click="myGalleryPhotos= []; selectedGallery = gallery;initDropZone();loadGalleryImages()">
                        <input type="text" v-if="id == galleryIndexEdit" v-model="gallery.name" />
                        <button type="button" v-if="id == galleryIndexEdit" class="btn btn-default" @@click="saveGallery(gallery)">Save</button>
                        <h3><span v-if="id !== galleryIndexEdit && selectedGallery == gallery || selectedGallery == null">{{gallery.name}}</span> <span style="background-color:red" @@click="deleteGallery(gallery.id)">Delete</span></h3>
                    </div>
                        <span v-if="selectedGallery != null" @@click="selectedGallery = null">Back</span>
                </div>
                <div v-if="selectedGallery != null">
                    <div id="myDropZone" class="dropzone">
                    </div>
                    <div v-if="myGalleryPhotos != null" class="col-md-12">
                        <div v-for="images in myGalleryPhotos">                            
                            <img :src="baseUrl + images.thumbnail" style="width:150px" />
                            <span @@click="deleteGalleryPhotos(images.id)" style="background-color:red">Delete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>