﻿<header>
    <div class="headerbox">
        <div class="container">
            <div class="row justify-content-between align-items-center">                
                <div class="col">
                    <div class="logo">
                        @{
                            string Message = string.Empty;
                           Message= ViewContext.RouteData.Values["Culture"] != null ?  ViewContext.RouteData.Values["Culture"].ToString() : "Np";
                        }
                        <a href="~/@Message/Home/Construction" title="Return Home">
                            <img src="~/images/logo.png" alt="Logo" class="logo_img img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col" style="padding-left: 15%;height: 80px;">
                    <div class="adds">
                        <a href="https://redbull.com" target="_blank">
                            <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c1e8.png" alt="" class="img-responsive logo_img" style="height: 80px;">
                        </a>
                    </div>                    
                </div>
                <div class="col" align="right">
                    <div class="adds">
                        <a href="https://samsung.com" target="_blank">
                            <img src="~/images/Advt/samsung.png" alt="" class="img-responsive logo_img" style="height: 80px;">                            
                        </a>
                    </div>
                    <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>                    
                </div>
            </div>
        </div>
    </div>
</header>
<partial name="_menu" />