﻿@model IEnumerable<Sportsmandu.Model.Entities.ViewModels.AdminViewModel>
<div class="our-products-section our-products-page sec-spacer">
			<div class="container">
				<div class="row">
@foreach (var Items in Model) {
<div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-product text-center">
                        <div class="product-image">
                            <div class="overly"></div>
                            <a href="~/Admin/@ViewContext.RouteData.Values["controller"]/Edit/@Items.Id"><img class="lazy" data-src="@Items.Thumbnail" alt="@Items.Name" /></a>
                        </div>
                        <div class="product-details">
                            <div class="product-tile">
                                <a href="~/Admin/@ViewContext.RouteData.Values["controller"]/Edit/@Items.Id">@Items.Name</a>
                                <span></span>
                            </div>
                            <div class="product-cart">


                                @if (@Items.Id != 0)
                                {
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                    <a href="~/Admin/@ViewContext.RouteData.Values["controller"]/Edit/@Items.Id">Edit </a>
                                </a>
                                        }
                                  
                                    <BR>
                                    @if (@Items.Converted == false)
                                    {
                                        <a href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create/@Items.multilingualid">Translate</a>
                                    }
                                </div>
            </div>
        </div>
    </div>
}
</div>
</div>
</div>
@if(@Model.Count() == 0){
    <h1>No Result Found</h1>
}
<br><br><br><br><br>