﻿@using Sportsmandu.Model.Entities.ViewModels;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @{
        string Title = ViewContext.RouteData.Values["Culture"] != null ? ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "स्पोर्ट्समाण्डु" : "Sportsmandu" : "Sportsmandu";
    }
    <title>@ViewData["Title"] - @Title</title>
    <meta name="keywords" content="Sportsmandu" />
    <meta name="author" content="Syntech Engineering">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="@ViewData["OG:Image"]" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:url" content="@ViewData["og:url"]" />
    <meta property="og:site_name" content="Sportsmandu" />
    <meta property="og:description" content="@ViewData["og:description"]" />
    <meta property="og:type" content="@ViewData["og:type"]" />
    <meta property="fb:app_id" content="2086666778115750" />
    <link href="~/assets/css/main.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav.ico">
    <link rel="apple-touch-icon" href="~/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/icons/apple-touch-icon-114x114.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1428209939997083",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<h1 hidden>Jobs Abroad , Games Online , Cool Jobs , Games Download , Find Jobs , Sports Jobs</h1>
@if (@ViewData["ToastrMessage"] != null)
{
    @: toastr.error('@ViewData["ToastrMessage"]');
}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1373568719321446&autoLogAppEvents=1"></script>
<div id="sportsSignalR">

</div>
<div id="sportsManduMainPage">
    <div id="layout">
        <partial name="_CookieConsentPartial"/>
        <partial name="_header"/>
        @RenderBody()
    </div>
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<environment names="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</environment>
<environment names="Staging,Production"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</environment>
@*<script src="https://sportsmandu.com/aspnet/signalr/dist/browser/signalr.js"></script>*@
<script src="~/aspnet/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/assets/js/popper.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/theme-scripts.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/theme-main.js" asp-append-version="true"></script>
<environment names="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/siteSignalR.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/siteSignalR.min.js" asp-append-version="true"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "6a6b9e8f-d432-4aa0-81e4-5b4fa1e21ac0",
            });
        });
    </script>
</environment>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133838094-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());

    gtag('config', 'UA-133838094-2');
</script>
<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment-with-locales.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" async="">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" async=""></script>
@try
{
    @if (@ViewContext.RouteData.Values["Culture"] != null && @ViewContext.RouteData.Values["Culture"].ToString() == "Np")
     {
         <script>
             moment.locale("ne");
         </script>
     }
}
catch (Exception ex)
{

}
<script>
    jQuery(document).ready(function($) {
        setTimeout(function() {
                var now = moment();
                $('time').each(function(i, e) {
                    var time = moment($(e).attr('datetime'));
                    if (now.diff(time, 'days') <= 1) {
                        $(e).html('<span>' + time.from(now) + '</span>');
                    } else {
                        $(e).html('<span>' + moment(time).format('LL') + '</span>');
                    }
                });
            },
            2000)
    });
</script>
<partial name="_footer"/>
</body>
</html>
<style>
    .blink {
        width: 200px;
        height: 50px;
        background-color: magenta;
        padding: 15px;
        text-align: center;
        line-height: 50px;
    }

    .blinkingtext {
        font-size: 25px;
        font-family: cursive;
        color: black;
        animation: blink 1s linear infinite;
    }

    @@keyframes blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: .5;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<style>
    .profile_image {
        padding-top: 5px !important;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .profile_image {
        padding-top: 5px !important;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .prediction-image {
        width: 30%;
        height: 90px;
        padding: 20px;
    }

        .prediction-image:hover {
            border: dashed;
            border-color: sandybrown;
        }

    .blink {
        width: 200px;
        height: 50px;
        background-color: magenta;
        padding: 15px;
        text-align: center;
        line-height: 50px;
    }

    .blinkingtext {
        font-size: 25px;
        font-family: cursive;
        color: black;
        animation: blink 1s linear infinite;
    }

    @@keyframes blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: .5;
        }

        100% {
            opacity: 1;
        }
    }

    .drawclass {
        width: 100%;
        align-content: center;
    }
</style>
@Html.Partial("_adminMessage");
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" rel="stylesheet" media="screen">
<script>
    sportsmanduApp.currentCulture = '@ViewContext.RouteData.Values["Culture"]';
</script>
@if (ViewBag.Matches != null)
    {
<script>
        sportsmanduApp.allMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.Matches)));
</script>
    }

@if (ViewBag.MyPredictions != null)
    {
        <script>
            sportsmanduApp.myPredictions = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.PredictionVMFORES>)ViewBag.MyPredictions)));
        </script>
        }
@*<script>
    $(document).ready
        (function () {
            alert("Here");
            //setTimeout(function () {
            //    introJs().start();
            //}, 3000);
            //setTimeout(function () {
            //    $('#adminMessage').modal('show');
            //}, 1000 * 60 * 2);
        });
</script>*@
@RenderSection("Scripts", required: false)