﻿<!doctype html>
<html class="no-js" lang="ne-np">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @{
        string Title = ViewContext.RouteData.Values["Culture"] != null ? ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "स्पोर्ट्समाण्डु" : "Sportsmandu" : "Sportsmandu";
    }
    <title>@ViewData["Title"] - @Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav.ico">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/rsmenu-main.css">
    <link rel="stylesheet" href="~/css/rsmenu-transitions.css">
    <link rel="stylesheet" href="~/css/hover-min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/time-circles.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script async type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ca038986f05b20011c6d81b&product=' inline-share-buttons' async='async'></script>
</head>
<body class="home-two">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1373568719321446&autoLogAppEvents=1"></script>
    <!--Preloader start here-->
    @*<div id="sportsSignalR">

        </div>*@
    <div id="sportsManduMainPage">
        <!-- <div id="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div> -->
        <header>
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="header-top-left">
                                @*@await Component.InvokeAsync("Culture")*@
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="social-media-area">
                                <nav>
                                    <ul>
                                        <li><a href="https://facebook.com/sportsmandu"><i class="fa fa-facebook"></i></a></li>
                                        <partial name="_LoginPartial" />
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle-area menu-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12 logo">
                            <a href="~/"><img src="~/images/logo.png" alt="logo"></a>
                        </div>
                        @if (ViewContext.RouteData.Values["Area"] != null && ViewContext.RouteData.Values["Area"].ToString().ToLower() == "admin")
                        {
                        <div class="col-md-10 col-sm-12 col-xs-12 mobile-menu">
                            <div class="main-menu">
                                <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                                <nav class="rs-menu">
                                    <ul class="nav-menu">
                                        <li><a href="~/Admin/1/">DashBoard</a></li>
                                        <li><a href="~/Admin/1/Players/">Players</a></li>
                                        <li><a href="~/Admin/1/Clubs/">Clubs</a></li>
                                        <li><a href="~/Admin/1/Associations/">Associations</a></li>
                                        <li><a href="~/Admin/1/Seasons/">Seasons</a></li>
                                        <li><a href="~/Admin/1/Leagues/">League</a></li>
                                        <li><a href="~/Admin/1/Videos/">Videos</a></li>
                                        <li><a href="~/Admin/1/Blogs/">News</a></li>
                                        <li><a href="~/Admin/1/Grounds/">Grounds</a></li>
                                    </ul>
                                </nav>
                                <!-- <div class="search">
                                    <a class="rs-search" data-target=".search-modal" data-toggle="modal" href="asdasdasdsad"><i class="fa fa-search"></i></a>
                                </div>                                 -->
                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="col-md-10 col-sm-12 col-xs-12 mobile-menu">
                            <div class="main-menu">
                                <a class="rs-menu-toggle"><i class="fa fa-bars"></i>@this.Context.Items["menu_menu"]</a>

                                <nav class="rs-menu">
                                    <ul class="nav-menu">
                                        <li class="current-menu-item current_page_item"><a href="~/@ViewContext.RouteData.Values["Culture"]/Home">@this.Context.Items["menu_home"]</a></li>
                                        <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/News">@this.Context.Items["menu_news"]</a></li>
                                        <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["menu_contact_us"]</a></li>
                                    </ul>
                                </nav>
                                <div class="search">
                                    <a class="rs-search" data-target=".search-modal" data-toggle="modal" href="sfdgsdgdfg"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </header>
        <div id="@(ViewContext.RouteData.Values["Area"] !=null && ViewContext.RouteData.Values["Area"].ToString() == "Admin" ? "sportsAdmin":"")">
            <div align="center" v-if="loading"><img src="~/images/loading.gif" /></div>
            @if (ViewContext.RouteData.Values["Area"] != null && ViewContext.RouteData.Values["Area"].ToString() == "Admin")
            {
            }
            @RenderBody();
        </div>
        @if (ViewContext.RouteData.Values["Area"] == null)
        {
        <footer id="footer-section" class="footer-section">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="footer-title">@this.Context.Items["footer_about_us"]</h4>
                            <div class="about-widget">
                                <p>@this.Context.Items["footer_about_us_description"]</p>
                                <p class="margin-remove"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer-title">@this.Context.Items["latest_news"]</h4>
                            <div class="recent-post-widget">
                                @if (this.Context.Items["Footer_News"] != null)
                                    {
                                @foreach (var News in this.Context.Items["Footer_News"] as List<Sportsmandu.Model.Entities.Blog.BlogPostVMFORES>)
                                        {
                                <div class="post-item">
                                    <div class="post-date">
                                        <time datetime="@News.PublishDate"></time>
                                        <!-- <img src="~/@News.Thumbnail"> -->
                                    </div>
                                    <div class="post-desc">
                                        <h5 class="post-title"><a href="~/@News.URL">@News.Title</a></h5>
                                        <span class="post-category">@News.Type</span>
                                    </div>
                                </div>
                                        }
                                    }
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer-title">@this.Context.Items["layout_useful_link"]</h4>
                            <ul class="sitemap-widget">
                                <li class="active"><a href="~/@ViewContext.RouteData.Values["Culture"]">@this.Context.Items["layout_useful_links_home"]</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["layout_useful_links_about"]</a></li>
                                <li><a href="https://moys.gov.np/">@this.Context.Items["layout_useful_links_ministry_of_sports"]</a></li>
                                <li><a href="https://nsc.gov.np/">@this.Context.Items["layout_useful_links_nepal_sports_association"]</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["layout_useful_links_contact_us"]</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer-title">@this.Context.Items["layout_newsletter"]</h4>
                            <div v-if="newsLetter.subscribed">
                                @Html.Raw(this.Context.Items["newsletter_thankyou"])
                                Thank you for subscribing to our Newsletter. We will send all our Website Related news to your Email Address
                            </div>
                            <form v-on:submit.prevent class="footer-subscribe" v-if="!newsLetter.subscribed">
                                <input v-model="newsLetter.name" type="text" class="form-input" placeholder="@this.Context.Items["layout_newsletter_name"]">
                                <input v-model="newsLetter.email" type="email" class="form-input" placeholder="@this.Context.Items["layout_newsletter_email"]">
                                <button @@click="SaveNewsletter" class="btn-send" style="width:100%">@this.Context.Items["layout_newsletter_send"]</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-10">
                            <div class="copyright">
                                <p>@Html.Raw(this.Context.Items["layout_footer_copyright"])</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="text-right ft-bottom-right">
                                <div class="footer-bottom-share">
                                    <ul>
                                        <li><a href="https://facebook.com/sportsmandu"><i class="fa fa-facebook"></i></a></li>
                                        <!-- <li><a href="sdfsdfsf"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="sdfdsf"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="sdfsdfsdfsdf"><i class="fa fa-youtube"></i></a></li> -->
                                        <!-- <li><a href="fdgdfg"><i class="fa fa-telegram"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <partial name="_searchBar" />
        }
        @*<div id="return-to-top">
                <span>Top</span>
            </div>*@
    </div>
    <script src="~/js/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    @*<script src="~/aspnet/signalr/dist/browser/signalr.js"></script>*@

    @if (ViewContext.RouteData.Values["Controller"] != null  && ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "globalizations")
        {
    <script src="~/Js/siteGlobalization.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.min.js"></script>
        }
        else
        {
    <environment names="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.js"></script>
        <script src="~/js/siteadmin.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.min.js"></script>
        <script src="~/js/siteadmin.min.js" asp-append-version="true"></script>
    </environment>
        }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
    <script src="~/js/rsmenu-main.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.meanmenu.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/masonry.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/js/time-circle.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment-with-locales.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133838094-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-133838094-2');

    </script>
    <script>
        jQuery(document).ready(function ($) {
            jQuery('.datetimepicker').datetimepicker();
            if (window.location.href.indexOf("/Np/") > 0) {
                moment.locale("ne");
            }
            var now = moment();
            $('time').each(function (i, e) {
                var time = moment($(e).attr('datetime'));
                if (now.diff(time, 'days') <= 1) {
                    $(e).html('<span>' + time.from(now) + '</span>');
                } else {
                    $(e).html('<span>' + moment(time).format('LL') + '</span>');
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var lazyloadImages;
            if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function (entries, observer) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            var image = entry.target;
                            if (image.dataset.load == "backgroundcssload") {
                                image.style.background = "url('https://sportsmandu.com/" + image.dataset.src + "')";
                                //console.log("here :",image.style);
                            } else {
                                if (image.dataset.src != null)
                                    if (image.dataset.src.toLowerCase().indexOf("youtube") === -1 && image.dataset.src.toLowerCase().indexOf("http") === -1) {
                                        image.src = "https://sportsmandu.com/" + image.dataset.src;
                                    } else {
                                        image.src = image.dataset.src;
                                    }
                            }
                            //console.log(image);
                            image.classList.remove("lazy");
                            imageObserver.unobserve(image);
                        }
                    });
                });

                lazyloadImages.forEach(function (image) {
                    imageObserver.observe(image);
                });
            } else {
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".lazy");

                function lazyload() {
                    if (lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }

                    lazyloadThrottleTimeout = setTimeout(function () {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function (img) {
                            if (img.offsetTop < (window.innerHeight + scrollTop)) {
                                if (image.dataset.src != null)
                                    if (image.dataset.src.toLowerCase().indexOf("youtube") === -1 && image.dataset.src.toLowerCase().indexOf("http") === -1) {
                                        image.src = "https://sportsmandu.com/" + image.dataset.src;
                                    } else {
                                        image.src = image.dataset.src;
                                    }
                                img.classList.remove('lazy');
                            }
                        });
                        if (lazyloadImages.length == 0) {
                            document.removeEventListener("scroll", lazyload);
                            window.removeEventListener("resize", lazyload);
                            window.removeEventListener("orientationChange", lazyload);
                        }
                    }, 20);
                };
                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
            }
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" async="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" async=""></script>
    <script>
            @if(@ViewData["ToastrMessage"] != null){
                @:toastr.error('@ViewData["ToastrMessage"]');
            }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
</body>
</html>