@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
    {
        {
        string pp = "https://sportsmandu.com/images/users/Image/" + User.Identity.Name.Replace("@", "").Replace(".", "") + ".jpg";
<li style="padding:0">
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">        
        <img class="profile_image" src="@pp" />
    </a>
</li>
<li class="sign">
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
        <button type="submit" class="nav-link btn">Logout</button>
    </form>
</li>
        }
    }
    else
    {
@*<li class="sign"><a asp-area="Identity" asp-page="/Account/Register"><span></span>@this.Context.Items["layout_menu_signup"]</a></li>*@
<li class="log"><a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;@this.Context.Items["layout_menu_login"]</a></li>
    }