﻿<nav class="mainmenu">
    <div class="container">
        <ul class="sf-menu" id="menu">
            <li class="current"><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Construction">@this.Context.Items["menu_home"]</a></li>
            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/FbPredictions">@this.Context.Items["menu_predictions"]</a></li>
            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/News">@this.Context.Items["menu_news"]</a></li>
            @*<li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Game">Online Games</a></li>*@
            <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["menu_contact_us"]</a></li>
            <partial name="_LoginPartial" />
            @*<cache expires-after="@TimeSpan.FromMinutes(5)">*@
            <li class="right">@await Component.InvokeAsync("Culture")</li>
            @*</cache>*@

        </ul>
    </div>
</nav>
<div id="mobile-nav">
    <ul>
        <li class="current"><a href="~/@ViewContext.RouteData.Values["Culture"]/Home">@this.Context.Items["menu_home"]</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/FbPredictions">@this.Context.Items["menu_predictions"]</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/News">@this.Context.Items["menu_news"]</a></li>
        @*<li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Game">Online Games</a></li>*@
        <li><a href="~/@ViewContext.RouteData.Values["Culture"]/Home/Contact">@this.Context.Items["menu_contact_us"]</a></li>
        <partial name="_LoginPartial" />
    </ul>    
</div>