﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    <div class="modal" id="myModal">
        <br /><br />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Predict And Win !!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="modal-body">
                        <div v-if="getPrediction(predictedFixture.fixtureGuid) != 'Already Predicted' && selectedFixture != null">
                            <img :src="baseUrl + selectedFixture.teams[0].thumbnail" @@click="predictedFixture.team = selectedFixture.teams[0];predictedFixture.teamId = selectedFixture.teams[0].id;predictedFixture.prediction='Win'" style="height:50px" alt="selectedFixture.teams[0].name"/>
                            <img :src="baseUrl + selectedFixture.teams[1].thumbnail" @@click="predictedFixture.team = selectedFixture.teams[1];predictedFixture.teamId = selectedFixture.teams[1].id;predictedFixture.prediction='Win'" style="height:50px" alt="selectedFixture.teams[0]"/>
                            <span @@click="predictedFixture.prediction='Draw'">Click Here If You Predict The Game Will Be DRAW </span>
                        </div>
                    </div>
                    <div v-if="predictedFixture.prediction != null && selectedFixture !== null && predictedFixture.prediction == 'Draw'">
                        <h4><strong>As Per your Prediction The Game Will Be Draw ! </strong></h4>
                        <span v-if="getPrediction(predictedFixture.fixtureGuid) != 'Already Predicted'">Click " Save and Close" Button Below to register your prediction</span>
                    </div>
                    <div v-if="predictedFixture.prediction != null && selectedFixture !== null && predictedFixture.prediction == 'Win' && predictedFixture.team != null">
                        <h4><strong>As Per Your Prediction {{predictedFixture.team.name}} will Win the Game </strong></h4>
                        <span v-if="getPrediction(predictedFixture.fixtureGuid) != 'Already Predicted'">Click " Save and Close" Button Below to register your prediction</span>
                    </div>                    
                    <div class="modal-footer">                        
                        <button v-if="getPrediction(predictedFixture.fixtureGuid) != 'Already Predicted'" v-if="predictedFixture.prediction != null && predictedFixture.prediction !== 'Please select one'" type="button" class="btn btn-success" data-dismiss="modal" @@click="savePrediction()">Save And Close</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                }else
                {
                    <div class="modal-body">
                        You need to <a href="~/Identity/Account/Login/">Login</a> to Predict !! Please <a href="~/Identity/Account/Login/">Login</a> !
                    </div>
                }
            </div>
        </div>
    </div>