﻿<div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true" class="fa fa-close"></span>
          </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix" id="sportsmanduApp">                        
                        <form method="post" v-on:submit.prevent="handleSearchSubmit">
                            <div class="form-group">
                                <input class="form-control" placeholder="eg: Players" type="text" v-model="Search.SearchTerm" @@keyup.enter.native="handleSearchSubmit">
                            </div>
                        </form>
                    </div>
                </div>
            <div v-for="player in SearchResult.clubs">
                <img :src="modifyUrl(player.thumbnail)" style="height:100px"/><a :href="modifyUrl(player.url)">{{player.name}}</a>
            </div>
            <div v-for="player in SearchResult.players">
                <!-- <img :src="'~/'+player.thumbnail"/><a :href="'~/'+player.url">{{player.name}}</a> -->            
                <img :src="modifyUrl(player.thumbnail)" style="height:100px"/><a :href="modifyUrl(player.url)">{{player.name}}</a>
            </div>
            </div>
</div>