﻿<div class="our-products-section our-products-page sec-spacer">
			<div class="container">
				<div class="row">	                
                    <a href="~/Admin/@(ViewContext.RouteData.Values["Culture"] == null ? "1":ViewContext.RouteData.Values["Culture"])/@ViewContext.RouteData.Values["Controller"]/Create" class="btn-send">Create New</a>
	<a href="~/Admin/2/@ViewContext.RouteData.Values["Controller"]/ToBeTranslated" class="btn-send">Translate</a> <a href="~/Admin/@ViewContext.RouteData.Values["Controller"]/Verify" class="btn-send">Verify</a> 
	<BR><BR>
<form action="/Admin/@ViewContext.RouteData.Values["Controller"]/Search/" class="ui form" enctype="multipart/form-data" method="post">
                        @Html.AntiForgeryToken()
						<div class="col-md-12 col-sm-12 col-xs-12">    
							<div class="form-group">
								<label class="title-bg">Search @ViewContext.RouteData.Values["Controller"]</label>
								<input name="Term" class="form-control" type="text">
							</div>
						</div>
                    </form>
					</div>
					</div>
					</div>