﻿<form v-on:submit.prevent>
    <div class="form-group">
        <strong class="control-label col-md-2">Social</strong>
        <span class="btn-send" @@click="addNewSocial()" v-if="socialIndexEdit == null">Add New Social</span>
        <div class="col-md-10">
            <div class="form-group" v-for="(social,id) in social" :key="id">
                <strong class="control-label col-md-2">@*{{getSocialName(social.social)}}*@</strong>
                <select v-model="social.social" v-if="id == socialIndexEdit">
                    <option disabled value="">Please select one</option>
                    <option v-for="socialToChoose in allSocial" v-bind:value="socialToChoose.name">
                        {{ socialToChoose.name }}
                    </option>
                </select>
                <div class="col-md-10">
                    <strong class="control-label col-md-4"><a :href="social.link" target="_blank">{{social.link}}</a></strong>
                    <input v-model="social.link" v-if="id == socialIndexEdit" />
                    <span class="btn-send" @@click="saveSocial(social)" v-if="id == socialIndexEdit">Save Social</span>
                </div>
            </div>
        </div>
    </div>
</form>