﻿
<div class="panel-box">
    <div class="titles">
        <h4><i class="fa fa-calendar"></i>@this.Context.Items["homepage_match_fixture"]</h4>
    </div>
    <ul class="list-diary">
        <li v-for="season in allMatches">
            <h6 style="font-size: 13px;"><a :href="baseUrl + season.season.url">{{season.season.name}}</a></h6>
            <h6 style="font-size: 13px;">{{season.category.name}} <time :datetime="season.date"></time></h6>            
                @*<h6>{{season.ground.name}}</h6>*@
                <ul class="club-logo">
                    <li>
                        <a :href="baseUrl + season.teams[0].url">
                            <img :src="baseUrl + season.teams[0].thumbnail" alt="">
                            <span>{{season.teams[0].name}}</span>
                        </a>
                    </li>
                    <li>
                        <a :href="baseUrl + season.teams[1].url">
                            <img :src="baseUrl + season.teams[1].thumbnail" alt="">
                            <span>{{season.teams[1].name}}</span>
                        </a>
                    </li>
                </ul>
                @*<p><strong class="btn"><a :href="'/@ViewContext.RouteData.Values["Culture"]/Home/FixtureDetails/'+ season.guid +'_@ViewContext.RouteData.Values["Culture"]'" class="btn">Details</a></strong></p>*@
</li>
    </ul>
</div>