﻿<div class="section-title">
    <h1 style="color:#d6ad46" align="center">Oppsss !</h1>
</div>
<section class="content-info">
    <section class="container">
        <div class="row">
            <div class="page-error">
                <h1>@ViewBag.ErrorCode <i class="fa fa-unlink"></i></h1>
                <hr class="tall">
                <p class="lead">@ViewBag.ErrorMessage</p>
                <a href="~/" class="btn btn-lg btn-primary">Return Home</a>
            </div>
        </div>
    </section>
</section>