@model Sportsmandu.Models.Association.Association
@{
    ViewBag.Title = "Edit - " + @Model.Name;
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<div class="contact-page-section sec-spacer">
    <div class="container">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
        <link rel="stylesheet" type="text/css"
              href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
        <h4 class="title-bg">@Model.Name</h4>
        <div id="map"></div>
        <div class="form-group">
            <div class="col-md-9 col-sm-12">
                <table>
                    <tr>
                        <td>
                            <button class="btn-send" v-if="clubsIndexEdit == null"
                                    @@click="route='basic'">
                                Details
                            </button>
                        </td>
                        @*<td>
                            <button class="btn-send" v-if="clubsIndexEdit == null"
                                    @@click="route='clubCategory';loadClubCategories()">
                                Team Sports
                            </button>
                        </td>*@
                        @*<td>
                            <button class="btn-send" v-if="clubsIndexEdit == null"
                                    @@click="route='clubplayers';loadClubCategories();loadClubPlayers();">
                                Players
                            </button>
                        </td>*@
                        @*<td>
                            <button class="btn-send" v-if="clubsIndexEdit == null"
                                    @@click="route='clubSeasonPlayers';loadClubCategories()">
                                Seasons
                            </button>
                        </td>*@
                        @*<td>
                            <button class="btn-send" v-if="clubsIndexEdit == null"
                                    @@click="route='clubSeasonFixtures';selectedSeasonFixture.name=null;selectedSeasonFixture.guid=null">
                                Fixtures
                            </button>
                        </td>*@
                        <td>
                            <button class="btn-send" v-if="clubsIndexEdit == null"
                                    @@click="route='employee';loadClubEmployee()">
                                Employee
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-if="route=='basic'">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "footer-subscribe", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
                <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
                <div id="map"></div>
                @*@Html.PartialAsync("_adminMap", Model).Result*@
                <div class="form-horizontal col-md-10">
                    <h4 class="title-bg">@Model.Name</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @*@Html.HiddenFor(model => model.Guid)*@
                    @Html.HiddenFor(model => model.CultureId)
                    @Html.HiddenFor(model => model.multilingualid)
                    <div class="form-group">
                        <strong class="control-label col-md-2">Sport</strong>
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.Countries, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="Name" name="Name" class="form-control" type="text" value="@Model.Name">
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/@Model.Image" />
                            @Html.HiddenFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                            <input name="Image" id="Image" class="form-control" type="file" />
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/@Model.Thumbnail" />
                            @Html.HiddenFor(model => model.Thumbnail, new { htmlAttributes = new { @class = "form-control" } })
                            <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />
                            @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/@Model.CoverImage" />
                            @Html.HiddenFor(model => model.CoverImage, new { htmlAttributes = new { @class = "form-control" } })
                            <input name="CoverImage" id="CoverImage" class="form-control" type="file" />
                            @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save @ViewContext.RouteData.Values["Controller"]" class="btn-send" />
                            <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index">
                                <input type="button" value="Back To List" class="btn-send" />
                            </a>
                            <a href="~/Api/Verify/Association/@Model.Id" target="_blank" class="btn-send">Verify</a>
                            @Html.Partial("_gallery");
                        </div>
                    </div>
                </div>
            }
        </div>        
        @Html.Partial("_employee")
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
    <script>
      setTimeout(function () {
            $('textarea').each(function () {
            var editor = new Jodit(this);
            editor.value = '@Model.Description';
            });
        }, 3000);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <script>
      setTimeout(function () {

        }, 3000);
        @{
            string latLong = string.Empty;
            if(Model.Latitude != null)
            {
                latLong = $"{Model.Latitude} , {Model.Longitude}";
            }
            else
            {
                latLong = $"27.7128105,85.3213054";
            }
        }
        setTimeout(function () {
            //alert("I Am Here!")
        var map = L.map('map', {
            center: [@latLong],
            zoom: 15
        });
      var marker = L.marker([@latLong]).addTo(map);
                      marker.bindPopup("<b>@Model.Name</b><br>").openPopup();
L.control.scale().addTo(map);

// Create a Tile Layer and add it to the map
//var tiles = new L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png').addTo(map);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var searchControl = new L.esri.Controls.Geosearch().addTo(map);

  var results = new L.LayerGroup().addTo(map);

  searchControl.on('results', function(data){
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });

            setTimeout(function () { $('.pointer').fadeOut('slow'); }, 3400);

var popup = L.popup();
function onMapClick(e) {
        popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    console.log(e.latlng);
    $('#Latitude').val(e.latlng.lat);
    $('#Longitude').val(e.latlng.lng);
}

     map.on('click', onMapClick);

 }, 3000);
    </script>
}