@model Sportsmandu.Models.League.League
@{
    ViewBag.Title = "Edit - " + @Model.Name;
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()       
@*//The Down Part*@
                                                 <div class="form-horizontal col-md-10">
                                                     <h4 class="title-bg">@Model.Name</h4>
                                                     <hr />
                                                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                     @Html.HiddenFor(model => model.Id)
                                                     @Html.HiddenFor(model => model.CultureId)
                                                     @Html.HiddenFor(model => model.multilingualid)
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })                                                             
                                                             <img src="~/@Model.Image"/><input name="Image" id="Image" class="form-control" type="file" />
                                                             @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.Thumbnail, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img src="~/@Model.Thumbnail"/><input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />
                                                             @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.CoverImage, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img src="~/@Model.CoverImage"/><input name="CoverImage" id="CoverImage" class="form-control" type="file" />
                                                             @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2">League Type</strong>
                                                        <div class="col-md-10">
                                                                        @Html.DropDownList("LeagueType",
                                                                Html.GetEnumSelectList<Sportsmandu.Models.League.enumLeagueType>(),
                                                                "Select Type ",new { @class = "form-control" })
                                                        </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })
                                                             @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.Countries, "Value", "Text"), new { @class = "form-control" })
                                                             @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                                                     <input id="Name" name="Name" class="form-control" type="text" value="@Model.Name">                        
                                                             @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             <!--@Html.TextAreaFor(model => model.Description, new {  @id= "ckeditor"  })-->
                                                             @Html.TextAreaFor(model => model.Description)
                                                             @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                         </div>
                                                     </div>

                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2">Founded Date</strong>
                                                         <div class="col-md-10">
                                                             <input name="DOB" id="DOB" class="form-control datetimepicker" type="text" value="@Model.Founded" />
                                                         </div>
                                                     </div>

                                                     <!-- <a href="/admin/@Model.CultureId/productpart/index/@Model.Id">
                                                     <input type="button" value="Parts" class="ui button" /><a> -->
                                                 <div class="form-group">
                                                     <a href="~/Api/Verify/League/@Model.Id" target="_blank" class="btn-send">Verify</a>
                                                     <div class="col-md-offset-2 col-md-10">
                                                         <input type="submit" value="Save @ViewContext.RouteData.Values["Controller"]" class="btn-send" />
                                                         <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index">
                                                             <input type="button" value="Back To List" class="btn-send" /><a>
                                                                 @Html.Partial("_gallery")
                                                     </div>
                                                 </div>
                                                 </div>
}
</div>
</div>
  @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
                $('textarea').each(function () {
                var editor = new Jodit(this);
                editor.value = '@Model.Description';
                });            
            }, 3000);        
     </script>
    }


