@using Microsoft.AspNetCore.Http
@model Sportsmandu.Model.Entities.ViewModels.ClubCreateViewModel
@{
    ViewBag.Title = "Create " + @ViewContext.RouteData.Values["Controller"];
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()<h4 class="title-bg">Create @ViewContext.RouteData.Values["Controller"]</h4>
<div class="form-horizontal col-md-10">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input class="hidden" data-val="true" id="CultureId" name="CultureId" type="number" value="@ViewContext.RouteData.Values["culture"]">
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        
        <input class="hidden" data-val="true" id="multilingualid" name="multilingualid" type="number" value="0">
    }
    else
    {
        <input class="hidden" data-val="true" id="multilingualid" name="multilingualid" type="number" value="@ViewContext.RouteData.Values["multilingualid"]">
    }
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        
    }
    <div class="form-group">
        <strong class="control-label col-md-2">Country</strong>
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.Countries, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <strong class="control-label col-md-2">HomeGround</strong>
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.HomeGroundId, new SelectList(ViewBag.Grounds, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HomeGroundId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
                                        <select asp-for="ClubType">
                                    <option value="0">Club</option>
                          <option value="1">Country</option>
                                </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>    
    <div class="form-group">
        @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Image" id="Image" class="form-control" type="file" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>
     <div class="row">
        @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />
            @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="CoverImage" id="CoverImage" class="form-control" type="file" />
            @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
        @Html.TextAreaFor(model => model.Description)
                </div>
    </div>
        <button class="btn-send" type="submit">Create @ViewContext.RouteData.Values["Controller"]</button>
    </div>
    }

    <div>

    </div>
</div>

</div>
  @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
                $('textarea').each(function () {
                var editor = new Jodit(this);
                editor.value = '<p></p>';
                });            
            }, 3000);        
     </script>
    }