@model Sportsmandu.Models.Club;
@{
    ViewBag.Title = @Model.Name;
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<div class="contact-page-section sec-spacer">
    <div class="container">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
        @*@Html.PartialAsync("_adminMap", Model).Result*@
        <h4 class="title-bg">@Model.Name</h4>
        <div id="map"></div>
        <div class="form-group">
            <div class="col-md-9 col-sm-12">
                <table>
                    <tr>
                        <td><button class="btn-send" v-if="clubsIndexEdit == null" @@click="route='basic'">Details</button></td>
                        <td><button class="btn-send" v-if="clubsIndexEdit == null" @@click="route='clubCategory';loadClubCategories()">Team Sports</button></td>
                        <td><button class="btn-send" v-if="clubsIndexEdit == null" @@click="route='clubplayers';loadClubCategories();loadClubPlayers();">Players</button></td>
                        <td><button class="btn-send" v-if="clubsIndexEdit == null" @@click="route='clubSeasonPlayers';loadClubCategories()">Seasons</button></td>
                        <td><button class="btn-send" v-if="clubsIndexEdit == null" @@click="route='clubSeasonFixtures';selectedSeasonFixture.name=null;selectedSeasonFixture.guid=null">Fixtures</button></td>
                        <td><button class="btn-send" v-if="clubsIndexEdit == null" @@click="route='employee';loadClubEmployee()">Employee</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-if="route=='basic'">
            <BR><BR>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
                <div class="form-horizontal col-md-10">
                    <fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.CultureId)
                        @Html.HiddenFor(model => model.multilingualid)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                <img class="lazy" data-src="@Model.Image" /><input name="Image" id="Image" class="form-control" type="file" />
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <h1>@Html.AntiForgeryToken().ToString()</h1>
                            <div class="col-md-10">
                                <input id="Name" name="Name" class="form-control" type="text" value="@Model.Name">
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="NickName" name="NickName" class="form-control" type="text" value="@Model.NickName">
                                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Founded, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="Founded" name="Founded" class="form-control" type="number" value="@Model.Founded">
                                @Html.ValidationMessageFor(model => model.Founded, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="Website" name="Website" class="form-control" type="text" value="@Model.Website">
                                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="Email" name="Email"
                                       class="form-control" type="text" value="@Model.Email">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="PhoneNumber" name="PhoneNumber"
                                       class="form-control" type="text" value="@Model.PhoneNumber">
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.Countries, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-2">Home Ground</strong>
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.HomeGroundId, new SelectList(ViewBag.Grounds, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HomeGroundId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-2">TeamType</strong>
                            <div class="col-md-10">
                                @Html.DropDownList("ClubType",
                               Html.GetEnumSelectList<Sportsmandu.Models.enumClubType>(),
                               "Select Type ", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <!--@Html.TextAreaFor(model => model.Description, new {  @id= "ckeditor"  })-->
                                @Html.TextAreaFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- <a href="/admin/@Model.CultureId/productpart/index/@Model.Id">
                <input type="button" value="Parts" class="ui button" /><a> -->
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.HiddenFor(model => model.Thumbnail, new { htmlAttributes = new { @class = "form-control" } })
                                    <img class="lazy" data-src="@Model.Thumbnail" />
                                    <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />
                                    @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.HiddenFor(model => model.CoverImage, new { htmlAttributes = new { @class = "form-control" } })
                                    <img class="lazy" data-src="@Model.CoverImage" />
                                    <input name="CoverImage" id="CoverImage" class="form-control" type="file" />
                                    @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save @ViewContext.RouteData.Values["Controller"]" class="btn-send" />
                                <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index">
                                    <input type="button" value="Back To List" class="btn-send" /><a>
    <a href="~/Api/Delete/@ViewContext.RouteData.Values["Controller"]/@Model.Id" target="_blank">Delete</a>
    <a href="~/Api/Verify/@ViewContext.RouteData.Values["Controller"]/@Model.Id" target="_blank" class="btn-send">Verify</a>
    @Html.Partial("_gallery");
</div>
                        </div>
                    </fieldset>
                </div>
            }
            @Html.PartialAsync("_social", Model).Result
        </div>
        <div v-if="route=='clubSeasonFixtures'">
            @foreach (var Season in Model.Fixtures.OrderByDescending(x => x.SeasonFixture.Date))
            {
                <button v-if="selectedSeasonFixture.guid == null || selectedSeasonFixture.guid=='@Season.SeasonFixture.Guid'" class="btn-send" @@click="loadSeasonClubPlayers('@Season.SeasonFixture.SeasonId');getSeasonFixtureTeamPlayers('@Season.SeasonFixture.Guid');selectedSeasonFixture.guid='@Season.SeasonFixtureGuid';selectedSeasonFixture.category='@Season.SeasonFixture.Category.Name'">
                    <img src="@Season.SeasonFixture.Category.Image" style="width:50px" /> >>  @Season.SeasonFixture.Date.ToLongDateString() >> Season.SeasonFixture.Season.Name >> @Season.SeasonFixture.Category.Name
                </button>
            }
            <form v-on:submit.prevent>
                <button @@click="addNewClubFixturePlayer()" class="form-control" v-if="selectedSeasonFixture.guid != null">Add New Player To Fixture</button>
                <div class="container">

                    <div class="row">
                        <div class="col-md-2" v-for="(players, id) in seasonClubPlayers" :key="id" v-if="selectedSeasonFixture.category == players.categoryName">
                            <div class="single-product text-center">
                                <div class="product-image">
                                    <div class="overly"></div>
                                    <a href="~/">
                                        <img :src="baseUrl  + players.thumbnail" width="193" style="height: 140px;">
                                    </a>
                                </div>
                                <div class="product-details" v-bind:class="checkifSeasonFixturePlayer(players.id) ? 'label-success' : 'label-danger'" @@click="saveClubFixturePlayer(players,checkifSeasonFixturePlayer(players.id))">
                                    <div class="product-tile">
                                        <div>
                                            <a target="_blank" :href="baseUrl + 'Admin/Players/Edit/' + players.playerId">
                                                <i class="fa-fa-edit"></i>
                                            </a>
                                            {{players.name}}
                                        </div>
                                        <!-- <i class="fa fa-trash" @@click="deleteClubSeasonFixturefixtures(players.id)"></i> -->
                                    </div>
                                    <!-- <div class="product-cart">
                                    <a href="#">
                                        <i class="fa fa-save" @@click="saveClubFixturePlayer"></i>
                                    </a>
                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div v-if="route=='clubCategory'">
            <form v-on:submit.prevent>
                <button @@click="loadAllCategories();addNewClubCategory()" class="form-control">Add New Sports To Club</button>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" v-for="(player, id) in clubCategory" :key="id">
                            <div class="single-product text-center">
                                <div class="product-image">
                                    <div class="overly"></div>
                                    <a href="~/">
                                        <img v-if="id == clubCategoryIndexEdit" :src="getPlayerImage(player.id)"
                                             width="193" style="height: 140px;">
                                        <img v-if="id !== clubCategoryIndexEdit" :src="player.image" width="193"
                                             style="height: 140px;">
                                    </a>
                                </div>
                                <div class="product-details">
                                    <div class="product-tile">
                                        <i class="fa fa-edit" @@click="clubCategoryIndexEdit = id"></i>
                                        <a target="_blank" :href="baseUrl + 'Admin/Players/Edit/' + player.id">{{player.name}}</a>
                                        <i class="fa fa-trash" @@click="deleteClubCategory(player.id)"></i>
                                        <td v-if="id == clubCategoryIndexEdit">
                                            <select v-model="player.id" v-if="id == clubCategoryIndexEdit">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="playertoChoose in allCategories" v-bind:value="playertoChoose.id">
                                                    {{ playertoChoose.name }}
                                                </option>
                                            </select>
                                        </td>

                                    </div>
                                    <div class="product-cart" v-if="id == clubCategoryIndexEdit">
                                        <a href="#">
                                            <i class="fa fa-save" @@click="saveClubCategory"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    @Html.Partial("_employee")
    @*<div v-if="route=='clubEmployee'">
            <form v-on:submit.prevent>
                <button @@click="loadAllDesignation();addNewClubEmployee()" class="form-control">Add New Employee To Club</button>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-sm-6 col-xs-6" v-for="(player, id) in clubEmployees" :key="id">
                            <div class="single-product text-center">
                                <div class="product-image">
                                    <div class="overly"></div>
                                    <a href="~/">
                                        <img v-if="id == clubEmployeesIndexEdit" :src="getEmployeeImage(player.id)"
                                             width="193" style="height: 140px;">
                                        <img v-if="id !== clubEmployeesIndexEdit" :src="player.image" width="193"
                                             style="height: 140px;">
                                    </a>
                                </div>
                                <div class="product-details">
                                    <div class="product-tile">
                                        <i class="fa fa-edit" @@click="clubEmployeesIndexEdit = id"></i>
                                        <a target="_blank" :href="baseUrl + 'Admin/Players/Edit/' + player.id">{{player.name}}<br>{{player.designationName}}</a>
                                        <i class="fa fa-trash" @@click="deleteEmployee(player)"></i>
                                        <td v-if="id == clubEmployeesIndexEdit">
                                            <select v-model="player.designationId" v-if="id == clubEmployeesIndexEdit" class="chosen">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="designation in allEmployeeDesignation" v-bind:value="designation.id">
                                                    {{ designation.name }}
                                                </option>
                                            </select>
                                            <input v-if="id == clubEmployeesIndexEdit" v-model="employeeSearch" type="text"  v-on:input="onSearchEmployeeName" />
                                        </td>
                                    </div>
                                    <div class="product-cart" v-if="id == clubEmployeesIndexEdit">
                                        <a href="#">
                                            <i class="fa fa-save" @@click="saveEmployee(player)"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>*@
        <div v-if="route=='clubSeasonPlayers'">
            <BR><BR>
            <td>
                @foreach (var Season in Model.Seasons)
                {
                    <button v-if="selectedSeason == null" class="btn-send" @@click="loadSeasonClubPlayers(@Season.SeasonId)">@Season.Season.Name</button>
                    <!-- <img src="@Season.Season.Image"style="width: 50px;"> -->
                }
            </td>
            <form v-on:submit.prevent>
                <div v-if="selectedSeason != null">
                    <button @@click="selectedSeason = null" class="btn-send" v-if="selectedCategory!=null">Back To Seasons !</button>
                    <!-- <button @@click="addNewSeasonClubPlayer" class="form-control" v-if="selectedCategory!=null"></button> -->
                </div>
                <div v-if="selectedSeason != null && clubCategory.length > 1">
                    <label> Player By Sports</label>
                    <select @@change="loadClubPlayers" v-model="selectedCategory" class="form-control">
                        <option v-for="categporyToChoose in clubCategory" v-bind:value="categporyToChoose.id">
                            {{ categporyToChoose.name }}
                        </option>
                    </select>
                </div>
                <div class="container" v-if="selectedSeason != null">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6" v-for="(player, id) in clubPlayers" :key="id">
                            <div class="single-product text-center">
                                <div class="product-image">
                                    <div class="overly"></div>
                                    <a href="~/"><img :src="baseUrl + player.image" width="193" style="height: 140px;"></a>
                                </div>
                                <div>
                                    <div class="product-tile">
                                        <div v-bind:class="checkifSeasonClubPlayer(player.playerId) ? 'label-success' : 'label-danger'" @@click="saveSeasonClubPlayer(player,checkifSeasonClubPlayer(player.playerId))">
                                            <a target="_blank" :href="baseUrl + 'Admin/Players/Edit/' + player.playerId">Edit</a>{{player.name}}<br>{{player.categoryName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <i class="fa fa-edit" @@click="seasonClubPlayerIndexEdit = id"></i> -->
                        <!-- <div class="product-cart">
                        <a href="#">
                            <i class="fa fa-save" @@click="saveSeasonClubPlayer(player)"></i>
                            <i class="fa fa-trash" @@click="deleteSeasonClubPlayer(player.id)"></i>
                        </a>
                    </div> -->
                        <!-- OLD CODe -->
                        <!-- <div class="col-md-3 col-sm-6 col-xs-6" v-for="(player, id) in seasonClubPlayers" :key="id">
                        <div class="single-product text-center">
                            <div class="product-image">
                                <div class="overly"></div>
                                <a href="~/">
                                    <img v-if="id == seasonClubPlayerIndexEdit" :src="getPlayerImage(player.id)"
                                         width="193" style="height: 140px;">
                                    <img v-if="id !== seasonClubPlayerIndexEdit" :src="player.image" width="193"
                                         style="height: 140px;">
                                </a>
                            </div>
                            <div class="product-details">
                                <div class="product-tile">
                                    <i class="fa fa-edit" @@click="seasonClubPlayerIndexEdit = id"></i>
                                    <a target="_blank" :href="baseUrl + 'Admin/Players/Edit/' + player.id">{{player.name}}<br>{{player.categoryName}}</a>
                                    <td v-if="id == seasonClubPlayerIndexEdit">
                                        <select class="chosen" v-model="player.id" v-if="id == seasonClubPlayerIndexEdit">
                                            <option disabled value="">Please select one</option>
                                            <option v-for="playertoChoose in clubPlayers" v-bind:value="playertoChoose.playerId">
                                                {{ playertoChoose.name }}
                                            </option>
                                        </select>
                                    </td>
                                </div>
                                <div class="product-cart" v-if="id == seasonClubPlayerIndexEdit">
                                    <a href="#">
                                        <i class="fa fa-save" @@click="saveSeasonClubPlayer(player)"></i>
                                        <i class="fa fa-trash" @@click="deleteSeasonClubPlayer(player.id)"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    </div>
                </div>
            </form>
        </div>
        <div v-if="route=='clubplayers'">
            <form v-on:submit.prevent>
                <button @@click="addNewPlayer" class="form-control">Add New Player</button>
                <div v-if="clubCategory.length > 1">
                    <label> Player By Sports</label>
                    <select class="chosen" @@change="loadClubPlayers" v-model="selectedCategory">
                        <option v-for="playertoChoose in clubCategory" v-bind:value="playertoChoose.id">
                            {{ playertoChoose.name }}
                        </option>
                    </select>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6" v-for="(player, playerId) in players" :key="playerId">
                            <div class="single-product text-center">
                                <div class="product-image">
                                    <div class="overly"></div>
                                    <a href="~/">
                                        <img v-if="playerId == playersIndexEdit" :src="getPlayerImage(player.playerId)"
                                             width="193" style="height: 140px;">
                                        <img v-if="playerId !== playersIndexEdit" :src="player.image" width="193"
                                             style="height: 140px;">
                                    </a>
                                </div>
                                <div class="product-details">
                                    <div class="product-tile">
                                        <i class="fa fa-edit" @@click="playersIndexEdit = playerId;loadAllPlayerRoles(player.playerCategory)"></i>
                                        <a target="_blank" :href="baseUrl + 'Admin/Players/Edit/' + player.playerId">{{player.name}}</a>
                                        <td v-if="playerId == playersIndexEdit">
                                            <select class="chosen" v-model="player.playerId" v-if="playerId == playersIndexEdit">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="playertoChoose in allPlayers" v-bind:value="playertoChoose.id">
                                                    {{ playertoChoose.name }}
                                                </option>
                                            </select>
                                            <input type="text" v-model="player.joinedDate" v-if="playerId == playersIndexEdit" class="form-control datetimepicker">
                                            <input type="text" v-model="player.resignedDate" v-if="playerId == playersIndexEdit" class="form-control datetimepicker">
                                            <input type="text" v-model="player.shirtNumber" v-if="playerId == playersIndexEdit">
                                            {{player.playerRole}}
                                            <div class="col-md-10" v-if="playerId == playersIndexEdit">
                                                <select v-model="player.playerRole" v-if="playerId == playersIndexEdit">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="roles in playerRoles" v-bind:value="roles.name">
                                                        {{ roles.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                    </div>
                                    <div class="product-cart" v-if="playerId == playersIndexEdit">
                                        <a href="#">
                                            <i class="fa fa-save" @@click="savePlayers">Save Player</i>
                                            <i class="fa fa-trash" @@click="deleteClubPlayer(player)"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table id="sdfdf hidden" class="ui celled table" cellspacing="0" v-if="route=='clubplayersAndDownBoth'">
            <!-- <button v-if="playersIndexEdit == null" @@click="addNewPlayer">Add New Player</button> -->
            <tbody>
                <tr v-for="(player, playerId) in players" :key="playerId">
                    <td v-if="playerId == playersIndexEdit">
                        <select v-model="player.playerId">
                            <option disabled value="">Please select one</option>
                            <option v-for="playertoChoose in allPlayers" v-bind:value="playertoChoose.id">
                                {{ playertoChoose.name }}
                            </option>
                        </select>
                        <input type="text" v-model="player.id">
                    </td>
                    <td v-if="playerId == playersIndexEdit">
                        <img v-if="player.playerId != ''" :src="getPlayerImage(player.playerId)" width="193" style="height: 140px;">
                    </td>
                    <td v-if="playerId == playersIndexEdit">
                        <input type="text" v-model="player.joinedDate" id="Date" class="datetimepicker">
                    </td>
                    <td v-if="playerId == playersIndexEdit">
                        <input type="text" v-model="player.resignedDate" id="Date" class="datetimepicker">
                    </td>
                    <td v-if="playerId == playersIndexEdit">
                        <input type="text" v-model="player.shirtNumber">
                    </td>
                    <th v-if="playerId == playersIndexEdit">
                        <button @@click="saveplayers">Save</button>
                        <button v-if="id == playersIndexEdit" @@click="removeAccumulationByIndex( playerId )">Delete</button>
                    </th>

                    <td v-if="playerId !== playersIndexEdit">
                        {{ player.name}}
                        ({{ player.category }})
                    </td>
                    <td v-if="playerId !== playersIndexEdit"><img :src="player.image" width="193" style="height: 140px;"></td>
                    <td v-if="playerId !== playersIndexEdit">{{ player.joinedDate}}</td>
                    <td v-if="playerId !== playersIndexEdit">{{ player.resignedDate}}</td>
                    <td v-if="playerId !== playersIndexEdit">{{ player.shirtNumber}}</td>
                    <td v-if="playerId !== playersIndexEdit">
                        player.playerRole
                    </td>
                    </td>
                    <td>
                        <button @@click="playersIndexEdit = playerId">Edit</button>
                        <span>aaaa{{player.playerId}}</span>
                        <button @@click="removePlayer( playerId )">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/toastr/toastr.js"></script>
    <script>
        setTimeout(function () {
            sportsmanduApp.currentClub = @Model.Id
        }, 200);
        setTimeout(function () {
            sportsmanduApp.currentClub = @Model.Id
        }, 2000);
        setTimeout(function () {
            sportsmanduApp.currentClub = @Model.Id
            $('textarea').each(function () {
            var editor = new Jodit(this);
            editor.value = '@Model.Description';
            });
        }, 3000);
    </script>
    <script>
        @if( @ViewData["ToastrMessage"] != null){
            @:toastr.error('@ViewData["ToastrMessage"]');
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <script>
      setTimeout(function () {

        }, 3000);
        @{
            string latLong = string.Empty;
            if(Model.Latitude != null)
            {
                latLong = $"{Model.Latitude} , {Model.Longitude}";
            }
            else
            {
                latLong = $"27.7128105,85.3213054";
            }
        }
        setTimeout(function () {
            //alert("I Am Here!")
        var map = L.map('map', {
            center: [@latLong],
            zoom: 15
        });
      var marker = L.marker([@latLong]).addTo(map);
                      marker.bindPopup("<b>@Model.Name</b><br>").openPopup();
L.control.scale().addTo(map);

// Create a Tile Layer and add it to the map
//var tiles = new L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png').addTo(map);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var searchControl = new L.esri.Controls.Geosearch().addTo(map);

  var results = new L.LayerGroup().addTo(map);

  searchControl.on('results', function(data){
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });

            setTimeout(function () { $('.pointer').fadeOut('slow'); }, 3400);

var popup = L.popup();
function onMapClick(e) {
        popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    console.log(e.latlng);
    $('#Latitude').val(e.latlng.lat);
    $('#Longitude').val(e.latlng.lng);
}

     map.on('click', onMapClick);

 }, 3000);
    </script>
<script>
    var social = @Html.Raw(Json.Serialize(Model.ClubSocial));
        for (i = 0; i < social.length; i++) {
            sportsmanduApp.social.unshift({
                id: social[i].clubId,
                social: social[i].social,
                link:social[i].link
            });
        }
</script>
}
