@model Sportsmandu.Model.Entities.Global.AdminMenu
@{
    ViewBag.Title = "Create Menu";
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" })){
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @placeholder = "Full Name" }})
      </div>
      <div class="form-group">
          @Html.LabelFor(model => model.Meta, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Meta, new { htmlAttributes = new { @placeholder = "Full Name" }})
      </div>
      <div class="form-group">
             @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-10">
             @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } }) 
                     </div>
      </div>
      <div class="form-group">
             @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-10">
             @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } }) 
                     </div>
      </div>
      <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" }) 
                    <div class="col-md-10">
            <input name="ImageUrl" id="ImageUrl" class="form-control" type="file" />
                    </div>
      </div>      
    
      <div class="form-group">
        <div class="ui checkbox">
            @Html.LabelFor(model => model.CanCreate, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.CanCreate)
        </div>
      </div>      
      <button class="btn-send" type="submit">Create @ViewContext.RouteData.Values["Controller"]</button>
}
</div>

</div>