@model IEnumerable<Sportsmandu.Model.Entities.Global.AdminMenu>
@{
    ViewBag.Title =@ViewContext.RouteData.Values["Controller"];
}
@{
    ViewBag.Title =@ViewContext.RouteData.Values["Controller"];
}
<a class="ui button" href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create">Create New</a> <BR><BR>
<table id="example" class="ui celled table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Summary)</th>
            <th>Options</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Summary)</th>
            <th>Options</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img class="ui tiny image" src="@item.ImageUrl"></td>
                <td>@item.Title</td>
                <td>
                    @if (item.Converted == true)
                    {
                        <a href="~/Admin/@ViewContext.RouteData.Values["controller"]/Edit/@item.Id">Edit</a>
                        <form action="/Admin/AdminMenu/Delete/@item.Id" class="ui form" enctype="multipart/form-data" method="post">
                            @Html.AntiForgeryToken()
                            <input type="submit" delete" value="Delete" />
                        </form>
                    }

                    <!--<a href="~/Admin/About/Details/@item.Id">Details</a>  |
                    <a href="~/Admin/About/Delete/@item.Id">Delete</a>-->
                    @if (item.Converted == false)
                    {
                        <a href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create/@item.multilingualid">Translate</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>