@using Microsoft.AspNetCore.Http
@model Sportsmandu.Model.Entities.ViewModels.PlayerCreateViewModel
@{
    ViewBag.Title = "Create " + @ViewContext.RouteData.Values["Controller"];
}
<div class="contact-page-section sec-spacer">
    <div class="container">
@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    <h4 class="title-bg">Create New</h4>
    @Html.AntiForgeryToken()
    <h4 class="title-bg"> Player</h4>
<div class="form-horizontal col-md-10">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input class="form-control text-box single-line hidden" data-val="true" id="CultureId" name="CultureId" type="number" value="@ViewContext.RouteData.Values["culture"]"/>
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        <input data-val="true"  class="form-control text-box single-line hidden" id="multilingualid" name="multilingualid" type="number" value="0"/>
    }
    else
    {
        <input data-val="true" class="form-control text-box single-line hidden" id="multilingualid" name="multilingualid" type="number" value="@ViewContext.RouteData.Values["multilingualid"]"/>
    }
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        <div class="form-group">
        <strong class="control-label col-md-2">Country</strong>            
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.Countries, "Value", "Text"), new { @class = "form-control" })                
            </div>
        </div>
        <div class="form-group">            
            <strong class="control-label col-md-2">Player Sport</strong>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <strong class="control-label col-md-2">Role</strong>
            <div class="col-md-10">
                @Html.DropDownList("PlayerRole",
                    Html.GetEnumSelectList<Sportsmandu.Models.enums.enumPlayerRole>(),"Select Type ",new { @class = "form-control" })
            </div>
        </div>
    }
    <div class="form-group">
            <strong class="control-label col-md-2">Name</strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
                                                         @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.DropDownList("Gender",
                                                             Html.GetEnumSelectList<Sportsmandu.Model.Entities.Player.enumGender>(),
                                                             "Select Type ",new { @class = "form-control" })
                                                         </div>
                                                     </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <strong class="control-label col-md-2">Date Of Birth</strong>                     
            <div class="col-md-10">
                <input name="DOB" id="DOB" class="form-control datetimepicker" type="text"/>
        </div>      
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Image" id="Image" class="form-control" type="file" />            
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />            
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="CoverImage" id="CoverImage" class="form-control" type="file" />             
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.TextAreaFor(model => model.Description)
        </div>
    </div>
        <button class="btn-send" type="submit">Create @ViewContext.RouteData.Values["Controller"]</button>
    </div>
}
</div>
</div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
                $('textarea').each(function () {
                var editor = new Jodit(this);
                editor.value = '<p></p>';
                });            
            }, 3000);        
     </script>
    }    