@model Sportsmandu.Model.Entities.Player.Player
@{
    ViewBag.Title = "Edit - " + @Model.Name;
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()       

                                                 <div class="form-horizontal col-md-10">
                                                     <h4 class="title-bg"><a href="~/@Model.URL" target="_blank">@Model.Name</a></h4>
                                                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                     @Html.HiddenFor(model => model.Id)
                                                     @Html.HiddenFor(model => model.CultureId)
                                                     @Html.HiddenFor(model => model.multilingualid)
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img src="~/@Model.Image" /><input name="Image" id="ImageUrlKo" class="form-control" type="file" />
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2">Sport</strong>
                                                         <div class="col-md-10">
                                                             @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2">Role</strong>
                                                         <div class="col-md-10">
                                                             @Html.DropDownList("PlayerRole",
                                                             Html.GetEnumSelectList<Sportsmandu.Models.enums.enumPlayerRole>(), "Select Type ", new { @class = "form-control" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.Countries, "Value", "Text"), new { @class = "form-control" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             <input id="Name" name="Name" class="form-control" type="text" value="@Model.Name">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.DropDownList("Gender",
                                                             Html.GetEnumSelectList<Sportsmandu.Model.Entities.Player.enumGender>(),
                                                             "Select Type ", new { @class = "form-control" })
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.TextAreaFor(model => model.Description)
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2">Date of Birth</strong>
                                                         <div class="col-md-10">
                                                             <input name="DOB" id="DOB" class="form-control datetimepicker" type="text" value="@Model.DOB" />
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.Thumbnail, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img src="~/@Model.Thumbnail" />
                                                             <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />
                                                         </div>
                                                     </div>

                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.CoverImage, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img class="lazy" data-src="@Model.CoverImage" />
                                                             <input name="CoverImage" id="CoverImage" class="form-control" type="file" />
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2" @@Click="getPlayerGameStatsFields('@Model.Category.Name','@Model.StatsString','Player')">Player Stats</strong>
                                                         <div class="col-md-10">
                                                             <div v-for="stat in playerGameStatsFields">
                                                                 <div class="form-group">
                                                                     <div v-if="stat.name != 'Id'">
                                                                         <strong class="control-label col-md-2">{{stat.name}}</strong>
                                                                         <div class="col-md-4">
                                                                             <input class="form-control" v-model="stat.value" :name="stat.name" :id="stat.name" :type="stat.type=='Int32' ? 'Number':'Text'" />
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                             <span v-if="playerGameStatsFields.length > 0" class="btn-send" @@click="SaveStats('Player')">Save Stats</span>
                                                         </div>
                                                     </div>
                                                     @Html.PartialAsync("_social", Model).Result
                                                     <div class="form-group">
                                                         <div class="col-md-offset-2 col-md-10">
                                                             <input type="submit" value="Save @ViewContext.RouteData.Values["Controller"]" class="btn-send" />
                                                             <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index"></a>
                                                             <input type="button" value="Back To List" class="btn-send" />
                                                             <a href="~/Api/Delete/@ViewContext.RouteData.Values["Controller"]/@Model.Id" target="_blank">Delete</a>
                                                             <a href="~/Api/Verify/Players/@Model.Id" target="_blank" class="btn-send">Verify</a>
                                                             @Html.Partial("_gallery")
                                                         </div>
                                                     </div>
                                                 </div>
}
</div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
            $('textarea').each(function () {
            var editor = new Jodit(this);
            editor.value = '@Model.Description';
            });            
          }, 3000);
        var social = @Html.Raw(Json.Serialize(Model.Social));
        for (i = 0; i < social.length; i++) {
            sportsmanduApp.social.unshift({
                id: social[i].playerId,
                social: social[i].social,
                link:social[i].link
            });
        }
    </script>
}