﻿@{
    ViewData["Title"] = "Culture";
}
    <div class="panel-box">
        @*<div class="titles no-margin">
            <h4>
                Title Here
            </h4>
        </div>*@
        <a href="~/@ViewContext.RouteData.Values["Culture"]/Home/FbPredictions"><img src="~/images/predict_and_win.jpg" alt=""></a>
        @*<div class="row">
            <div class="info-panel">
                <p>Summary Here</p>
            </div>
        </div>*@
    </div>