﻿@{
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="rs-team-single-section team-inner-page sec-spacer">
    <div class="container">
        <div class="row">
            <section>
                <div class="gap">
                    <div class="container">
                        <h1 class="title-bg">Manage your account</h1>
                        <div>                            
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <partial name="_ManageNav" />
                                </div>
                                <div class="col-md-9">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

            @section Scripts {
                @RenderSection("Scripts", required: false)
            }
