﻿@{
    ViewData["Title"] = "Contact Us";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883.296157037673!2d85.34611422923416!3d27.680687986540917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19f2facbad95%3A0x61002a810ddc493c!2sSyntech+Engineering+Pvt.+Ltd.!5e0!3m2!1sen!2snp!4v1559808653226!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<section class="content-info">
    <div class="container">
        <div class="row paddings-mini">
            <!-- Left Content -->
            <div class="col-md-4">
                <aside class="panel-box">
                    <div class="titles no-margin">
                        <h4>The Office</h4>
                    </div>
                    <div class="info-panel">
                        <address>
                            <strong>Syntech Engineering Pvt Ltd</strong><br>
                            <i class="fa fa-map-marker"></i><strong> @this.Context.Items["contactpage_address"]: </strong> @this.Context.Items["contactpage_kathmandu_nepal"]<br>
                            @*<i class="fa fa-plane"></i><strong>City: </strong>Kathmandu , 44600<br>*@
                            @*<i class="fa fa-phone"></i> <abbr title="Phone">P:</abbr> (977) 01-555555*@
                        </address>
                    </div>
                </aside>
                <aside class="panel-box">
                    <div class="titles no-margin">
                        <h4>Emails Contact</h4>
                    </div>
                    <div class="info-panel">
                        <address>
                            <i class="fa fa-envelope"></i><strong>@this.Context.Items["contactpage_email_address"]:</strong><a href="mailto:#"> sales@sportsmandu.com</a><br>
                            <i class="fa fa-envelope"></i><strong>@this.Context.Items["contactpage_email_address"]:</strong><a href="mailto:#"> support@sportsmandu.com</a>
                        </address>
                    </div>
                </aside>
            </div>
            <!-- End Left Content -->
            <!-- Right Content -->
            <div class="col-md-8">
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>@this.Context.Items["contactpage_about_us_text"]</h4>
                    </div>
                    <div class="info-panel">
                        <!-- Form Contact -->
                        <div class="contact-comment-section" v-if="contactForm.messageSent">
                            <h3 class="title-bg">Message Sent</h3>
                            <div>
                                <br><br><br>
                                <p>Your message was sent to us, thanks for Reaching us Out ! We will contact you as soon as possible</p>
                            </div>
                        </div>
                        <form class="form-theme" action="php/send-mail.php"  v-if="!contactForm.messageSent">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>@this.Context.Items["contactpage_first_name"] *</label>
                                    <input type="text" v-model="contactForm.firstName" required="required" value="" maxlength="100" class="form-control" name="Name" id="name">
                                </div>
                                <div class="col-md-6">
                                    <label>@this.Context.Items["contactpage_email_address"] *</label>
                                    <input v-model="contactForm.email" type="email" required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Subject *</label>
                                    <input type="text" v-model="contactForm.subject" required="required" value="" maxlength="100" class="form-control" name="subject" id="subject">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Comment *</label>
                                    <textarea v-model="contactForm.message" maxlength="5000" rows="10" class="form-control" name="message" style="height: 138px;" required="required"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input  @@click="SaveContactForm" type="submit" value="@this.Context.Items["contactpage_submit_now"]" class="btn btn-lg btn-primary">
                                </div>
                            </div>
                        </form>
                        <!-- End Form Contact -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Right Content -->
        </div>
    </div>   
</section>
@*<div class="contact-page-section sec-spacer">
        <div class="container">
            <div class="map-text">
                <h3 class="title-bg">@this.Context.Items["footer_about_us"]</h3><br><br>
                <p>@this.Context.Items["contactpage_about_us_text"]</p>
            </div>
            <div class="row contact-address-section">
                <div class="col-md-4 contact-pd">
                    <div class="contact-address">
                        <i class="fa fa-map-marker"></i>
                        <h4>@this.Context.Items["contactpage_address"]</h4>
                        <p>@this.Context.Items["contactpage_kathmandu_nepal"]</p>
                    </div>
                </div>
                <div class="col-md-4 contact-pd">
                    <div class="contact-phone">
                        <i class="fa fa-phone"></i>
                        <h4>@this.Context.Items["contactpage_phone_number"]</h4>
                        <p>@this.Context.Items["contactpage_phone_integer"]</p>
                    </div>
                </div>
                <div class="col-md-4 contact-pd">
                    <div class="contact-email">
                        <i class="fa fa-envelope"></i>
                        <h4>@this.Context.Items["contactpage_email_address"]</h4>
                        <a href="mailto:info@sportsmandu.com"><p>info@sportsmandu.com</p></a>
                        @*<a href="#"><p>www.sportsmandu.com</p></a>
                    </div>
                </div>
            </div>

            <div class="contact-comment-section" v-if="contactForm.messageSent">
                <h3 class="title-bg">Message Sent</h3>
                <div><br><br><br>
                    <p>Your message was sent to us, thanks for Reaching us Out ! We will contact you as soon as possible</p>
                </div>
            </div>
            <div class="contact-comment-section" v-if="!contactForm.messageSent">
                <h3 class="title-bg">@this.Context.Items["contactpage_submit_now"]</h3><br><br><br>
                <div id="form-message"></div>
                <form v-on:submit.prevent id="contact-form" method="post" action="mailer.php">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>@this.Context.Items["contactpage_first_name"]*</label>
                                    <input v-model="contactForm.firstName" name="fname" id="fname" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>@this.Context.Items["contactpage_last_name"]*</label>
                                    <input v-model="contactForm.lastName" name="lname" id="lname" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>@this.Context.Items["contactpage_email_address"]*</label>
                                    <input v-model="contactForm.email" name="email" id="email" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>@this.Context.Items["contactpage_phone"] *</label>
                                    <input v-model="contactForm.phoneNumber" name="phone" id="phone" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>@this.Context.Items["contactpage_message"] *</label>
                                    <textarea  v-model="contactForm.message" cols="40" rows="10" id="message" name="message" class="textarea form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group mb-0">
                                    <input @@click="SaveContactForm" class="btn-send" type="submit" value="@this.Context.Items["contactpage_submit_now"]">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>*@
