﻿@model List<Sportsmandu.Models.Alexa>
@inject IJsonHelper Json;
@using System.Linq;
@{
    //Layout = null;
    string Title = string.Empty;
    Title = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "नेपाल को पहिलो खेल संजाल" : "Sports Portal From Nepal";
    ViewData["OG:Image"] = "https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/54407673_2293872330894782_8642152722780389376_n.jpg?_nc_cat=104&_nc_ht=scontent.fktm3-1.fna&oh=942467895a447f153a610b99d28db936&oe=5D9EB7D3";
    ViewData["og:url"] = "https://sportsmandu.com/" + @ViewContext.RouteData.Values["Culture"] + "/Home/Alexa/sportsmandu.com";
    ViewData["og:description"] = this.Context.Items["footer_about_us_description"];
    ViewData["og:type"] = "website";
}
    <div align="center">
        <br /><br /><br /><br />
        <div id="chartContainer" style="height: 300px; width: 80%;">
        </div>

        <br /><br /><br /><br /><br />
        <div id="chartContainerNepal" style="height: 300px; width: 80%;">
        </div>
        <br /><br /><br /><br />
        <br /><br /><br /><br />

    </div>
@section Scripts {
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        var GlobalData = [];
        var CountryData = [];
        var dataPoints = [//array
            { x: new Date(2012, 01, 1), y: 26 },
            { x: new Date(2012, 01, 3), y: 38 },
            { x: new Date(2012, 01, 5), y: 43 },
            { x: new Date(2012, 01, 7), y: 29 },
            { x: new Date(2012, 01, 11), y: 41 },
            { x: new Date(2012, 01, 13), y: 54 },
            { x: new Date(2012, 01, 20), y: 66 },
            { x: new Date(2012, 01, 21), y: 60 },
            { x: new Date(2012, 01, 25), y: 53 },
            { x: new Date(2012, 01, 27), y: 60 }
        ];
        function AddToGlobalData(date,worldrank) {
            console.log(date, worldrank);
            GlobalData.unshift({
                x: new Date(date),
                y: worldrank
            });
        }
         function AddToCountryData(date,worldrank) {
            console.log(date, worldrank);
             CountryData.unshift({
                x: new Date(date),
                y: worldrank
            });
        }
        var kk = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.Alexa>)@Model)));
        kk.forEach(function (element) {
            AddToGlobalData(element.date, element.globalRank);
            AddToCountryData(element.date, element.countryRank);
        });


        console.log(kk);
        console.log(GlobalData);
        //alert(kk);
        var chart = new CanvasJS.Chart("chartContainer",
                {
                    title: {
                        text: "Sportsmandu Alexa Global"
                    },
                    axisX: {
                        title: "timeline",
                        gridThickness: 2
                    },
                    axisY: {
                        title: "World"
                    },
                    data: [
                        {
                            type: "area",
                            dataPoints: GlobalData
                        }
                    ]
                });
            chart.render();
          var chart1 = new CanvasJS.Chart("chartContainerNepal",
                {
                    title: {
                        text: "Sportsmandu Alexa Nepal"
                    },
                    axisX: {
                        title: "timeline",
                        gridThickness: 2
                    },
                    axisY: {
                        title: "Nepal"
                    },
                    data: [
                        {
                            type: "area",
                            dataPoints: CountryData
                        }
                    ]
                });
            chart1.render();
    </script>
}