﻿@{
    Layout = null;
}
@{
    string Title = ViewContext.RouteData.Values["Culture"] != null ? ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "स्पोर्ट्समाण्डु" : "Sportsmandu" : "Sportsmandu";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sports Portal Of Nepal">
    <meta name="author" content="Syntech Engineering">
    <title>@Title</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/coming-soon.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav.ico">
</head>
<body>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="mp4/bg.mp4" type="video/mp4">
    </video>
    <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="masthead-content text-white py-5 py-md-0">
                        <h1 class="mb-3">@Html.Raw(this.Context.Items["construction_header_message"])</h1>
                        <p class="mb-5">
                            @Html.Raw(this.Context.Items["construction_message"])
                        </p>
                        <p> <h4>@Html.Raw(this.Context.Items["construction_footer_message"])</h4></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
            <li class="list-unstyled-item">
                <a href="https://facebook.com/sportsmandu">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
        </ul>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/coming-soon.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133838094-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-133838094-2');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1428209939997083",
            enable_page_level_ads: true
        });
    </script>
</body>
</html>
