﻿@{
    ViewData["Title"] = "Contact Us";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

		<div class="contact-page-section sec-spacer">
        	<div class="container">        		
        		<div class="map-text">
        			<h3 class="title-bg">@this.Context.Items["footer_about_us"]</h3><br><br>
        			<p>@this.Context.Items["contactpage_about_us_text"]</p>
        		</div>
        		<div class="row contact-address-section">
    				<div class="col-md-4 contact-pd">
    					<div class="contact-address">
    						<i class="fa fa-map-marker"></i>
    						<h4>@this.Context.Items["contactpage_address"]</h4>
    						<p>@this.Context.Items["contactpage_kathmandu_nepal"]</p>    						
    					</div>
    				</div>
    				<div class="col-md-4 contact-pd">
    					<div class="contact-phone">
    						<i class="fa fa-phone"></i>
    						<h4>@this.Context.Items["contactpage_phone_number"]</h4>
    						<p>@this.Context.Items["contactpage_phone_integer"]</p>
    					</div>
    				</div>
    				<div class="col-md-4 contact-pd">
    					<div class="contact-email">
    						<i class="fa fa-envelope"></i>
    						<h4>@this.Context.Items["contactpage_email_address"]</h4>
    						<a href="mailto:info@sportsmandu.com"><p>info@sportsmandu.com</p></a>
    						@*<a href="#"><p>www.sportsmandu.com</p></a>*@
        				</div>
        			</div>
        		</div>
				
				<div class="contact-comment-section" v-if="contactForm.messageSent">
        			<h3 class="title-bg">Message Sent</h3>
					<div><br><br><br>
						<p>Your message was sent to us, thanks for Reaching us Out ! We will contact you as soon as possible</p>
					</div>
				</div>
        		<div class="contact-comment-section" v-if="!contactForm.messageSent">
        			<h3 class="title-bg">@this.Context.Items["contactpage_submit_now"]</h3><br><br><br>
                    <div id="form-message"></div>
					<form v-on:submit.prevent id="contact-form" method="post">
						<fieldset>
							<div class="row">                                      
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>@this.Context.Items["contactpage_first_name"]*</label>
										<input v-model="contactForm.firstName" name="fname" id="fname" class="form-control" type="text">
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>@this.Context.Items["contactpage_last_name"]*</label>
										<input v-model="contactForm.lastName" name="lname" id="lname" class="form-control" type="text">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>@this.Context.Items["contactpage_email_address"]*</label>
										<input v-model="contactForm.email" name="email" id="email" class="form-control" type="email">
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label>@this.Context.Items["contactpage_phone"] *</label>
										<input v-model="contactForm.phoneNumber" name="phone" id="phone" class="form-control" type="text">
									</div>
								</div>
							</div>
							<div class="row"> 
								<div class="col-md-12 col-sm-12 col-xs-12">    
									<div class="form-group">
										<label>@this.Context.Items["contactpage_message"] *</label>
										<textarea  v-model="contactForm.message" cols="40" rows="10" id="message" name="message" class="textarea form-control"></textarea>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="form-group mb-0">
										<input @@click="SaveContactForm" class="btn-send" type="submit" value="@this.Context.Items["contactpage_submit_now"]">
									</div>
								</div>
							</div>
						</fieldset>
					</form>
        		</div>
        	</div>
        </div>