﻿@{
        ViewData["Title"] = this.Context.Items["prediction_header"];
        ViewData["OG:Image"] = "https://sportsmandu.com/images/prediction_sponsorss.jpg";
        ViewData["og:url"] = "https://sportsmandu.com/" + @ViewContext.RouteData.Values["Culture"] + "/Home/FbPredictions";
        ViewData["og:description"] = this.Context.Items["prediction_header"];
        ViewData["og:type"] = "website";
}
@model List<Sportsmandu.Models.PredictionVMFORES>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<body>
    <div>
        <div id="fb-root"></div>
        @*<div class="section-title" style="background:url(https://sportsmandu.com/images/prediction_sponsors.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <h1>@this.Context.Items["prediction_header"]</h1>
                        </div>
                    </div>
                </div>
            </div>*@
        <div align="center">
            <br />
            <h1 data-step="6" data-intro="@this.Context.Items["prediction_help_5"]" class="btn btn-danger" align="center" onclick="javascript:introJs().start();">@this.Context.Items["prediction_help"]</h1>

            <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            @if (SignInManager.IsSignedIn(User))
            {
            <div class="col-12">
                <img src="~/@ViewBag.MyImage" style="border-radius: 50%; height:50px;width:50px" />
                @*<img src="https://sportsmandu.com/images/users/no_profile.jpg" style="border-radius: 50%; height:80px" />*@<br />
                <span><strong><a href="~/Identity/Account/Manage">Profile</a></strong></span>
            </div>
            }
            <section class="content-info">
                <div class="container paddings-mini">
                    <div class="row" data-step="1" data-intro="@this.Context.Items["prediction_help_1"]">

                        <div class="panel-box col-sm-12 col-md-12 col-lg-4 col-xs-12" v-for="(season,id) in allMatches" :key="id">
                            <div class="titles no-margin">
                                <h4 v-if="id !== 0" align="center">{{season.season.name}}</h4>
                                <h4 v-if="id == 0" align="center" data-step="2" data-intro="@this.Context.Items["prediction_help_2"]">{{season.season.name}}</h4>
                            </div>
                            <p align="center" v-if="season.myPrediction !== null"><strong>@this.Context.Items["table_prediction_title"]: {{season.myPrediction}}</strong></p>
                            <p align="center" v-if="season.myPrediction == null">
                                <strong>@this.Context.Items["prediction_not_predicted"]</strong>
                                <img style="height:10px" v-if="processingPrediciton" src="~/images/loading.gif" />
                            </p>
                            <h5 align="center">{{season.category.name}}</h5>
                            <h4 align="center">
                                <time :datetime="season.date"></time>
                            </h4>
                            <div class="row" align="center">
                                <div>
                                    <img v-for="team in season.teams" v-if="id !== 0" class="prediction-image img-fluid club_thumbnail" :src="baseUrl + team.thumbnail" :alt="team.name"
                                         @@click="
                             selectedFixture=season;
                             predictedFixture.fixtureGuid = season.guid;
                             setPrediction(season.guid);
                             predictedFixture.team = team;
                             predictedFixture.teamId = team.id;
                             predictedFixture.prediction='Win';
                             savePrediction()
                             ">
                                </div>
                                <div v-if="id == 0" data-step="3" data-intro="These are the participating Team !">
                                    <img v-for="(team,id) in season.teams" :key="id" :data-step="3 + id" data-intro="@this.Context.Items["prediction_help_3"]" class="prediction-image img-fluid club_thumbnail" :src="baseUrl + team.thumbnail" :alt="team.name"
                                         @@click="
                             selectedFixture=season;
                             predictedFixture.fixtureGuid = season.guid;
                             setPrediction(season.guid);
                             predictedFixture.team = team;
                             predictedFixture.teamId = team.id;
                             predictedFixture.prediction='Win';
                             savePrediction()
                             ">
                                </div>
                                <div v-if="id !== 0" align="center" width="100%" class="drawclass">
                                    <div style="padding:10px;background-color:blue;color:white;width:90%" align="center" @@click="
                                 selectedFixture=season;
                                 predictedFixture.fixtureGuid = season.guid;
                                 setPrediction(season.guid);
                                 predictedFixture.prediction='Draw';
                                 savePrediction()">
                                        <span><strong>@this.Context.Items["prediction_draw"]</strong></span>
                                    </div>
                                </div>
                                <div v-if="id == 0" data-step="5" data-intro="@this.Context.Items["prediction_help_4"]" align="center" width="100%" class="drawclass">
                                    <div style="padding:10px;background-color:blue;color:white;width:90%" align="center" @@click="
                                 selectedFixture=season;
                                 predictedFixture.fixtureGuid = season.guid;
                                 setPrediction(season.guid);
                                 predictedFixture.prediction='Draw';
                                 savePrediction()">
                                        <span><strong>@this.Context.Items["prediction_draw"]</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="content-info">
                <div class="container paddings-mini">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="clear-title">@this.Context.Items["table_prediction_title"]</h3>
                        </div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                        <div class="col-lg-12">
                            <div v-if="myPredictions == null">
                                <h1> @this.Context.Items["prediction_not_predicted_message"]</h1>
                            </div>
                            <table class="table-striped table-responsive table-hover" v-if="myPredictions != null">
                                <thead>
                                    <tr>
                                        <th>@this.Context.Items["game_date"]</th>
                                        <th>@this.Context.Items["predicted_date"]</th>
                                        <th class="text-center">@this.Context.Items["teams_involved"]</th>
                                        <th>@this.Context.Items["table_prediction_title"]</th>
                                        <th>@this.Context.Items["prediction_result"]</th>
                                        <th>@this.Context.Items["prediction_points"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="prediction in myPredictions">
                                        <td>
                                            <strong><time :datetime="prediction.fixtureDate"></time><br></strong><br>
                                        </td>
                                        <td>
                                            <strong><time :datetime="prediction.createdDate"></time></strong>
                                        </td>
                                        <td class="text-center">
                                            @*<h5>{{prediction.fixtureSeason.name}}</h5>*@
                                            <div v-if="prediction.teams != null" v-for="team in prediction.teams">
                                                <img :src="baseUrl + team.thumbnail" alt="team.name">
                                                <strong>{{team.name}}</strong><br><br />
                                            </div>
                                        <td>
                                            <div>
                                                <strong>
                                                    {{prediction.predictionText}}
                                                </strong>
                                            </div>
                                        </td>
                                        <td>
                                            <strong :class="prediction.blink">{{prediction.resultText}}</strong>
                                        </td>
                                        <td>
                                            <strong>{{prediction.points}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <strong>@this.Context.Items["total_points"]</strong>
                                        </td>
                                        <td>
                                            {{myPredictedPoints()}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        }
                        else
                        {
                        <div class="col-lg-12">
                            <strong><h2>Please <a href="~/Identity/Account/Login"> Login </a> And Win Amazing Prizes !</h2></strong>
                        </div>
                        }
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="clear-title">@this.Context.Items["top_prediction"]</h3>
                        </div>
                        @foreach (var items in ((List<Sportsmandu.Models.ApplicationUserVMFORES>)@ViewBag.TopPredictions))
                        {
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12">
                            <div class="item-player">
                                <br><br>
                                <div class="info-player">
                                    <span class="number-player">
                                        @{
                                                string avatar = "https://sportsmandu.com/" + items.Avatar;

                                        }
                                        <img src="@avatar" style="border-radius: 50%;" />
                                    </span>
                                    <h4>
                                        <span>@items.FullName</span>
                                    </h4>
                                    <ul>
                                        <li>
                                            <strong>Predicted Games</strong> <span>@items.Total_Prediction_Count</span>
                                        </li>
                                        <li>
                                            @*<strong>Game Not Finalized </strong> <span>@items.Predictions.Where(x => x.Result == "Not_Finalized").Count()</span>*@
                                        </li>
                                        <li><strong>Successful Predictions:</strong> <span> @(items.Successed_Predictions_Count)</span></li>
                                        <li><strong>Total Points:</strong> <span>@(items.Successed_Predictions_Count * 3)</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<br />
<br />
<br />
<br />
<br />
<br />
@*@Html.Partial("_adminMessage")*@
@section Scripts {
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d07460b4351e90012650e92&product=' inline-share-buttons' async='async'></script>
}