﻿@model Sportsmandu.Models.League.SeasonMatchViewModel
@{
    ViewData["Title"] = @Model.Season.Name;    
    ViewData["OG:Image"] = @Model.Season.Image;    
    ViewData["og:description"] = @Model.Season.Description;    
}
<link rel="stylesheet" href="~/css/submain.css" media="screen">
<div class="section-title single-result lazy" src="https://sportsmandu.com/@Model.Season.CoverImage ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="result-location">
                    <ul>
                        <li>
                            <time datetime="@Model.Date"></time><br>                            
                        </li>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            @Model.Ground.Name <br> @Model.Category.Name
                            @*<a href="~/@Model.Ground.URL">@Model.Ground.Name</a>*@
                        </li>
                        <li>@Model.Status</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="team">
                    <img src="~/@Model.Teams.FirstOrDefault().Thumbnail" alt="@Model.Teams.FirstOrDefault().Name" class="responsive" style="height:150px">
                    @*<a href="~/@Model.Teams.FirstOrDefault().URL">@Model.Teams.FirstOrDefault().Name</a>*@
                    @Model.Teams.FirstOrDefault().Name.Replace("National Team","").Replace("नेशनल टीम","").Replace("नेशनल टिम","")
                    @*<ul>
            <li>Jamez Rodriguez 12' <i class="fa fa-futbol-o" aria-hidden="true"></i></li>
            <li>Falcao Garcia 30' <i class="fa fa-futbol-o" aria-hidden="true"></i></li>
            <li>Juan cuadrado 60' <i class="fa fa-futbol-o" aria-hidden="true"></i></li>
        </ul>*@
                </div>
            </div>
            <div class="col-md-2 col-lg-2">
                <div class="result-match">
                    @try {
                        @Model.Teams.FirstOrDefault().Stats.Where(x => x.Name == "Goals").SingleOrDefault().Value  @Model.Teams.LastOrDefault().Stats.Where(x => x.Name == "Goals").SingleOrDefault().Value;
                    } catch (Exception) {
                    }
                </div>
            @*<div class="live-on">
                <a href="#">
                Live on
                <img src="img/img-theme/espn.gif" alt="">
                </a>
            </div>*@
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="team right">
                    @Model.Teams.LastOrDefault().Name.Replace("National Team","").Replace("नेशनल टीम","").Replace("नेशनल टिम","")
                    @*<a href="~/@Model.Teams.LastOrDefault().URL">@Model.Teams.LastOrDefault().Name</a>*@
                    <img src="~/@Model.Teams.LastOrDefault().Thumbnail" alt="@Model.Teams.LastOrDefault().Name" class="responsive" style="height:150px">
                    @*<ul>
            <li><i class="fa fa-futbol-o" aria-hidden="true"></i> Lionel Messi 22' </li>
            <li><i class="fa fa-futbol-o" aria-hidden="true"></i> Gonzalo Higuaín 50' </li>
        </ul>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="timeline-result" style="text-align:left">
                    @*<div class="team-timeline">
                        <img src="~/@Model.Teams.FirstOrDefault().Thumbnail" alt="@Model.Teams.FirstOrDefault().Name">
                        <a href="~/@Model.Teams.FirstOrDefault().URL">@Model.Teams.FirstOrDefault().Name</a>
                    </div>*@
                    @*<ul class="timeline">
                        <li class="card-result bottom goal" style="left:10%" data-placement="top"
                            data-trigger="hover" data-toggle="popover" title="Goal"
                            data-content="10. James Rodriguez">
                            10'
                        </li>
                        <li class="card-result top change" style="left:20%" data-placement="bottom"
                            data-trigger="hover" data-toggle="popover" title="Player Change"
                            data-content="10. James Rodriguez for 9. Falcao Garcia">
                            20'
                        </li>

                        <li class="card-result top red" style="left:31%" data-placement="bottom"
                            data-trigger="hover" data-toggle="popover" title="Yellow card"
                            data-content="10. James Rodriguez">
                            31'
                        </li>

                        <li class="card-result top goal" style="left:40%" data-placement="bottom"
                            data-trigger="hover" data-toggle="popover" title="Goal"
                            data-content="10. James Rodriguez">
                            40'
                        </li>

                        <li class="card-result top yellow" style="left:65%" data-placement="bottom"
                            data-trigger="hover" data-toggle="popover" title="Yellow card"
                            data-content="10. James Rodriguez">
                            65'
                        </li>

                        <li class="card-result bottom yellow" style="left:50%" data-placement="top"
                            data-trigger="hover" data-toggle="popover" title="Yellow card"
                            data-content="10. James Rodriguez">
                            50'
                        </li>

                        <li class="card-result top red" style="left:65%" data-placement="bottom"
                            data-trigger="hover" data-toggle="popover" title="Yellow card"
                            data-content="10. James Rodriguez">
                            65'
                        </li>

                        <li class="card-result bottom yellow" style="left:80%" data-placement="top"
                            data-trigger="hover" data-toggle="popover" title="Yellow card"
                            data-content="10. James Rodriguez">
                            80'
                        </li>

                        <li class="card-result top goal" style="left:90%" data-placement="bottom"
                            data-trigger="hover" data-toggle="popover" title="Goal"
                            data-content="10. James Rodriguez">
                            90'
                        </li>
                    </ul>*@
                    @*<div class="team-timeline">
                        <img src="~/@Model.Teams.LastOrDefault().Thumbnail" alt="@Model.Teams.LastOrDefault().Name">
                        <a href="~/@Model.Teams.LastOrDefault().URL">@Model.Teams.LastOrDefault().Name</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content-info">
    <div class="single-team-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <ul class="nav nav-tabs" id="myTab">
                        @*<li><a href="#summary" data-toggle="tab">Summary</a></li>*@
                        <li><a href="#stats" data-toggle="tab">Mach Stats</a></li>
                        @*<li><a href="#@Model.Teams.FirstOrDefault().Name.Replace(" ", "")" data-toggle="tab">@Model.Teams.FirstOrDefault().Name Squad</a></li>*@
                        <li><a href="#@Model.Teams.LastOrDefault().Name.Replace(" ", "")" data-toggle="tab">Squads</a></li>
                        <li class="active"><a href="#predictions" data-toggle="tab">Predictions</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="tab-content">
                        <div class="tab-pane" id="summary">
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>Match Summary</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-4">
                                        <img src="img/clubs-teams/single-team.jpg" alt="">
                                    </div>
                                    <div class="col-lg-12 col-xl-8">
                                        <p>
                                            Summary Here
                                        </p>

                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                <div class="col-md-12">
                    <h3 class="clear-title">Match News</h3>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">World football's dates.</a></h4>
                        </div>
                        <a href="#"><img src="img/blog/1.jpg" alt=""></a>
                        <div class="row">
                            <div class="info-panel">
                                <p>
                                    Fans from all around the world can apply for 2018 FIFA World
                                    Cup™ tickets as the first window of sales.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">Mbappe’s year to remember</a></h4>
                        </div>
                        <a href="#"><img src="img/blog/2.jpg" alt=""></a>
                        <div class="row">
                            <div class="info-panel">
                                <p>
                                    Tickets may be purchased online by using Visa payment cards
                                    or Visa Checkout. Visa is the official.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">Egypt are one family</a></h4>
                        </div>
                        <a href="#"><img src="img/blog/3.jpg" alt=""></a>
                        <div class="row">
                            <div class="info-panel">
                                <p>
                                    Successful applicants who have applied for supporter tickets
                                    and conditional supporter tickets will.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">Egypt are one family</a></h4>
                        </div>
                        <a href="#"><img src="img/blog/4.jpg" alt=""></a>
                        <div class="row">
                            <div class="info-panel">
                                <p>
                                    Successful applicants who have applied for supporter tickets
                                    and conditional supporter tickets will.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-line-height">
                <div class="col-md-12">
                    <h3 class="clear-title">Match Videos</h3>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">Eliminatory to the world.</a></h4>
                        </div>
                        <iframe class="video" src="https://www.youtube.com/embed/Ln8rXkeeyP0"
                                frameborder="0" gesture="media" allow="encrypted-media"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">Colombia classification</a></h4>
                        </div>
                        <iframe class="video" src="https://www.youtube.com/embed/Z5cackyUfgk"
                                frameborder="0" gesture="media" allow="encrypted-media"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">World Cup goal</a></h4>
                        </div>
                        <iframe class="video" src="https://www.youtube.com/embed/hW3hnUoUS0k"
                                frameborder="0" gesture="media" allow="encrypted-media"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row no-line-height">
                <div class="col-md-12">
                    <h3 class="clear-title">Sponsors</h3>
                </div>
            </div>
            <ul class="sponsors-carousel">
                <li><a href="#"><img src="img/sponsors/1.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/2.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/4.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/5.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
            </ul>*@
                        </div>
                        <div class="tab-pane" id="@Model.Teams.LastOrDefault().Name.Replace(" ", "")">
                            <div class="col-lg-12">
                                <table class="table-striped table-responsive table-hover career">
                                    <thead>
                                        <tr>
                                            @foreach (var Team in @Model.Teams)
                                            {
                                                <th>@Team.Name</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i <= 20; i++)
                                        {
                                        <tr>
                                            @try
                                                    {
                                            <span hidden>@Model.Teams[0].Players[i].Image</span>
                                            <td>
                                                <img :src="baseUrl + '@Model.Teams[0].Players[i].Image'" />
                                                <br />
                                                <strong>@*<a href="~/@Model.Teams[0].Players[i].URL">@Model.Teams[0].Players[i].Name</a>*@</strong>
                                                <strong>@Model.Teams[0].Players[i].Name</strong>
                                            </td>
                                                    }
                                                    catch (Exception ex) { }

                                            @try
                                                    {
                                        <span hidden>@Model.Teams[1].Players[i].Image</span>
                                        <td>
                                            <img :src="baseUrl + '@Model.Teams[1].Players[i].Image'" />
                                            <br />
                                            <strong>@*<a href="~/@Model.Teams[1].Players[i].URL">@Model.Teams[1].Players[i].Name</a>*@</strong>
                                            <strong>@Model.Teams[1].Players[i].Name</strong>
                                        </td>
                                                }
                                                catch (Exception ex)
                                                {}

                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane active" id="predictions">
                            <div class="row match-stats">
                                <div class="col-lg-5">
                                    <div class="team">
                                        <img src="~/@Model.Teams.FirstOrDefault().Thumbnail" alt="@Model.Teams.FirstOrDefault().Name" style="height:80px">
                                        <a href="~/@Model.Teams.FirstOrDefault().URL">@Model.Teams.FirstOrDefault().Name</a>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="result-match">
                                        VS
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="team right">
                                        <a href="~/@Model.Teams.LastOrDefault().URL">@Model.Teams.LastOrDefault().Name</a>
                                        <img src="~/@Model.Teams.LastOrDefault().Thumbnail" alt="@Model.Teams.LastOrDefault().Name" style="height:80px">
                                    </div>
                                </div>                                
                                <div class="col-lg-12">
                                    <br /><br />
                                    <div class="progress">
                                        @{
                                            var winningPercentage1 = ViewData["Team1"];
                                            var winningTeam1Name = ViewData[$"team1Name"];
                                            var winningPercentage2 = ViewData["Team2"];
                                            var winningTeam2Name = ViewData[$"team2Name"];
                                        }
                                        <div class="progress-bar" role="progressbar" style="width: @winningPercentage1%" aria-valuenow="@winningPercentage1" aria-valuemin="0" aria-valuemax="100" title="@winningPercentage1">@winningTeam2Name</div>
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="@winningPercentage2" aria-valuemin="0" aria-valuemax="100" title="@winningPercentage2">@winningTeam1Name</div>                                        
                                    </div>
                                    <div align="center"><span><strong>Voters Prediction Percentage</strong></span></div>
                                    <br /><br />
                                    <table class="table-striped table-responsive table-hover">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th class="text-center">Prediction</th>
                                                <th class="text-center">Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var items in ((List<Sportsmandu.Models.PredictionVMFORES>)@ViewBag.Players)){*@
                                            @foreach (var items in ((List<Sportsmandu.Models.PredictionVMFORES>)@ViewBag.Predictions))
                                            {
                                            <tr>
                                                <td>
                                                    <img src="~/@items.UserImage" style="height:60px;border-radius:60%"/><br />
                                                    <strong>@items.FullName</strong><br>
                                                    @*<strong><img src="~/'@items.UserImage'" /></strong>*@
                                                </td>
                                                <td class="text-center">
                                                    @items.PredictionText
                                                </td>
                                                <td class="text-center">
                                                    @items.ResultText
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div class="tab-pane" id="stats">
                            <div class="row match-stats">
                                <div class="col-lg-5">
                                    <div class="team">
                                        <img  src="~/@Model.Teams.FirstOrDefault().Thumbnail" alt="@Model.Teams.FirstOrDefault().Name" style="height:80px">
                                        <a href="~/@Model.Teams.FirstOrDefault().URL">@Model.Teams.FirstOrDefault().Name</a>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="result-match">
                                        VS
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="team right">
                                        <a href="~/@Model.Teams.LastOrDefault().URL">@Model.Teams.LastOrDefault().Name</a>
                                        <img  src="~/@Model.Teams.LastOrDefault().Thumbnail" alt="@Model.Teams.LastOrDefault().Name" style="height:80px">
                                    </div>
                                </div>
                                <div class="col-lg-12">                                    
                                    @try
                                    {
                                        @if (Model.Teams.FirstOrDefault().Stats != null)
                                        {

                                        }else
                                        {
                                            <ul>
                                                @for (var i = 0; i <= Model.Teams.FirstOrDefault().Stats.Count() - 1; i++)
                                                {
                                                    <li>
                                                        <span class="left">@Model.Teams.FirstOrDefault().Stats[i].Value</span>
                                                        <span class="center">@FilterStats(Model.Teams.FirstOrDefault().Stats[i].Name)</span>
                                                        <span class="right">@Model.Teams.LastOrDefault().Stats[i].Value</span>
                                                    </li>
                                                }
                                                @{
                                                    string FilterStats(string name)
                                                    {
                                                        if (name == "Possession")
                                                        {
                                                            return "Possession%";
                                                        }
                                                        return name;
                                                    }
                                                }
                                            </ul>
                                        }
                                     }
                                                    catch (Exception)
                                     {

                                     }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br /><br /><br /><br />
@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap_sport.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/theme-main.js"></script>
    <script type="text/javascript" src="~/js/theme-scripts.js"></script>
}
