﻿@model Sportsmandu.Model.Entities.Ground.GroundVMFORES
@{
    ViewData["Title"] = @Model.Name;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = @Model.Name;
    ViewData["OG:Image"] = @Model.Image;
    ViewData["og:url"] = @Model.URL;
    ViewData["og:description"] = @Model.Description;
    ViewData["og:type"] = "profile";
}
<div class="rs-breadcrumbs sec-color">
    <img src="~/@Model.CoverImage" alt="Breadcrubs" />
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">@Model.Name</h1>
                    <ul>
                        <li>
                            <a class="active" href="index.html">Home</a>
                        </li>
                        <li>@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rs-team-single-section team-inner-page sec-spacer">
    <div class="container">
         <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-8 col-xs-8 match-view-tite">
                        <h3 class="title-bg">Match fixture</h3>
                    </div>
                    <!-- <div class="col-sm-4 col-xs-4 text-right match-view-more">
                        <a class="view-more" href="#">View More <i class="fa fa-angle-double-right"aria-hidden="true"></i></a>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="match-list">
                            <div class="overly-bg"></div>
                            <table class="match-table">
                                <tbody>
                                    @foreach (var Match in ViewBag.Matches as List<Sportsmandu.Models.League.SeasonMatchViewModel>)
                                    {                                     
                                        <tr>
                                            <td class="medium-font"> <a href="~/@Match.Teams.FirstOrDefault().URL">@Match.Teams.FirstOrDefault().Name</a></td>
                                            <td class="big-font">VS</td>
                                            <td class="medium-font"><a href="~/@Match.Teams.LastOrDefault().URL">@Match.Teams.LastOrDefault().Name</a></td>
                                            <td><time datetime="@Match.Date"></time></td>
                                            <td><a href="@Match.Ground.URL">@Match.Ground.Name</a></td>
                                            <!-- <td><a href="#">Buy a Ticket</a></td> -->
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>