﻿@inject IJsonHelper Json;
@using System.Linq;
@{
    string Title = string.Empty;
    Title = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "नेपाल को पहिलो खेल संजाल" : "Sports Portal From Nepal";
    ViewData["Title"] = Title;
    ViewData["OG:Image"] = "https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/54407673_2293872330894782_8642152722780389376_n.jpg?_nc_cat=104&_nc_ht=scontent.fktm3-1.fna&oh=942467895a447f153a610b99d28db936&oe=5D9EB7D3";
    ViewData["og:url"] = "https://sportsmandu.com/" + @ViewContext.RouteData.Values["Culture"] + "/Home/Index";
    ViewData["og:description"] = this.Context.Items["footer_about_us_description"];
    ViewData["og:type"] = "website";    
}
@*@Html.Partial("_predict")*@
@*<div class="hero-header">
            <div id="hero-slider" class="hero-slider">
            foreach (var news in ViewBag.News as List<Sportsmandu.Model.Entities.Blog.BlogPostVMFORES>)
            {
                <div class="item-slider" style="background:url("http://sportsmandu.ngrok.io@news.CoverImage);">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="info-slider">
                                    <h1>@news.Title</h1>
                                    <p>@news.Summary</p>
                                    <a href="~/@news.URL" class="btn-iw outline">Read More <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
                <div class="item-slider" style="background:url(img/slide/2.jpg);">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="info-slider">
                                    <h1>World Cup rivalries reprised</h1>
                                    <p>The outdoor exhibition on Manezhnaya Square comprises 11 figures that symbolise the main sites of interest.</p>
                                    <a href="#" class="btn-iw outline">Read More <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slider" style="background:url(img/slide/1.jpg);">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="info-slider">
                                    <h1>Group Stage Breakdown</h1>
                                    <p>While familiar with fellow European nation France, Hareide admits that South American side Peru.</p>
                                    <a href="#" class="btn-iw outline">Read More <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>*@
<!-- End section-hero-posts-->
<!-- Section Area - Content Central -->
<section class="content-info">
    <div class="container padding-top">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="panel-box">
                    <div class="titles">
                        <h4>@this.Context.Items["current_culture"]</h4>
                        <h4>@this.Context.Items["latest_news"]</h4>
                    </div>
                    
                    @if (ViewBag.News != null)
                    {
                        @foreach (var news in ViewBag.News as List<Sportsmandu.Model.Entities.Blog.BlogPostVMFORES>)
                            {
                        <div class="post-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-hover">
                                        <img :src="baseUrl + '@news.Thumbnail'" alt="" class="img-responsive">
                                        <div class="overlay"><a href="~/@news.URL">+</a></div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5><a href="~/@news.URL">@news.Title</a></h5>
                                    <span class="data-info"><time datetime="@news.PublishDate"></time><br></span>  @*<i class="fa fa-comments"></i><a href="#">0</a>*@
                                    <p>@news.Summary<a href="~/@news.URL">Read More [+]</a></p>
                                </div>
                            </div>
                        </div>
                        }
                    } 
                </div>
                <div class="panel-box">
                    <div class="titles">
                        <h4>@this.Context.Items["homepage_players_to_watch"]</h4>
                    </div>

                    @*<div class="row" align="center">
                        @foreach (var items in ((List<Sportsmandu.Model.Entities.ViewModels.PlayerViewModel>)@ViewBag.Players))
                        {
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <div class="box-info">
                                <a href="~/@items.URL">
                                    <img src="~/@items.Image" alt="" class="img-responsive" style="height: 150px">
                                </a>
                                <h6 class="entry-title"><a href="~/@items.URL">@items.Name</a></h6>
                            </div>
                        </div>
                        }
                    </div>*@
                </div>
            </div>
            <aside class="col-sm-6 col-lg-3 col-xl-3">
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>
                            Games To Play Online
                        </h4>
                    </div>
                    <a href="~/@ViewContext.RouteData.Values["Culture"]/Game/Index/XZSH09972879QJ/Duck-Shooter"><img src="~/UserUploads/1/Games/Duck_Shooter/Thumbnail.png" alt="">
                    </a>
                    <div class="row">
                        <div class="info-panel">
                            <p>Immese youself with ACTUAL fun playing EVERGREEN 'DUCK HUNT' as 'DUCK SHOOTER'</p>
                        </div>
                    </div>
                </div>
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>Venues</h4>
                    </div>
                    <ul class="single-carousel">
                        @*@foreach (var Ground in ((List<Sportsmandu.Model.Entities.Ground.GroundVMFORES>)@ViewBag.Grounds))*@
                        <li v-for="ground in allMatches">
                            <a :href="baseUrl  + ground.ground.url">
                                <img :src="baseUrl + ground.ground.thumbnail" alt="" class="img-responsive" style="height:196px;width:100%">
                                <div class="info-single-carousel">
                                    <h4>{{ground.ground.name}}</h4>
                                    @*<p>@Ground.Summary</p>*@
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                @*<div class="panel-box">
            <div class="titles no-margin">
                <h4>@this.Context.Items["homepage_latest_videos"]</h4>
            </div>
            @foreach (var items in ((List<Sportsmandu.Models.VideoVMForEs>)@ViewBag.Video).Take(1))
            {
                <div class="row">
                    <iframe src="@items.URL" class="video"></iframe>
                    <div class="info-panel">
                        @*<h4>@items.Title</h4>
                        @*<p>@items.Summary</p>
                    </div>
                </div>
            }
        </div>*@
               
                @*@await Component.InvokeAsync("Ads")*@
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
            </aside>
            <aside class="col-sm-6 col-lg-3 col-xl-2">
                @Html.Partial("_upcomingSideBar")
                @*<div class="panel-box">
                    <div class="titles no-margin">
                        <h4><i class="fa fa-link"></i>Red Bull !</h4>
                    </div>
                    <a href="https://www.redbull.com" target="_blank">
                        <img src="~/images/advt/red_bull.png" class="img-responsive" alt="">
                    </a>
                </div>*@
            </aside>
        </div>
    </div>
    <div class="container paddings-mini">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="clear-title">@this.Context.Items["homepage_match_fixture"]</h3>
            </div>
            <div class="col-lg-12">
                <table class="table-striped table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>@this.Context.Items["sport"]</th>
                            <th align="center">@this.Context.Items["team_a"]</th>
                            <th class="text-center">VS</th>
                            <th>@this.Context.Items["team_b"]</th>
                            <th></th>
                            <th>@this.Context.Items["result"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="season in completedMatches">
                            <td>
                                <img class="lazy" :src="season.category.thumbnail" :alt="season.category.name">
                                <small class="meta-text">  @*GROUP H.*@</small>
                            </td>
                            <td align="right">
                                <img class="lazy" :src="baseUrl +  season.teams[0].thumbnail" :alt="season.teams[0].name" style="height:50px">
                                <strong><a :href="baseUrl + season.teams[0].url">{{season.teams[0].name}}</a></strong><br>
                                <small class="meta-text">@*GROUP H.*@</small>
                            </td>
                            <td class="text-center">@this.Context.Items["vs"]</td>
                            <td>
                                <img class="lazy" :src=" baseUrl +  season.teams[1].thumbnail" :alt="season.teams[1].Name" style="height:50px">
                                <strong><a :href="baseUrl + season.teams[1].url">{{season.teams[1].name}}</a> </strong><br>
                                <small class="meta-text">@*GROUP H.*@</small>
                            </td>
                            <td>
                                <small class="meta-text"><a :href="baseUrl + season.season.url">{{season.season.name}}</a></small><br />
                                <time :datetime="season.date"></time><br>
                                <small class="meta-text"><a :href="baseUrl + season.ground.url">{{season.ground.name}}</a></small>
                            </td>
                            <td>
                                <div v-if="season.status == 'Not_Started'">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @@click="selectedFixture=season;predictedFixture.fixtureGuid = season.guid;setPrediction(season.guid)">
                                        {{getPrediction(season.guid)}}
                                    </button>
                                    @*<strong><a :href="'/@ViewContext.RouteData.Values["Culture"]/Home/FixtureDetails/'+season.guid +'_@ViewContext.RouteData.Values["Culture"]'">{{getPrediction(season.guid)}}</a></strong>*@
                                </div>
                                <div>
                                    <strong><a :href="'/@ViewContext.RouteData.Values["Culture"]/Home/FixtureDetails/'+season.guid +'_@ViewContext.RouteData.Values["Culture"]'">Stats</a></strong>
                                </div>
                                <small class="meta-text">
                                    {{season.status}}
                                </small>
                                @*@Match.Status<br>*@
                                @*{
                                        string Message = "No Data!";
                                        if (Match.Status == "Not_Started")
                                        {
                                            Message = "Not Started";
                                        }
                                        else if (Match.Status == "Started")
                                        {
                                            Message = "Playing";
                                        }
                                        else if (Match.Status == "Completed")
                                        {
                                            var winningTeam = Match.Teams.Where(x => x.Status == "Won").SingleOrDefault();
                                            var losingTeam = Match.Teams.Where(x => x.Status == "Lost").SingleOrDefault();
                                            if (winningTeam != null)
                                            {
                                                string Score = string.Empty;
                                                var winningTeamGoal = winningTeam.Stats.Where(x => x.Name == "Goals").SingleOrDefault();
                                                var losingTeamGoal = losingTeam.Stats.Where(x => x.Name == "Goals").SingleOrDefault();
                                                if (winningTeamGoal != null && losingTeamGoal != null)
                                                {
                                                    Score = $"{winningTeamGoal.Value}-{losingTeamGoal.Value}";
                                                }
                                                var winningTeamMultiLingual = Match.CultureCode == "En" ? "Won" : "को जित " + Score;
                                                Message = $"<a href={winningTeam.URL}>{winningTeam.Name}</a> {winningTeamMultiLingual}";
                                            }
                                            else
                                            {
                                                Message = "Data Aint Arrived";
                                            }
                                        }
                                    }*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div v-if="newsLetter.subscribed">
                        <h2>@Html.Raw(this.Context.Items["newsletter_thankyou"])</h2>                        
                    </div>
                    <div class="text-center" v-if="!newsLetter.subscribed">
                        <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
                        <p>We will Post Awesome Stuffs and contents from our website.</p>
                    </div>
                    <div v-if="!newsLetter.subscribed">
                        <form v-on:submit.prevent v-if="!newsLetter.subscribed" id="newsletterForm" method="post" >
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input v-model="newsLetter.name" class="form-control" placeholder="@this.Context.Items["layout_newsletter_name"]" name="name" type="text" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input class="form-control" v-model="newsLetter.email" placeholder="@this.Context.Items["layout_newsletter_email"]" name="email" type="email" required="required">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" name="subscribe" @@click="SaveNewsletter">@this.Context.Items["layout_newsletter_send"]</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    @*<div id="result-newsletter"></div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- End Newsletter -->
</section>

<div id="sportsSignalR"></div>
<div class="all-news-area sec-spacer">
    <div class="container">
        <div class="row">
            @*@if (ViewContext.RouteData.Values["Culture"].ToString().ToLower() == "np")
                {
                    <div class="col-md-4">
                        <div class="sidebar-area right-side-area">
                            <h3 class="title-bg">@this.Context.Items["homepage_last_match_result"]</h3>
                            @*<div class="today-match-teams text-center lazy" data-load="backgroundcssload" data-src="images/today-match/bg.jpg">
                            <div class="today-match-teams text-center">
                                <div class="overly-bg"></div>
                                <div class="title-head">
                                    <h4>आठौ राष्ट्रिय खेलकुद</h4>
                                    <!-- <span class="date">Wednesday, April 10th,2019</span> -->
                                </div>
                                <!-- <div class="today-score">
                                    <div class="today-match-team">
                                        <img src="" alt="" />
                                        <h4>Province 1</h4>
                                        <span>Squash</span>
                                    </div>
                                    <div class="today-final-score">
                                        0 <span>-</span> 0
                                        <h4>final score</h4>
                                    </div>
                                    <div class="today-match-team">
                                        <img src="" alt="" />
                                        <h4>Province 2</h4>
                                        <span>Squash</span>
                                    </div>
                                </div> -->
                                <div class="today-results-table">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="tb-title"></td>
                                                <td>स्वोर्ण</td>
                                                <td>रजत</td>
                                                <td>कास्य</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">नेपाल  आर्मी</td>
                                                <td>१४०</td>
                                                <td>८२</td>
                                                <td>६७</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">नेपाल पुलिस</td>
                                                <td>६२</td>
                                                <td>४९</td>
                                                <td>४६</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">सशस्त्र प्रहरी बल</td>
                                                <td>५४</td>
                                                <td>६९</td>
                                                <td>८०</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">प्रदेस तिन</td>
                                                <td>२२</td>
                                                <td>४०</td>
                                                <td>६०</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">प्रदेस चार</td>
                                                <td>१२</td>
                                                <td>२१</td>
                                                <td>४४</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">प्रदेस पाच</td>
                                                <td>११</td>
                                                <td>२६</td>
                                                <td>४८</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">प्रदेस एक</td>
                                                <td>९</td>
                                                <td>२०</td>
                                                <td>५९</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">प्रदेस सात</td>
                                                <td>८</td>
                                                <td>१२</td>
                                                <td>३४</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">प्रदेस दुइ</td>
                                                <td>६</td>
                                                <td>७</td>
                                                <td>२०</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">एनआरएन</td>
                                                <td>६</td>
                                                <td>२</td>
                                                <td>५</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">प्रदेस छ</td>
                                                <td>३</td>
                                                <td>४</td>
                                                <td>१७</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        <div class="sidebar-area right-side-area">
                            <h3 class="title-bg">@this.Context.Items["homepage_last_match_result"]</h3>
                            <div class="today-match-teams text-center lazy" data-load="backgroundcssload" data-src="images/today-match/bg.jpg">
                                <div class="overly-bg"></div>
                                <div class="title-head">
                                    <h4>8th National Game</h4>
                                    <!-- <span class="date">Wednesday, April 10th,2019</span> -->
                                </div>
                                <!-- <div class="today-score">
                                    <div class="today-match-team">
                                        <img src="" alt="" />
                                        <h4>Province 1</h4>
                                        <span>Squash</span>
                                    </div>
                                    <div class="today-final-score">
                                        0 <span>-</span> 0
                                        <h4>final score</h4>
                                    </div>
                                    <div class="today-match-team">
                                        <img src="" alt="" />
                                        <h4>Province 2</h4>
                                        <span>Squash</span>
                                    </div>
                                </div> -->
                                <div class="today-results-table">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="tb-title">Scoreboard</td>
                                                <td>Gold</td>
                                                <td>Silver</td>
                                                <td>Bronze</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Nepal Army</td>
                                                <td>140</td>
                                                <td>82</td>
                                                <td>67</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Nepal Police</td>
                                                <td>62</td>
                                                <td>49</td>
                                                <td>46</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Armed Police Force</td>
                                                <td>54</td>
                                                <td>69</td>
                                                <td>80</td>
                                            </tr>


                                            <tr>
                                                <td class="tb-title">Province 3</td>
                                                <td>22</td>
                                                <td>40</td>
                                                <td>60</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Province 4</td>
                                                <td>12</td>
                                                <td>21</td>
                                                <td>44</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Province 5</td>
                                                <td>11</td>
                                                <td>26</td>
                                                <td>48</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Province 1</td>
                                                <td>9</td>
                                                <td>20</td>
                                                <td>59</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Province 7</td>
                                                <td>8</td>
                                                <td>12</td>
                                                <td>34</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Province 2</td>
                                                <td>6</td>
                                                <td>7</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">NRN</td>
                                                <td>6</td>
                                                <td>2</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td class="tb-title">Province 6</td>
                                                <td>3</td>
                                                <td>4</td>
                                                <td>17</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@

        </div>
        @*<div class="col-lg-12">
                <h3 class="title-bg">@this.Context.Items["homepage_match_fixture"]</h3>
            </div>*@
    </div>
    @*<div class="row" style="background-color:#f8f8f8">
            <section class="content-info">
                <div class="container paddings-mini">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table-striped table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <th>@this.Context.Items["sport"]</th>
                                        <th class="text-center">@this.Context.Items["team_a"]</th>
                                        <th class="text-center" width="15%">       </th>
                                        <th class="text-center">@this.Context.Items["team_b"]</th>
                                        <th class="text-center">         </th>
                                        <th class="text-center">@this.Context.Items["result"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="season in allMatches" :style="{ 'background-color': getAlternativeRowColour() }">
                                        <td>
                                            <img class="lazy" :data-src="season.category.thumbnail" :alt="season.category.name" style="height:50px">
                                            <small class="meta-text">  </small>
                                        </td>
                                        <td align="right">
                                            <img class="lazy" :data-src="season.teams[0].thumbnail" :alt="season.teams[0].name" style="height:50px">
                                            <strong><a :href="baseUrl + season.teams[0].url">{{season.teams[0].name}}</a></strong><br>
                                            <small class="meta-text"></small>
                                        </td>
                                        <td class="text-center">@this.Context.Items["vs"]</td>
                                        <td>
                                            <img class="lazy" :data-src="season.teams[1].thumbnail" :alt="season.teams[1].Name" style="height:50px">
                                            <strong><a :href="baseUrl + season.teams[1].url">{{season.teams[1].name}}</a> </strong><br>
                                            <small class="meta-text"></small>
                                        </td>
                                        <td>
                                            <time :datetime="season.date"></time><br>
                                            <small class="meta-text"><a :href="season.ground.url">{{season.ground.name}}</a></small>
                                        </td>
                                        <td>
                                            <small class="meta-text">{{season.status}}</small>
                                            atch.Status<br>
                                            {
                                                    string Message = "No Data!";
                                                    if (Match.Status == "Not_Started")
                                                    {
                                                        Message = "Not Started";
                                                    }
                                                    else if (Match.Status == "Started")
                                                    {
                                                        Message = "Playing";
                                                    }
                                                    else if (Match.Status == "Completed")
                                                    {
                                                        var winningTeam = Match.Teams.Where(x => x.Status == "Won").SingleOrDefault();
                                                        var losingTeam = Match.Teams.Where(x => x.Status == "Lost").SingleOrDefault();
                                                        if (winningTeam != null)
                                                        {
                                                            string Score = string.Empty;
                                                            var winningTeamGoal = winningTeam.Stats.Where(x => x.Name == "Goals").SingleOrDefault();
                                                            var losingTeamGoal = losingTeam.Stats.Where(x => x.Name == "Goals").SingleOrDefault();
                                                            if (winningTeamGoal != null && losingTeamGoal != null)
                                                            {
                                                                Score = $"{winningTeamGoal.Value}-{losingTeamGoal.Value}";
                                                            }
                                                            var winningTeamMultiLingual = Match.CultureCode == "En" ? "Won" : "को जित " + Score;
                                                            Message = $"<a href={winningTeam.URL}>{winningTeam.Name}</a> {winningTeamMultiLingual}";
                                                        }
                                                        else
                                                        {
                                                            Message = "Data Aint Arrived";
                                                        }
                                                    }
                                                }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>*@
</div>

@*<div class="breking-new-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
                    <div class="breking-new">
                        @this.Context.Items["breaking_news"]
                    </div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <div class="news-dsc">
                        <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="0" data-autoplay="true" data-autoplay-timeout="5800" data-smart-speed="1800" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
                            @foreach (var Match in ViewBag.Matches as List<Sportsmandu.Models.League.SeasonMatchViewModel>)
                            {
                                var Message = string.Empty;
                                {
                                    var winningTeam = @Match.Teams.Where(x => x.Status == "Won").SingleOrDefault();
                                    var losingTeam = @Match.Teams.Where(x => x.Status == "Lost").SingleOrDefault();
                                    if (winningTeam != null)
                                    {
                                        var winningTeamMultiLingualStatus = Match.CultureCode == "En" ? "Won" : "को जित";
                                        if (Match.CultureCode == "En")
                                        {
                                            Message = $"{Match.Category.Name} : <a href=\"{winningTeam.URL}\">{winningTeam.Name}</a> Won Against <a href=\"{losingTeam.URL}\">{losingTeam.Name}</a> in {Match.Season.Name}";
                                        }
                                        else
                                        {
                                            Message = $"{Match.Category.Name} : <a href=\"{Match.Season.URL}\">{Match.Season.Name}</a>मा <a href=\"{winningTeam.URL}\">{winningTeam.Name}</a> द्वारा <a href=\"{losingTeam.URL}\">{losingTeam.Name}</a> माथि सानदार जीत</a>";
                                        }
                                    }
                                    else
                                    {
                                        Message = "Data Aint Arrived";
                                    }
                                }
                                @if (Message != "Data Aint Arrived")
                                {
                                    <div class="single-news">@Html.Raw(@Message) </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@section Scripts {
    <script>      
                //#New
                setTimeout(function () {
                    sportsmanduApp.currentCulture = '@ViewContext.RouteData.Values["Culture"]';
                    @*sportsmanduApp.allMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.FutureMatches).Take(6)));
                    sportsmanduApp.completedMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.CompletedMatches).Take(5)));*@
                },1000);
    </script>
    @if (ViewBag.MyPredictions != null)
    {
        <script>            
                    //#New
                    @*setTimeout(function () {
                    sportsmanduApp.myPredictions = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.PredictionVMFORES>)ViewBag.MyPredictions).Take(5)));
                    }, 1000);*@
        </script>
    }
}