﻿@inject IJsonHelper Json;
@using System.Linq;
@{
    string Title = string.Empty;
    Title = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "नेपाल को पहिलो खेल संजाल" : "Sports Portal From Nepal";
    ViewData["Title"] = Title;
    ViewData["OG:Image"] = "https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/54407673_2293872330894782_8642152722780389376_n.jpg?_nc_cat=104&_nc_ht=scontent.fktm3-1.fna&oh=942467895a447f153a610b99d28db936&oe=5D9EB7D3";
    ViewData["og:url"] = "https://sportsmandu.com/" + @ViewContext.RouteData.Values["Culture"] + "/Home/Index";
    ViewData["og:description"] = this.Context.Items["footer_about_us_description"];
    ViewData["og:type"] = "website";    
}
<h1>Hello I Am A Logger</h1><br /><br /><br /><br /><br />
                                                    <li v-for="log in logs">{{log.key}} <br /> {{log.more}}</li>