﻿@using Sportsmandu.Model.Entities.ViewModels;
@model Sportsmandu.Model.Entities.Blog.BlogPostVMFORES
@{
    ViewData["Title"] = @Model.Title;
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<meta property="og:title" content="@Model.Title" />
<meta property="og:image" content="~/@Model.Image" />


@*<div class="section-title" style="background:url(img/slide/1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Page Right Sidebar</h1>
                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Inner Page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- End Section Title -->
<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings-mini">
        <div class="row">
            <!-- Sidebars -->
            <div class="col-lg-9">
                <!-- Content Text-->
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>@Model.Title</h4>
                    </div>
                    <img src="@Model.Image" alt="">
                    <div class="row" style="padding-top:15px;padding-bottom:15px">
                        <div class="col-md-6">
                            <span class="author">
                                <img src="@Model.AuthorImageUrl" style="height:40px" /> <a href="http://annapurnapost.com/">@Model.AuthorName</a>
                            </span><br />
                            <span class="date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> <time datetime="@Model.PublishDate"></time> <a href="@Model.Source">Source</a>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <div class="sharethis-inline-share-buttons"></div>
                        </div>
                    </div>
                    <div class="info-panel">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
                <!-- End Content Text-->
                <!-- Comments -->
                @*<div class="panel-box">
                        <!-- Title Post -->
                        <div class="titles">
                            <h4>Comments</h4>
                        </div>
                        <!-- Title Post -->
                        <ul class="testimonials">
                            <li>
                                <blockquote>
                                    <p>Lionel Messi and Cristiano Ronaldo will come face to face for the first time in the World Cup only if their two nations finish in the same position in the group phase, either first or second.!.</p>
                                    <img src="img/testimonials/1.jpg" alt="">
                                    <strong>Federic Gordon</strong><a href="#">@@iwthemes</a>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>After two previous meetings on the big stage, it is honours even: Brazil won the Final of Korea/Japan 2002 2-0, while Germany recorded that famous victory at Brazil 2014!.</p>
                                    <img src="img/testimonials/2.jpg" alt="">
                                    <strong>Federic Gordon</strong><a href="#">@@iwthemes</a>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>To help fire your imagination and let you see if there is a potential knockout match you might be tempted to buy tickets for, FIFA.com has come up with a list of possible last-16 and quarter-final duels between some of the game’s biggest attractions.!.</p>
                                    <img src="img/testimonials/3.jpg" alt="">
                                    <strong>Federic Gordon</strong><a href="#">@@iwthemes</a>
                                </blockquote>
                            </li>
                        </ul>
                    </div>*@
                <!-- End Comments -->
                <!-- Comment Form -->
                @*<div class="panel-box padding-b">
                        <!-- Title Post -->
                        <div class="titles">
                            <h4>Publish Commnet</h4>
                        </div>

                        <div class="info-panel">
                            <!-- Form coment -->
                            <form class="form-theme">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Your name *</label>
                                        <input type="text" required="required" value="" maxlength="100" class="form-control" name="name" id="name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Your email address *</label>
                                        <input type="email" required="required" value="" maxlength="100" class="form-control" name="email" id="email">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Comment *</label>
                                        <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="comment" style="height: 138px;" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Post Comment" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                            <!-- End Form coment -->
                        </div>
                    </div>*@
                <!-- End Comment Form -->

            </div>
            <aside class="col-lg-3">
                @*<div>
                        <h4>Searh Sidebar</h4>
                        <form class="search" action="#" method="Post">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search..." name="email" type="email" required="required">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>*@
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>
                            Games To Play Online
                        </h4>
                    </div>
                    <a href="~/@ViewContext.RouteData.Values["Culture"]/Game/Index/XZSH09972879QJ/Duck-Shooter">
                        <img src="~/UserUploads/1/Games/Duck_Shooter/Thumbnail.png" alt="">
                    </a>
                    <div class="row">
                        <div class="info-panel">
                            <p>Immese youself with ACTUAL fun playing EVERGREEN 'DUCK HUNT' as 'DUCK SHOOTER'</p>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("Ads")
                @*@await Component.InvokeAsync("Ads")*@
                <!-- End Widget img-->
            </aside>
            <!-- End Sidebars -->


        </div>
    </div>
</section>



@*<div class="rs-breadcrumbs sec-color">
         <img src="~/images/breadcrumbs/blog-left.jpg" alt="Sportsmandu News" />
        <img src="~/@Model.CoverImage" alt="Sportsmandu News" />
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="page-title">@Model.Title</h1>
                        <ul>
                            <li>
                                <a class="active" href="~/">@this.Context.Items["menu_home"]</a>
                            </li>
                            <li>@this.Context.Items["menu_news"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="single-blog-details sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <!-- <h1>@Model.Title</h1> -->
                    <div class="single-image">
                        <img class="lazy" data-src="@Model.Image" alt="single">
                    </div>
                    <p>@Html.Raw(@Model.Description)</p>
                    <div class="sharethis-inline-share-buttons"></div>
                    <!-- <blockquote class="sharethis-inline-share-buttons">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                    </blockquote>
                    <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
                    <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>  -->
                    <div class="share-section">
                        <div class="row">
                            <div class="col-sm-10 col-xs-12 life-style">
                                <span class="author">
                                    <img src="@Model.AuthorImageUrl" style="height:40px" /> <a href="http://annapurnapost.com/">@Model.AuthorName</a>
                                    <!-- - Annapurna News -->
                                </span>
                                <!-- <span class="comment">
                                    <a href="#">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i> 12
                                    </a>
                                </span> -->
                                <span class="date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <time datetime="@Model.PublishDate"></time> <a href="@Model.Source">Source</a>
                                </span>
                                <!-- <span class="cat">
                                    <a href="#"><i class="fa fa-folder-o" aria-hidden="true"></i> Life Style </a>
                                </span> -->
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <!-- <ul class="share-link1">
                                    <li><a href="#"> Tags:</a></li>
                                    <li><a href="#"> Football</a></li>
                                    <li><a href="#"> Club</a></li>
                                    <li><a href="#"> Sports</a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="share-section2">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <span> You Can Share It : </span>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <ul class="share-link">
                                    <div class="sharethis-inline-share-buttons"></div>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                    <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i> Google</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <ul class="next-pre-section">
                                <li class="left-arrow"><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Post</a></li>
                                <li class="right-arrow"><a href="#">Next Post <i class="fa fa-angle-right" aria-hidden="true"></i> </a></li>
                            </ul>
                        </div>
                    </div>     -->
                    <div class="like-section">
                        <h3 class="title-bg">YOU MIGHT ALSO LIKE</h3>
                        <div class="row">
                            @foreach (var News in ((List<Sportsmandu.Model.Entities.Blog.BlogPostVMFORES>)ViewBag.RecentPost).Take(3))
                            {
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                    <div class="popular-post-img">
                                        <a href="~/@News.URL"><img class="lazy" data-src="@News.Thumbnail" alt="@News.Title"></a>
                                    </div>
                                    <h3>
                                        <a href="~/@News.URL">@News.Title</a>
                                    </h3>
                                    <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="@News.PublishDate"></time></span>
                                </div>
                            }
                        </div>
                    </div>
                    @if (ViewBag.Players != null)
                    {
                        <div class="like-section">
                            <h3 class="title-bg">Players To Watch</h3>
                            <div class="row">
                                @foreach (var News in ((List<Sportsmandu.Model.Entities.ViewModels.PlayerViewModel>)ViewBag.Players).Take(3))
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <div class="popular-post-img">
                                            <a href="~/@News.URL"><img class="lazy" data-src="@News.Thumbnail" alt="@News.Name"></a>
                                        </div>
                                        <h3>
                                            <a href="~/@News.URL">@News.Name</a>
                                        </h3>
                                        <!-- <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="News.PublishDate"></time></span> -->
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <!-- <div class="author-comment">
                        <h3 class="title-bg">Recent Comments</h3>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <div class="image-comments"><img src="~/images/blog-details/comment.png" alt="Blog Details photo"></div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <span class="reply"> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                                        <div class="dsc-comments">
                                            <h4>Thesera Minton</h4>
                                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                            <a href="#"> Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <div class="image-comments"><img src="~/images/blog-details/comment.png" alt="Blog Details photo"></div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <span class="reply"> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                                        <div class="dsc-comments">
                                            <h4>Thesera Minton</h4>
                                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                                            <a href="#"> Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <div class="image-comments"><img src="~/images/blog-details/comment.png" alt="Blog single photo"></div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <span class="reply"><span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                                        <div class="dsc-comments">
                                            <h4>Thesera Minton</h4>
                                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                            <a href="#"> Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="leave-comments-area">
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <label>Fast Name*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Your comment here...</label>
                                    <textarea cols="40" rows="10" class="textarea form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn-send" type="submit">Post Comment</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>-->
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="sidebar-area">
                        <!-- <div class="search-box">
                            <div class="box-search">
                                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cate-box">
                            <span class="title">Categories</span>
                            <ul>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Category Title 1</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Category Title 2</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Category Title 3</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Category Title 4</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Category Title 5</a>
                                </li>
                            </ul>
                        </div>
                        <div class="archives-box">
                            <span class="title">Archives</span>
                            <ul>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">2018 (18)</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">2017 (16)</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">2016 (15)</a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">2015 (17)</a>
                                </li>
                            </ul>
                        </div> -->
                        <div class="recent-post-area">
                            <span class="title">@this.Context.Items["latest_news"]</span>
                            <ul class="news-post">
                                @foreach (var Category in ((List<Sportsmandu.Model.Entities.Blog.BlogPostVMFORES>)ViewBag.RecentPost))
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                                                <div class="item-post">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddimg-right-none">
                                                            <img class="lazy" data-src="@Category.Thumbnail" alt="" title="@Category.Title" />
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <h4><a href="~/@Category.URL">@Category.Title</a></h4>
                                                            <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="@Category.PublishDate"></time></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- @if(ViewBag.Players != null){
                        <div class="recent-post-area">
                            <span class="title"> Players Profile</span>
                            <ul class="news-post">
                               @foreach (var Player in ViewBag.Players as List<Sportsmandu.Model.Entities.ViewModels.PlayerViewModel>)
                                {
                                        <li>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                                                <div class="item-post">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddimg-right-none">
                                                            <img class="lazy" data-src="@Player.Thumbnail" alt="" title="@Player.Name" />
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <h4><a href="~/@Player.URL">@Player.Name</a></h4>
                                                            <span class="info"><i class="fa fa-info" aria-hidden="true"></i>@Player.Summary</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        } -->
                        <!-- <div class="recent-post-area">
                            <span class="title"> Upcoming Games</span>
                            <ul class="news-post">
                                        <li>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                                                <div class="item-post">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddimg-right-none">
                                                            <img src="Category.Thumbnail" alt="" title="News image" />
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <h4><a href="~/Category.URL">Category.Title</a></h4>
                                                            <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Category.CreatedDate</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                            </ul>
                        </div> -->
                        <!-- <div class="tag-area">
                            <span class="title">Tags</span>
                            <ul>
                                <li>
                                    <a href="#">Ball</a>
                                </li>
                                <li>
                                    <a href="#">Coach</a>
                                </li>
                                <li>
                                    <a href="#">League</a>
                                </li>
                                <li>
                                    <a href="#">Point</a>
                                </li>
                                <li>
                                    <a href="#">Ball</a>
                                </li>
                                <li>
                                    <a href="#">Coach</a>
                                </li>
                                <li>
                                    <a href="#">League</a>
                                </li>
                                <li>
                                    <a href="#">Point</a>
                                </li>
                                <li>
                                    <a href="#">Ball</a>
                                </li>
                                <li>
                                    <a href="#">Coach</a>
                                </li>
                                <li>
                                    <a href="#">Point</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <div class="newsletter-area">
                            <h3>Newsletter</h3>
                            <p>Sign up for our Newsletter !</p>
                            <div class="box-newsletter">
                                <button class="btn btn-default" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@section Scripts {
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d07460b4351e90012650e92&product=' inline-share-buttons' async='async'></script>
}