﻿@using Sportsmandu.Model.Entities.ViewModels;
@model IEnumerable<Sportsmandu.Model.Entities.Blog.BlogPostVMFORES>
@{
    string Title = string.Empty;
    Title = ViewContext.RouteData.Values["Culture"].ToString() == "Np" ? "खेल समाचार" : "Sports News";
    ViewData["Title"] = Title;
    //Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
@*<div class="section-title" style="background:url(img/slide/1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>News Right Sidebar</h1>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Inner Page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- End Section Title -->
<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings-mini">
        
        <div class="row">
            <div class="col-lg-9">
                <!-- Content Text-->
                <div class="panel-box">
                    <div class="titles">
                        <h4>Recent News</h4>
                    </div>
                    <!-- Post Item -->
                    @foreach (var News in Model)
                    {
                        <div class="post-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-hover">
                                        <img src="~/@News.Thumbnail" alt="" class="img-responsive">
                                        <div class="overlay"><a href="~/@News.URL">+</a></div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5><a href="~/@News.URL">@News.Title</a></h5>
                                    <span class="data-info"><time datetime="@News.PublishDate"></time>
                                    @*/ <i class="fa fa-comments"></i><a href="#">0</a>*@
                                    </span>
                                    <p>@News.Summary<a href="~/@News.URL">Read More [+]</a></p>
                                </div>
                            </div>
                        </div>
                        }                         
                    </div>
                <!-- End Content Text-->
            </div>

            <!-- Sidebars -->
            <aside class="col-lg-3">

                @*<div>
            <h4>Searh Sidebar</h4>
            <form class="search" action="#" method="Post">
                <div class="input-group">
                    <input class="form-control" placeholder="Search..." name="email" type="email" required="required">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                    </span>
                </div>
            </form>
        </div>*@
                <!-- Widget Categories-->
                @*<div class="panel-box">
            <div class="titles no-margin">
                <h4>Categories</h4>
            </div>
            <div class="info-panel">
                <ul class="list">
                    <li><i class="fa fa-check"></i><a href="#">Design</a></li>
                    <li><i class="fa fa-check"></i><a href="#">Photos</a></li>
                    <li><i class="fa fa-check"></i><a href="#">Videos</a></li>
                    <li><i class="fa fa-check"></i><a href="#">Lifestyle</a></li>
                    <li><i class="fa fa-check"></i><a href="#">Technology</a></li>
                </ul>
            </div>
        </div>*@
                <!-- End Widget Categories-->
                <!-- Widget Text-->
                @await Component.InvokeAsync("Ads")
                @*<div class="panel-box">
            <div class="titles no-margin">
                <h4>Widget Text</h4>
            </div>
            <div class="info-panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore.</p>
            </div>
        </div>*@
                <!-- End Widget Text-->
                <!-- Widget img-->
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @*<div class="panel-box">
            <div class="titles no-margin">
                <h4>Widget Image</h4>
            </div>
            <img src="img/slide/1.jpg" alt="">
            <div class="row">
                <div class="info-panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  ut sit amet, consectetur adipisicing elit, labore et dolore.</p>
                </div>
            </div>
        </div>*@
                <!-- End Widget img-->
            </aside>
            <!-- End Sidebars -->
        </div>
    </div>

    <!-- Newsletter -->
    @*<div class="section-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
                        <p>Duis non lorem porta,  eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat.</p>
                    </div>
                    <form id="newsletterForm" action="php/mailchip/newsletter-subscribe.php">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input class="form-control" placeholder="Your Name" name="name" type="text" required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input class="form-control" placeholder="Your  Email" name="email" type="email" required="required">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" name="subscribe">SIGN UP</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="result-newsletter"></div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- End Newsletter -->
</section>

<section class="content-info">
    <div class="container paddings-mini">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-box">
                    <div class="titles">
                        <h4>Recent News</h4>
                    </div>
                    @foreach (var News in Model)
                    {
                        <div class="post-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-hover">
                                        <img src="~/@News.Thumbnail" alt="" class="img-responsive">
                                        <div class="overlay"><a href="">+</a></div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5><a href="~/@News.URL">@News.Title</a></h5>
                                    <span class="data-info">
                                        <time datetime="@News.PublishDate"></time>
                                        @*/ <i class="fa fa-comments"></i><a href="#">0</a>*@
                                    </span>
                                    <p>@News.Summary<a href="~/@News.URL">Read More [+]</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>