﻿@using Sportsmandu.Model.Entities.ViewModels;
@model Sportsmandu.Models.GameViewModel;
@{
    Layout = null;
    ViewData["Title"] = @Model.Name;
}
<title>@Model.Name</title>
<link rel="shortcut icon" type="image/x-icon" href="~/images/fav.ico">
@Html.Raw(ViewBag.GameHtml)
<script>
    var GAME_ID = '@Model.Guid';
    var GAME_SALT = '@ViewBag.Salt';
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1428209939997083",
        enable_page_level_ads: true
    });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133838094-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-133838094-2');
</script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
        OneSignal.init({
            appId: "6a6b9e8f-d432-4aa0-81e4-5b4fa1e21ac0"
        });
    });
</script>