﻿@model Sportsmandu.Model.Entities.ViewModels.PlayerViewModelEs
@{
    ViewData["Title"] = @Model.Name;
    ViewData["OG:Image"] = @Model.Image;
    ViewData["og:url"] = @Model.Url;
    ViewData["og:description"] = @Model.Description;
    ViewData["og:type"] = "profile";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs sec-color">
    <img class="lazy" data-src="@Model.CoverImage" alt="Breadcrubs" />
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">@Model.Name</h1>
                    <ul>
                        <li>
                            <a class="active" href="~/">@this.Context.Items["menu_home"]</a>
                        </li>
                        <li>@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->
<!-- Team Single Start -->
<div class="rs-team-single-section team-inner-page sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="rs-team-single-image">
                    <img class="lazy" data-src="@Model.Thumbnail" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="rs-team-single-text">
                    <h3>@Model.Name</h3>
                    <!-- <span @@click="SubscribeMe()">Follow</span> -->
                    <div class="row single-details">
                        <div class="col-md-5 single-team-info">
                            <table>
                                <tr>
                                    <td><h3>@this.Context.Items["player_single_Sport"]</h3></td>
                                    <td><h4>@Model.CategoryName</h4></td>
                                </tr>
                                <tr>
                                    <td><h3>@this.Context.Items["player_single_Born"]</h3></td>
                                    <td><h4>@Model.DOB</h4></td>
                                </tr>
                                <!-- <tr>
                                    <td><h3>Position</h3></td>
                                    <td><h4>@Model.Role</h4></td>
                                </tr> -->
                                <!-- <tr>
                                    <td><h3>Jersey Number</h3></td>
                                    <td><h4></h4></td>
                                </tr> -->
                                <tr>
                                    <td><h3>@this.Context.Items["player_single_Frist_Club"]</h3></td>
                                    @if (@Model.Club.LastOrDefault() != null)
                                    {
                                        <td><h4><a href="~/@Model.Club.LastOrDefault().URL">@Model.Club.LastOrDefault().Name</a></h4></td>
                                    }
                                    else
                                    {
                                        <td><h4></h4></td>
                                    }
                                </tr>
                                <!-- <tr>
                                    <td><h3>Follow @Model.Name on</h3></td>
                                    <td>
                                        <a href="#"><i class="fa fa-facebook-f"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                        <div class="col-md-7 single-team-text">
                            <div class="text-section">
                                <p>“Dont Doubt My Skills ! Already Played With @Model.Club.Count() Teams”</p>
                            </div>
                            <div class="signature-section">
                                <div class="sign-left">
                                    <!-- <h1>@Model.Name</h1> -->
                                </div>
                                <div class="sign-right">
                                    <i>- @Model.Name</i>
                                    <!-- <img src="~/images/team/team-single-sign.png" alt=""> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-information-text">
                        <p>
                            @{
                                string greetingText = string.Empty;
                                @if (ViewContext.RouteData.Values["Culture"].ToString() == "En")
                                {
                                    greetingText = $"Hello, I am {Model.Name} , from {Model.CountryName} , I have been associated with {Model.Club.Count()} Teams till now and I play {Model.CategoryName}";
                                }
                                else
                                {
                                    greetingText = $"नमस्ते , म {Model.Name} , म {Model.CategoryName} खेल्छु , मेरो बारे मा जान्न यो पेज मा आबद्द हुनुहोला";
                                }
                            }
                            <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            @greetingText
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Club.Count > 1)
        {
            <div class="rs-team-single-section team-inner-page sec-spacer">
                <div class="col-md-6 col-sm-8">
                    <h3 class="title-bg">@this.Context.Items["player_single_clubs_involved_in"]</h3>
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                        @foreach (var Club in Model.Club)
                        {
                            <div class="our-team">
                                <a href="~/@Club.URL"><img class="lazy" data-src="@Club.Thumbnail" alt="@Club.Name" /></a>
                                <div class="person-details">
                                    <!-- <div class="overly-bg"></div> --><br>
                                    <a href="~/@Club.URL"><h5 class="person-name" align="center"><strong>@Club.Name</strong></h5></a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.Seasons.Count > 1)
                {
                    <div class="col-md-6 col-sm-8">
                        <h3 class="title-bg">@this.Context.Items["player_single_games_played"]</h3>
                        <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="4000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                            @foreach (var Club in Model.Seasons)
                            {
                                <div class="our-team">
                                    <a href="~/@Club.URL"><img class="lazy" data-src="@Club.Thumbnail" alt="@Club.Name" /></a>
                                    <div class="person-details">
                                        <!-- <div class="overly-bg"></div> -->
                                        <a href="~/@Club.URL"><h5 class="person-name" align="center"><strong>@Club.Name</strong></h5></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
        }
    </div>
</div>






<div class="rs-team-single-section team-inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <!-- <h3 class="title-bg">In The News</h3> -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            sportsmanduApp.currentCulture = '@ViewContext.RouteData.Values["Culture"]';
            sportsmanduApp.gallery = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.Gallery.GalleryVMFORES>)@Model.Gallery).Take(10)));
        },1000);
    </script>
}