﻿@model List<Sportsmandu.Models.PredictionVMFORES>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@Html.Partial("_predict")
<div class="section-title" style="background:url(https://contest.dishhome.com.np/wc/img/Predictandwin-01-min.png)">
    <div class="container">
        <div class="row">
            <div class="col-md-12" align="center">
                <h1>Predict And Win Amazing Prizes Every Match !</h1>
            </div>
       </div>
    </div>
</div>
<section class="content-info">
    <div class="container paddings-mini">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="clear-title">@this.Context.Items["homepage_match_fixture"]</h3>
            </div>

            <div class="col-lg-12">
                <table class="table-striped table-responsive table-hover">
                    <thead>
                        @*<tr>
                            <th>@this.Context.Items["sport"]</th>
                            <th align="center">@this.Context.Items["team_a"]</th>
                            @*<th class="text-center">VS</th>*@
                            @*<th>@this.Context.Items["team_b"]</th>
                            <th></th>
                            <th>@this.Context.Items["result"]</th>
                        </tr>*@
                    </thead>
                    <tbody>
                        <tr v-for="season in allMatches">
                            <td>
                                <img class="lazy" :data-src="season.category.thumbnail" :alt="season.category.name">
                                <small class="meta-text">  @*GROUP H.*@</small>
                            </td>
                            <td align="left">
                                <img class="lazy" :data-src="season.teams[0].thumbnail" :alt="season.teams[0].name">
                                <strong><a :href="baseUrl + season.teams[0].url">{{season.teams[0].name}}</a></strong><br>
                                <small class="meta-text">@*GROUP H.*@</small>
                                <br /><br />
                                <img class="lazy" :data-src="season.teams[1].thumbnail" :alt="season.teams[1].Name">
                                <strong><a :href="baseUrl + season.teams[1].url">{{season.teams[1].name}}</a> </strong><br>
                                <small class="meta-text">@*GROUP H.*@</small>
                            </td>                           
                            <td>
                                <time :datetime="season.date"></time><br>
                                <small class="meta-text"><a :href="baseUrl + season.ground.url">{{season.ground.name}}</a></small><br />                                
                                <small class="meta-text"><a :href="baseUrl + season.season.url">{{season.season.name}}</a></small>
                            </td>
                            <td>
                                <div v-if="season.status == 'Not_Started'">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @@click="selectedFixture=season;predictedFixture.fixtureGuid = season.guid;setPrediction(season.guid)">
                                        {{getPrediction(season.guid)}}
                                    </button>
                                    @*<strong><a :href="'/@ViewContext.RouteData.Values["Culture"]/Home/FixtureDetails/'+season.guid +'_@ViewContext.RouteData.Values["Culture"]'">{{getPrediction(season.guid)}}</a></strong>*@
                                </div>
                                <div>
                                    <strong><a :href="'/@ViewContext.RouteData.Values["Culture"]/Home/FixtureDetails/'+season.guid +'_@ViewContext.RouteData.Values["Culture"]'">Game Stats</a></strong>
                                </div>
                                <small class="meta-text">
                                    {{season.status}}
                                </small>
                                @*@Match.Status<br>*@
                                @*{
                                        string Message = "No Data!";
                                        if (Match.Status == "Not_Started")
                                        {
                                            Message = "Not Started";
                                        }
                                        else if (Match.Status == "Started")
                                        {
                                            Message = "Playing";
                                        }
                                        else if (Match.Status == "Completed")
                                        {
                                            var winningTeam = Match.Teams.Where(x => x.Status == "Won").SingleOrDefault();
                                            var losingTeam = Match.Teams.Where(x => x.Status == "Lost").SingleOrDefault();
                                            if (winningTeam != null)
                                            {
                                                string Score = string.Empty;
                                                var winningTeamGoal = winningTeam.Stats.Where(x => x.Name == "Goals").SingleOrDefault();
                                                var losingTeamGoal = losingTeam.Stats.Where(x => x.Name == "Goals").SingleOrDefault();
                                                if (winningTeamGoal != null && losingTeamGoal != null)
                                                {
                                                    Score = $"{winningTeamGoal.Value}-{losingTeamGoal.Value}";
                                                }
                                                var winningTeamMultiLingual = Match.CultureCode == "En" ? "Won" : "को जित " + Score;
                                                Message = $"<a href={winningTeam.URL}>{winningTeam.Name}</a> {winningTeamMultiLingual}";
                                            }
                                            else
                                            {
                                                Message = "Data Aint Arrived";
                                            }
                                        }
                                    }*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container paddings-mini">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="clear-title">Your Predictions</h3>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-lg-12">
                    <table class="table-striped table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Game Date</th>
                                <th>Predicted Date</th>
                                <th class="text-center">Teams Involved</th>
                                <th>Prediction</th>
                                <th>Result</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>                           
                                <tr v-for="prediction in myPredictions">
                                    <td>
                                        <strong><time :datetime="prediction.fixtureDate"></time><br></strong><br>
                                    </td>
                                    <td>
                                        <strong><time :datetime="prediction.createdDate"></time></strong>
                                    </td>
                                    <td class="text-center">
                                        <h5 v-if="prediction.fixtureSeason != null">{{prediction.fixtureSeason.name}}</h5>
                                        <div v-for="team in prediction.teams">
                                            <img :src="baseUrl + team.thumbnail" alt="team.name">
                                            <strong>{{team.name}}</strong><br><br />
                                        </div>
                                    <td>
                                        <div>
                                            <strong>
                                                {{prediction.predictionText}}
                                            </strong>                                            
                                        </div>                                       
                                    </td>
                                    <td>                                        
                                        <strong :class="prediction.blink">{{prediction.resultText}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{prediction.points}}</strong>
                                    </td>
                                </tr>
                            
                            <tr>
                                <td colspan="5">
                                    <strong>Total Points</strong>
                                </td>
                                <td>
                                    @*(Model.Where(x => x.PredictionSucceded == true).Count() * 3)*@
                                    {{myPredictedPoints()}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-lg-12">
                    <strong><h2>Please <a href="~/Identity/Account/Login"> Login </a> And Win Amazing Prizes !</h2></strong>
                </div>
            }
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <h3 class="clear-title">Top Predictions</h3>
            </div>

            <div class="col-lg-12">
                <table class="table-striped table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th class="text-center">Predicted Games</th>
                            <th class="text-center">Successful Predictions</th>
                            <th class="text-center">Total Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var items in ((List<Sportsmandu.Models.PredictionVMFORES>)@ViewBag.Players)){*@
                        @foreach (var items in ((List<Sportsmandu.Models.ApplicationUserVMFORES>)@ViewBag.TopPredictions))
                        {
                            <tr>
                                <td>
                                    <strong>@items.Avatar</strong><br>
                                    <strong>@items.Email</strong>
                                </td>
                                <td class="text-center">
                                    @items.Predictions.Where(x => x.Result != "Not_Finalized").Count()
                                </td>
                                <td class="text-center">
                                    @(items.Predictions.Where(x => x.PredictionSucceded == true).Count())
                                </td>
                                <td class="text-center">
                                    <strong>@(items.Predictions.Where(x => x.PredictionSucceded == true).Count() * 3)</strong>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<br /><br /><br />
<br /><br /><br />

@section Scripts {
    <script>
        sportsmanduApp.currentCulture = '@ViewContext.RouteData.Values["Culture"]';
        sportsmanduApp.allMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.Matches)));
    </script>
    @if (ViewBag.MyPredictions != null)
    {
        <script>
         sportsmanduApp.myPredictions = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.PredictionVMFORES>)ViewBag.MyPredictions).Take(5)));
        </script>
    }
}