﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<br /><br />
<div class="container excontainer">    
    <h1 align="center">Sportsmandu Privacy Policy</h1><br /><br />
    @*<p class="light">Last Modified @DateTime.Now</p>*@
    <p>
        Your privacy is important to us. To better protect your privacy we
        provide this notice explaining our online information practices and the
        choices you can make about the way your information is collected and
        used.
    </p>
    <p>
        Please note that participation in the Sportsmandu Sites is primarily a
        public activity and much of the information you post to any Sportsmandu Sites
        (whether directly through our site or via links with other social
        networking websites) is instantly publicly viewable. Therefore, you
        should not submit information that you consider confidential. We
        maintain the privacy of your email address and password submitted to us
        in the registration process (unless you enter such information as your
        username or in the text of your entries to user areas), but other
        information you provide should be considered nonconfidential and
        available for viewing by others.
    </p>
    <p>
        Also, please note that information provided through facebook or other
        social networks, or for publication on fan pages, mobile apps or
        websites may be subject to different privacy policies which may vary
        materially from these terms applying to our web sites.
    </p>

    <h2>The Information We Collect</h2>

    <p>
        Any information gathered by us is used to customize the experience
        for you the user, and is not shared or sold to any third parties,
        except as expressly provided for in this Privacy Policy and our Terms
        of Service. However, we may in the future provide customized or
        targeted advertisements to you based upon your data (including usage
        statistics and characteristics), in which case we may allow third party
        applications to access such data for the purpose of customizing
        messages or advertising for you.
    </p>

    <h2>Our Commitment to Data Security</h2>

    <p>
        To prevent unauthorized access and maintain data accuracy, we use
        industry standard methods to safeguard and secure the information we
        collect online, although you recognize that data transmitted online or
        stored in a facility to which online access is provided cannot be made
        to be 100% secure. We believe in protecting your information just as we
        would want our information protected.
    </p>
    <p>
        In the event that personal information is compromised as a result of
        a breach of security, we will promptly notify those persons whose
        personal information has been compromised as may be required by
        applicable law.
    </p>
    <p>
        Please note that information you enter for your user profile or in
        your posts may be accessed and viewed publicly and therefore you should
        not post information that you consider confidential or that you do not
        want distributed publicly. Although in some areas you will have the
        ability to edit or delete information, please note that even this
        information may have been cached on servers, cut and pasted or
        otherwise incorporated into other posts or for other uses, and so once
        information is posted you should consider that it may be publicly
        available perpetually, and in different locations and/or media than
        your original submission.
    </p>

    <h2>Notifications</h2>

    <p>
        It is our policy to provide notifications, whether such notifications
        are required by law or are for marketing or other business related
        purposes, to our users via email notice, written or hard copy notice,
        or through conspicuous posting of such notice on a Sportsmandu Site, as
        determined by us in our sole discretion. Notwithstanding the foregoing,
        we reserve the right to determine the form and means of providing
        notifications to our users.
    </p>

    <h2>Child Protection</h2>

    <p>
        We do not offer services to, or target, persons under the age of 13.
        In compliance with the Children's Online Privacy Protection Act, we
        will purge any information we receive from people we believe to be
        children under 13 from our database and cancel the corresponding
        accounts.
    </p>

    <h2>How You Can Access or Correct Your Information</h2>

    <p>
        You can access your personally identifiable information that we
        collect online and maintain by logging in and "Editing" your account.
        Your password is needed to edit this information, even if you are
        already logged in. We use this procedure to better safeguard your
        information. You may not be able to edit or delete past entries and
        information collected regarding past updates.
    </p>

    <p>
        To protect your privacy and security, we will also take reasonable
        steps to verify your identity before granting access or making
        corrections. The main form of identity management is your email
        address. Please always use a valid and up-to-date email address.
    </p>

    <h2>Use of User Information</h2>

    <p>
        Information you provide to us about yourself, or that we collect and
        infer based upon your entries and posts to a Sportsmandu Site may be used to
        improve your user experience, provide or suggest targeted services and
        to allow third party advertises and messaging to be tailored or
        targeted. We may use or provide to third parties aggregated data
        entered by users or inferred from usage. We may collect IP addresses
        and cookies for the primary purpose of assisting with ease of use by
        you. However, except as legally required, we will not sell or provide
        your email address, IP address, cookies, address or phone number to
        third parties for advertising or other purposes. In the future we may
        provide third parties with the ability to provide customizable or
        targeted advertising or messages and in such cases we may allow third
        party applications to access your user data in determining the
        messaging or advertising applicable to you.
    </p>

    <p>
        Sportsmandu is a platform. By nature, our platform helps our customers create
        interactive marketing campaigns including contests and sweepstakes.
        By doing so our customers can collect Personal Information from users
        including name, email and user-generated content.  If you participate in a
        campaign created by a Sportsmandu customer using the Sportsmandu Platform  your information
        is bound by the privacy policy and terms of the Sportsmandu customer who created the
        campaign as well as Sportsmandu's policies. Our customers may choose to transfer your
        Personal Information into their systems.
    </p>

    <h2>Compliance</h2>

    <p>
        <i>Access to your Personal Information.</i> You have a right to access, modify, correct
        and request that Sportsmandu internally delete any Personal Information provided to or
        obtained by Sportsmandu. If you update, modify or correct any Personal Information, we
        may keep copies of your Personal Information prior to such update, modification
        or correction for uses provided for in this Policy. You may update, modify or
        correct your Personal Information via your account Preferences. Alternatively,
        you may contact <a href="mailto:info@sportsmandu.com">info@sportsmandu.com</a> for updates,
        modifications and corrections to your Personal Information, or to request access
        to your Personal Information.
    </p>

    <p>
        <i>Retention Of Your Personal Information.</i> You may request internal deletion of your
        Personal Information at any time by contacting Sportsmandu in the manner provided on Sportsmandu.
        Sportsmandu will endeavor to respond to your request in a timely manner. Please note, however
        that Personal Information you have published on Facebook or other social channels may
        remain available even if you request that such information be internally deleted by Sportsmandu.
        Once a request to delete a Sportsmandu user's Personal Information is received, it will be
        removed from our servers within 60 days. You may contact
        <a href="mailto:support@sportsmandu.com">support@sportsmandu.com</a> to delete your account.
    </p>

    <p>
        <i>Protection of Your Personal Information.</i> Any Personal Information that you provide to
        Sportsmandu will be protected in a commercially reasonable manner.
    </p>

    <p>
        <i>Notice of Breach of Security.</i> In the event of a security breach that affects you Sportsmandu
        will notify you as soon as possible on both the nature of the breach and the actions
        taken to address it.
    </p>

    <h2>How to Contact Us</h2>

    <p>
        Should you have other questions or concerns about these privacy
        policies, please send us email at <a href="mailto:support@sportsmandu.com">support@sportsmandu.com</a>.
    </p>
</div>
<br /><br /><br />