﻿@{
    ViewData["Title"] = "Register An Event With Us";
}
<section class="content-info">
    <div class="container paddings">
        <div class="panel-box block-form">
            <div class="titles text-center">
                <h4>REGISTER YOUR EVENT NOW!.</h4>
            </div>
            <div class="info-panel">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="lead">Invite Us To Your Event ! Invite Us To Your Event ! Invite Us To Your Event ! Invite Us To Your Event ! Invite Us To Your Event !</p>
                    </div>
                </div>
                <form class="form-horizontal form-theme padding-top-mini">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Event Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="ername" name="ername" class="form-control" placeholder="Type your name" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Start Date</label>
                        <div class="col-sm-10">
                            <input type="date" id="erdate" name="erdate" class="form-control" required="">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-sm-2">Age Limit</label>
                            <div class="col-sm-10">
                                <select id="erage" name="erage" class="form-control" required="">
                                    <option value="">Select Age</option>
                                    <option value="00-10">00-10</option>
                                    <option value="10-20">10-20</option>
                                    <option value="20-30">20-30</option>
                                    <option value="30-40">30-40</option>
                                    <option value="40-50">40-50</option>
                                    <option value="50-60">50-60</option>
                                </select>
                            </div>
                        </div>*@
                    @*<div class="form-group">
                            <label class="control-label col-sm-2">City</label>
                            <div class="col-sm-10">
                                <input type="text" id="ercity" name="ercity" class="form-control" placeholder="Type your city" required="">
                            </div>
                        </div>*@
                    <div class="form-group">

                        <label class="control-label col-sm-2">Address</label>
                        <div class="col-sm-10">
                            <textarea id="eraddr" name="eraddr" class="form-control" placeholder="Type your address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Event Desctiptions</label>
                        <div class="col-sm-10">
                            <textarea id="erdesc" name="erdesc" class="form-control" placeholder="Type event descriptions"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Contact E-mail</label>
                        <div class="col-sm-10">
                            <input type="email" id="ermail" name="ermail" class="form-control" placeholder="Type your email" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Contact Number</label>
                        <div class="col-sm-10">
                            <input type="number" id="erphone" name="erphone" class="form-control" placeholder="Type your phone" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="offset-sm-2 col-sm-10">
                            <input type="submit" value="submit" class="bnt btn-iw">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <script>
      setTimeout(function () {

        }, 3000);
      latLong = "27.7128105,85.3213054";
      setTimeout(function () {
          var map = L.map('map', {
            center: [latLong],
            zoom: 15
        });
          L.control.scale().addTo(map);

// Create a Tile Layer and add it to the map
//var tiles = new L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png').addTo(map);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var searchControl = new L.esri.Controls.Geosearch().addTo(map);

  var results = new L.LayerGroup().addTo(map);

  searchControl.on('results', function(data){
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });

            setTimeout(function () { $('.pointer').fadeOut('slow'); }, 3400);

var popup = L.popup();
function onMapClick(e) {
        popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    console.log(e.latlng);
    $('#Latitude').val(e.latlng.lat);
    $('#Longitude').val(e.latlng.lng);
}

     map.on('click', onMapClick);

 }, 3000);
    </script>
    @*<partial name="_ValidationScriptsPartial" />*@
}
