﻿@model Sportsmandu.Models.League.SeasonVMFORES
@{
    ViewData["Title"] = "";
    ViewData["Title"] = @Model.Name;
    ViewData["OG:Image"] = @Model.Image;
    ViewData["og:url"] = @Model.URL;
    ViewData["og:description"] = @Model.Description;
}
<link href="~/css/submain.css" rel="stylesheet" media="screen">
<div class="section-title-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    @Html.Partial("_contribute",Model.Complete)
                    @*<button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
                             data-cookie-string="@cookieString">
                            <span aria-hidden="true">Close!</span>
                        </button>*@
                    <div class="col-md-3">
                        <img src="~/@Model.Thumbnail" alt="">
                    </div>
                    <div class="col-md-9">
                        <h1>@Model.Name</h1>
                        @*<ul class="general-info">
                            <li><h6><strong>Foundation:</strong> Model.Founded </h6></li>
                            <li><h6><strong>President:</strong> - </h6></li>
                            <li><h6><strong>Manager:</strong> - </h6></li>
                            <li><h6><strong>Total Titles:</strong> - </h6></li>
                            <li><h6><strong>Location:</strong> - </h6></li>
                            <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="" target="_blank">Website</a>
                                </h6>
                            </li>
                        </ul>*@
                        @*<ul class="social-teams">
                            foreach (var items in Model.Social)
                            {
                                <li>
                                    <div>
                                        <a href="items.Link" target="_blank" class="items.Social.ToLower()">
                                            <i class="fa fa-items.Social.ToLower()"></i>
                                        </a>
                                    </div>
                                </li>
                                <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            }
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team lazy" data-load="backgroundcssload" src="~/@Model.CoverImage"></div>
</div>
<section class="content-info">
    <div class="single-team-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <ul class="nav nav-tabs" id="myTab">
                        <li  class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                        <li><a href="#squad" data-toggle="tab">Teams</a></li>
                        @*<li><a href="#alumni" data-toggle="tab">Alumni</a></li>*@
                        @*<li><a href="#fixtures" data-toggle="tab">Upcoming </a></li>*@
                        <li><a href="#results" data-toggle="tab">Results</a></li>
                        <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
                        <li><a href="#stats" data-toggle="tab">STATS</a></li>
                    </ul>
                </div>
                <div class="col-lg-9 padding-top-mini">
                    <div class="tab-content">
                        <div class="tab-pane active" id="overview">
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>@Model.Name</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-4">
                                        <img src="img/clubs-teams/single-team.jpg" alt="">
                                    </div>
                                    <div class="col-lg-12 col-xl-8">
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1 align="center">Standings</h1> <br />
                                        <table class="table-striped table-responsive table-hover result-point">
                                            <thead class="point-table-head">
                                                <tr>
                                                    <th class="text-left">No</th>
                                                    <th class="text-left">TEAM</th>
                                                    <th class="text-center">P</th>
                                                    <th class="text-center">W</th>
                                                    <th class="text-center">D</th>
                                                    <th class="text-center">L</th>                                                                                                        
                                                </tr>
                                            </thead>

                                            <tbody class="text-center">
                                                @foreach (var standings in Model.Standings)
                                                {
                                                    <tr>
                                                        <td class="text-left foreachber">1 
                                                        @*<i class="fa fa-caret-up" aria-hidden="true"></i>*@
                                                        </td>
                                                        <td class="text-left">
                                                            <img src="~/@standings.Club.Thumbnail" alt="@standings.Club.Name"><span><strong>@standings.Club.Name.Replace("National Team","")</strong></span>
                                                        </td>
                                                        <td>@standings.Played</td>
                                                        <td>@standings.Won</td>
                                                        <td>@standings.Draw</td>
                                                        <td>@standings.Points</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-line-height">
                                    <div class="col-md-12">
                                        <h3 class="clear-title">Sponsors</h3>
                                    </div>
                                </div>
                            <ul class="sponsors-carousel">
                                @foreach (var items in @Model.Partners)
                                {
                                    <img :src="baseUrl + '@items.Partner.Image'"/>
                                }
                            </ul>
                        </div>
                        @Html.PartialAsync("_FrontEndGallery").Result                        
                        <div class="tab-pane" id="squad">
                            <div class="row">
                                @foreach (var player in Model.Clubs)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div align="center">
                                            <div class="center">
                                                <img src="~/@player.Thumbnail" alt="@player.Name" style="height:130px">
                                            </div>
                                            <div class="info-player">
                                                <h4>                                                    
                                                    <a href="~/@player.URL">@player.Name</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="results">
                            <div class="recent-results results-page">
                                <div class="info-results">
                                    @if (ViewBag.CompletedMatches != null)
                                    {
                                        <ul>
                                            @foreach (var Fixture in ViewBag.CompletedMatches as List<Sportsmandu.Models.League.SeasonMatchViewModel>)
                                            {
                                                <li>
                                                    <span class="head">
                                                        <a style="color:white" href="~/@Fixture.Season.URL">@Fixture.Season.Name</a> <span class="date"><time datetime="@Fixture.Date"></time><br></span>
                                                    </span>
                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/por.png" alt="">
                                                            @Fixture.Teams.FirstOrDefault().Name
                                                        </a>
                                                        <span class="goals">
                                                            @*<b>2</b> - <b>3</b>*@
                                                            <a href="~/En/Home/FixtureDetails/@Fixture.Id" class="btn theme">View More</a>
                                                        </span>
                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/esp.png" alt="">
                                                            @Fixture.Teams.LastOrDefault().Name
                                                        </a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="stats">                            
                            <div class="row">
                                        @foreach(var items in Model.Stats)
                                        {
                                    <div class="col-lg-6 col-xl-4">
                                            <div class="panel-box">
                                                <div class="titles no-margin">
                                                    <h4><i class="fa fa-calendar"></i>@items.Stats_Title</h4>
                                                </div>
                                                <ul class="list-panel">
                                                    @foreach(var players in items.Players)
                                                    {
                                                        <li>
                                                            <p>
                                                                <img src="~/@players.ClubImage" style="height:20px" />
                                                                <img src="~/@players.Thumbnail" style="height:50px"/>
                                                                @players.Name<span>@players.Data</span>
                                                            </p>
                                                        </li>
                                                    }                                                    
                                                </ul>
                                            </div>
                                    </div>
                                        }
                                </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 padding-top-mini">
                    @await Component.InvokeAsync("Ads")
                    @Html.Partial("_upcomingSideBar")
                </div>
            </div>
        </div>
    </div>
</section>
<br /><br /><br /><br />
@section Scripts {
    <script>
        sportsmanduApp.gallery = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.Gallery.GalleryVMFORES>)@Model.Gallery).Take(10)));            
            sportsmanduApp.allMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.FutureMatches).Take(6)));
            sportsmanduApp.completedMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.CompletedMatches).Take(5)));
    </script>
}