﻿@model Sportsmandu.Model.Club.ViewModels.ClubViewModelFORES
@{
    ViewData["Title"] = @Model.Name;
    ViewData["OG:Image"] = @Model.Image;
    ViewData["og:url"] = @Model.URL;
    ViewData["og:description"] = @Model.Description;
    ViewData["og:type"] = "profile";
}
<link href="~/css/submain.css" rel="stylesheet" media="screen">
<div class="section-title-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    @Html.Partial("_contribute", Model.Complete)
                    @*<div id="Contribution" role="alert" class="alert alert-info alert-dismissible fade show" style="
                        background-color: #fbc02d;
                        border-color: #bee5eb;">
                                            Are you related to this Club ? Click Here <br /><br />
                                            Freelancer ? Looking for Some Work ? <br />This page is marked as incomplete ! Want to contribute the contents and earn rewards ? Register Here !
                                        </div>*@
                                    @*<button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
                             data-cookie-string="@cookieString">
                            <span aria-hidden="true">Close!</span>
                        </button>*@
                    <div class="col-md-3">
                        <img src="~/@Model.Thumbnail" alt="">
                    </div>
                    <div class="col-md-9">
                        <h1>@Model.Name</h1>
                        <ul class="general-info">
                            <li><h6><strong>Foundation:</strong> @Model.Founded </h6></li>
                            <li><h6><strong>President:</strong> - </h6></li>
                            <li><h6><strong>Manager:</strong> - </h6></li>
                            <li><h6><strong>Total Titles:</strong> - </h6></li>
                            <li><h6><strong>Location:</strong> - </h6></li>
                            <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="" target="_blank">Website</a>
                                </h6>
                            </li>
                        </ul>
                        <ul class="social-teams">
                            @foreach (var items in Model.Social)
                            {
                                <li>
                                    <div>
                                        <a href="@items.Link" target="_blank" class="@items.Social.ToLower()">
                                            <i class="fa fa-@items.Social.ToLower()"></i>
                                        </a>
                                    </div>
                                </li>
                                <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team lazy" data-load="backgroundcssload" src="~/@Model.CoverImage"></div>
</div>
<section class="content-info">

    <div class="single-team-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <ul class="nav nav-tabs" id="myTab">
                        <li><a href="#overview" data-toggle="tab">Overview</a></li>
                        <li class="active"><a href="#squad" data-toggle="tab">Squad</a></li>
                        <li><a href="#alumni" data-toggle="tab">Alumni</a></li>
                        @*<li><a href="#fixtures" data-toggle="tab">Upcoming </a></li>*@
                        <li><a href="#results" data-toggle="tab">Results</a></li>
                        <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
                        @*<li><a href="#stats" data-toggle="tab">STATS</a></li>*@
                    </ul>
                </div>
                <div class="col-lg-9 padding-top-mini">
                    <div class="tab-content">
                        <div class="tab-pane" id="overview">
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>@Model.Name</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-4">
                                        <img src="img/clubs-teams/single-team.jpg" alt="">
                                    </div>

                                    <div class="col-lg-12 col-xl-8">
                                        Welcome to @Model.Name Team Profile,
                                        @if (@Model.Founded != "0")
                                        {
                                            <text>we were founded in @Model.Founded</text>
                                        }
                                        we have @Model.Players.Count() Players till now ! feel free to check our players
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                <div class="col-md-12">
                    <h3 class="clear-title">Latest Club News</h3>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">World football's dates.</a></h4>
                        </div>
                        <a href="#"><img src="img/blog/1.jpg" alt=""></a>
                        <div class="row">
                            <div class="info-panel">
                                <p>Fans from all around the world can apply for 2018 FIFA World Cup™ tickets as the first window of sales.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@


                            @*<div class="row no-line-height">
                <div class="col-md-12">
                    <h3 class="clear-title">Latest Club Videos</h3>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><a href="#">World Cup goal</a></h4>
                        </div>
                        <iframe class="video" src="https://www.youtube.com/embed/hW3hnUoUS0k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>*@

                            @*<div class="row no-line-height">
                <div class="col-md-12">
                    <h3 class="clear-title">Sponsors Club</h3>
                </div>
            </div>

            <ul class="sponsors-carousel">
                <li><a href="#"><img src="img/sponsors/1.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/2.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/4.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/5.png" alt=""></a></li>
                <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
            </ul>*@

                        </div>
                        @Html.PartialAsync("_FrontEndGallery").Result
                        <div class="tab-pane" id="alumni">
                            <div class="row">
                                @foreach (var player in Model.ExPlayers)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="item-player">
                                            <div class="head-player">
                                                <img class="lazy" src="~/@player.PlayerThumbnail" alt="@player.PlayerName">
                                                @*<div class="overlay"><a href="~/@player.PlayerURL">+</a></div>*@
                                            </div>
                                            <div class="info-player">
                                                @*<span class="number-player">
                                    @player.ShirtNumber
                                </span>*@
                                                <h4>
                                                    @*<a href="~/@player.PlayerURL">*@
                                                    @player.PlayerName
                                                    @*</a>*@
                                                    <span>@player.PlayerRole</span>
                                                </h4>
                                                <ul>
                                                    <li>
                                                        <strong>Sport</strong> <span><img src="img/clubs-logos/colombia.png" alt="">@player.PlayerCategoryName</span>
                                                    </li>
                                                    @*<li><strong>MATCHES:</strong> <span>90</span></li>
                                    <li><strong>AGE:</strong> <span>28</span></li>*@
                                                </ul>
                                            </div>
                                            @*<a href="~/@player.PlayerURL" class="btn">View Player <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane active" id="squad">
                            <div class="row">
                                @foreach (var player in Model.Players)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="item-player">
                                            <div class="head-player">
                                                <img class="lazy" src="~/@player.PlayerThumbnail" alt="@player.PlayerName">
                                                <div class="overlay">
                                                    @*<a href="~/@player.PlayerURL">+</a>*@
                                                </div>
                                            </div>
                                            <div class="info-player">
                                                @*<span class="number-player">
                                    @player.ShirtNumber
                                </span>*@
                                                <h4>
                                                    @*<a href="~/@player.PlayerURL">*@
                                                    @player.PlayerName
                                                    @*</a>*@
                                                    <span>@player.PlayerRole</span>
                                                </h4>
                                                <ul>
                                                    <li>
                                                        <strong>Sport</strong> <span><img src="img/clubs-logos/colombia.png" alt="">@player.PlayerCategoryName</span>
                                                    </li>
                                                    @*<li><strong>MATCHES:</strong> <span>90</span></li>
                                    <li><strong>AGE:</strong> <span>28</span></li>*@
                                                </ul>
                                            </div>
                                            @*<a href="~/@player.PlayerURL" class="btn">View Player <i class="fa fa-angle-right" aria-hidden="true"></i></a>*@
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>                   
                        <div class="tab-pane" id="results">
                            <div class="recent-results results-page">
                                <div class="info-results">
                                    @if (ViewBag.CompletedMatches != null)
                                    {
                                        <ul>
                                            @foreach (var Fixture in ViewBag.CompletedMatches as List<Sportsmandu.Models.League.SeasonMatchViewModel>)
                                            {
                                                <li>
                                                    <span class="head">
                                                        <a style="color:white" href="~/@Fixture.Season.URL">@Fixture.Season.Name</a> <span class="date"><time datetime="@Fixture.Date"></time><br></span>
                                                    </span>
                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/por.png" alt="">
                                                            @Fixture.Teams.FirstOrDefault().Name
                                                        </a>
                                                        <span class="goals">
                                                            @*<b>2</b> - <b>3</b>*@
                                                            <a href="~/@ViewContext.RouteData.Values["Culture"]/Home/FixtureDetails/@Fixture.Id" class="btn theme">View More</a>
                                                        </span>
                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/esp.png" alt="">
                                                            @Fixture.Teams.LastOrDefault().Name
                                                        </a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="stats">

                            @*<div class="row">
                <div class="col-lg-12">
                    <div class="stats-info">
                        <ul>
                            <li>
                                Matches Played
                                <h3>-</h3>
                            </li>
                            <li>
                                Wins
                                <h3>-</h3>
                            </li>

                            <li>
                                Losses
                                <h3>-</h3>
                            </li>

                            <li>
                                Goals
                                <h3>-</h3>
                            </li>

                            <li>
                                Goals Conceded
                                <h3>-</h3>
                            </li>

                            <li>
                                Clean Sheets
                                <h3>-</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>*@

                            @*<div class="row">
                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><i class="fa fa-calendar"></i>Attack</h4>
                        </div>
                        <ul class="list-panel">
                            <li><p>Goals <span>1,188</span></p></li>
                            <li><p>Goals Per Match <span>1.37</span></p></li>
                            <li><p>Shots <span>4,621</span></p></li>
                            <li><p>Shooting Accuracy % <span>32%</span></p></li>
                            <li><p>Penalties Scored <span>30</span></p></li>
                            <li><p>Big Chances Created <span>293</span></p></li>
                            <li><p>Hit Woodwork <span>107</span></p></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><i class="fa fa-calendar"></i>Team Play</h4>
                        </div>
                        <ul class="list-panel">
                            <li><p>Passes <span>140,417</span></p></li>
                            <li><p>Passes Per Match <span>162.14</span></p></li>
                            <li><p>Pass Accuracy % <span>76%</span></p></li>
                            <li><p>Crosses <span>8,148</span></p></li>
                            <li><p>Cross Accuracy % <span>22%</span></p></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><i class="fa fa-calendar"></i>Defence</h4>
                        </div>
                        <ul class="list-panel">
                            <li><p>Clean Sheets <span>226</span></p></li>
                            <li><p>Goals Conceded <span>1,170</span></p></li>
                            <li><p>Goals Conceded Per Match <span>1.35</span></p></li>
                            <li><p>Saves <span>392</span></p></li>
                            <li><p>Tackles <span>7,438</span></p></li>
                            <li><p>Tackle Success % <span>75%</span></p></li>
                            <li><p>Blocked Shots <span>1,208</span></p></li>
                            <li><p>Interceptions <span>5,334</span></p></li>
                            <li><p>Clearances <span>11,436</span></p></li>
                            <li><p>Headed Clearance <span>3,710</span></p></li>
                            <li><p>Aerial Battles/Duels Won <span>25,401</span></p></li>
                            <li><p>Errors Leading To Goal <span>59</span></p></li>
                            <li><p>Own Goals <span>27</span></p></li>
                        </ul>
                    </div>
                </div>
            </div>*@

                        </div>

                    </div>
                </div>

                <div class="col-lg-3 padding-top-mini">
                    @await Component.InvokeAsync("Ads")
                    @Html.Partial("_upcomingSideBar")

                    @*<div class="panel-box">
            <div class="titles no-margin">
                <h4>Presentation</h4>
            </div>
            <div class="row">
                <iframe src="https://www.youtube.com/embed/AfOlAUd7u4o" class="video"></iframe>
                <div class="info-panel">
                    <h4>Rio de Janeiro</h4>
                    <p>Lorem ipsum dolor sit amet, sit amet, consectetur adipisicing elit, elit, incididunt ut labore et dolore magna aliqua sit amet, consectetur adipisicing elit,</p>
                </div>
            </div>
        </div>*@

                    @*<div class="panel-box">
            <div class="titles no-margin">
                <h4>Widget Image</h4>
            </div>
            <img src="img/slide/1.jpg" alt="">
            <div class="row">
                <div class="info-panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  ut sit amet, consectetur adipisicing elit, labore et dolore.</p>
                </div>
            </div>
        </div>*@
                </div>

            </div>
        </div>
    </div>

</section>
@section Scripts {
    <script>
        setTimeout(function () {
            sportsmanduApp.currentCulture = '@ViewContext.RouteData.Values["Culture"]';
            sportsmanduApp.allMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.FutureMatches).Take(5)));
            sportsmanduApp.completedMatches = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.League.SeasonMatchViewModel>)ViewBag.CompletedMatches).Take(5)))
            sportsmanduApp.gallery = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.Gallery.GalleryVMFORES>)@Model.Gallery).Take(10)));
        },1000);
    </script>
    <script type="text/javascript" src="~/js/bootstrap_sport.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/theme-main.js"></script>
    <script type="text/javascript" src="~/js/theme-scripts.js"></script>
}
