﻿@model Sportsmandu.Model.Club.ViewModels.ClubViewModelFORES
@{
    ViewData["Title"] = @Model.Name;
}
<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs sec-color">
    <img src="~/@Model.Thumbnail" alt="@Model.Name" />
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">@Model.Name</h1>
                    <ul>
                        <li>
                            <a class="active" href="~/@ViewContext.RouteData.Values["Culture"]">@this.Context.Items["menu_home"]</a>
                        </li>
                        <li>@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->
<!-- Point Table Section Start -->
<div class="champion-section-area sec-spacer">
    <div class="container">
        <div class="row pb-50">
            <div class="col-md-2 col-sm-3">
                <div class="club-sidebar-top">
                    <div class="club-logo">
                        <img src="~/@Model.Image" alt="logo">
                        <div class="club-name">
                            <h2 class="title-bg">@Model.Name</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-sm-9">
                <div class="club-sidebar">
                    <div class="club-details">
                        <!-- <ul class="spsoccer-team-info-list spsoccer-ul-list">
                            <li>
                                <strong>President</strong>
                                <span> </span>
                            </li>
                            <li>
                                <strong>Manager Name</strong>
                                <span> Name Missing </span>
                            </li>
                            <li>
                                <strong>Coach </strong>
                                <span> Name Missing </span>
                            </li>                            
                            <li>
                                <strong>Location</strong>
                                <span>Nepal</span>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div class="row">
                    <div class="rs-count">

                        <!-- COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="rs-counter-list">
                                @{
                                    var foundedText = @Model.Founded == "0" ? "N/A" : @Model.Founded;
                                }
                                <h2 class="rs-counter percent">@foundedText</h2>
                                <h3>Founded</h3>
                            </div>
                        </div>
                        <!-- COUNTER-LIST END -->
                        <!-- COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="rs-counter-list">
                                <h2 class="rs-counter percent">@Model.Seasons.Count</h2>
                                <h3>Seasons Played</h3>
                            </div>
                        </div>
                        <!-- COUNTER-LIST END -->
                        <!-- COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="rs-counter-list">
                                <h2 class="rs-counter">@Model.Players.Count()</h2>
                                <h3>Current Players</h3>
                            </div>
                        </div>
                        <!-- COUNTER-LIST END -->
                        <!-- COUNTER-LIST START -->
                        <!-- <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="rs-counter-list">
                                <h2 class="rs-counter">XXXX</h2>
                                <h3>Something Here</h3>
                            </div>
                        </div> -->
                        <!-- COUNTER-LIST END -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="title-bg">@this.Context.Items["club_history"]</h3>
                <p>
                    Welcome to @Model.Name Team Profile,
                    @if(@Model.Founded != "0"){
                        <text>we were founded in @Model.Founded</text>
                        }
                     we have @Model.Players.Count() Players till now ! feel free to check our players
                </p>
                <p>
                        @Html.Raw(Model.Description)
                </p>
                <ul class="point-menu">
                    <li class="active"><a data-toggle="tab" href="#squad-list">Players</a></li>
                    <li><a data-toggle="tab" href="#champion">Championship Stats</a></li>
                    <!-- <li><a data-toggle="tab" href="#gallery">Gallery</a></li> -->
                    <!-- <li><a data-toggle="tab" href="#jersy">Jersy</a></li> -->
                </ul>
                <div class="tab-content">
                    <div id="squad-list" class="tab-pane fade in active">
                        <!--Squad Style Start -->
                        <div class="squad-list">
                            <!-- <div class="list-item">
                                <div class="image">
                                    <h2></h2>
                                </div>
                                <div class="list-text">
                                    <div class="name">
                                        <h2></h2>
                                    </div>
                                    <div class="designation">
                                        
                                    </div>
                                     <div class="designation">
                                        <h2>Jersey Number</h2>
                                    </div> 
                                </div>
                            </div> -->
                            @foreach (var player in Model.Players)
                            {
                                <div class="list-item">
                                    <div class="image">
                                        <a href="~/@player.PlayerURL"><img class="lazy" data-src="@player.PlayerThumbnail" alt=""></a>
                                    </div>
                                    <div class="list-text">
                                        <div class="name">
                                            <h4> <a href="~/@player.PlayerURL">@player.PlayerName<i class="fa fa-external-link-square"></i></a></h4>
                                        </div>
                                        <div class="name">
                                            <!-- <h4>@player.PlayerRole</h4> -->
                                        </div>
                                        <!-- <div class="designation">
                                            @player.ShirtNumber
                                        </div> -->
                                    </div>
                                </div>
                            }
                            </div>
                        <!--Squad Style End -->
                    </div>
                    <div id="champion" class="tab-pane fade">
                        <div class="row">
                            @foreach(var Season in Model.Seasons)
                            {
                                <div class="champion-inner">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="champion-logo">
                                        <img class="lazy" data-src="@Season.Thumbnail" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-10 col-xs-9">
                                    <div class="champion-details">
                                        <div class="champion-year">
                                            
                                        </div>
                                        <div class="year-details">
                                            <h3><a href="~/@Season.URL">@Season.Name</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            }
                        </div>
                    </div>
                    <div id="gallery" class="tab-pane fade">
                        <div class="gallery-section-page2 gallery-section-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/a.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/a.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/b.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/b.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/c.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/c.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/d.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/d.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/e.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/e.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/f.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/f.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/g.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/g.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="single-gallery">
                                        <img src="~/images/gallery2/h.jpg" alt="">
                                        <div class="popup-icon">
                                            <a class="image-popup" href="~/images/gallery2/h.jpg"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="jersy" class="tab-pane fade">
                        <div class="row">
                            <div class="champion-inner">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="champion-logo">
                                        <img src="~/images/logo/rm-hkit.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-10 col-xs-9">
                                    <div class="champion-details">
                                        <div class="year-details">
                                            <h3>Home Kit(2017-18)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="champion-inner">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="champion-logo">
                                        <img src="~/images/logo/rm-akit.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-10 col-xs-9">
                                    <div class="champion-details">
                                        <div class="year-details">
                                            <h3>Away Kit(2017-18)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>