﻿<link href="~/css/submain.css" rel="stylesheet" media="screen">
@{var image = ((List<Sportsmandu.Models.League.SeasonCategoryClubGroup>)ViewBag.SeasonGroups).FirstOrDefault().Season.CoverImage;}
<div class="section-title lazy" data-load="backgroundcssload" data-src="@image">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    @{
                        Sportsmandu.Models.League.SeasonCategoryClubGroup season = ((List<Sportsmandu.Models.League.SeasonCategoryClubGroup>)ViewBag.SeasonGroups).FirstOrDefault();
                        <texT>@season.Season.Name</texT>
                    }
                </h1>
            </div>
            <div class="col-md-4">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/">Home</a></li>
                        <li>Match Fixtures</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content-info">
    <div class="portfolioFilter">
        <div class="container">
            <h5><i class="fa fa-filter" aria-hidden="true"></i>Filter By:</h5>
            <a href="#" data-filter="*" class="current">Show All</a>
            @foreach (var items in ((List<Sportsmandu.Models.League.SeasonCategoryClubGroup>)ViewBag.SeasonGroups).DistinctBy(x=>x.GroupName))
            {
                <a href="#" data-filter=".@items.GroupName.Replace(" ", "_")">@items.GroupName</a>
            }
        </div>
    </div>
    <div class="container padding-top">
        <div class="row portfolioContainer">
            @foreach (var items in ((List<Sportsmandu.Models.League.SeasonCategoryClubGroup>)ViewBag.SeasonGroups))
            {
                <div class="col-md-6 col-lg-4 col-xl-3 @items.GroupName.Replace(" ","_")">
                    <div class="item-team">
                        <div class="head-team">
                            <img class="lazy" data-src="@items.Club.CoverImage" alt="location-team" style="height:100px">
                            <div class="overlay"><a href="~/@items.Club.URL">+</a></div>
                        </div>
                        <div class="info-team">
                            <span class="logo-team">
                                <img class="lazy" data-src="@items.Club.Image" alt="@items.Club.Name">
                            </span>
                            <h4>@items.Club.Name</h4>
                            @*<span class="location-team">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Stadium
                            </span>*@
                            <span class="group-team">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                @items.GroupName
                            </span>
                        </div>
                        <a href="~/@items.Club.URL" class="btn">
                            Profile <i class="fa fa-angle-right"
                                            aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<BR><BR><BR><BR><BR>
<!-- <div class="instagram-btn">
    <div class="btn-instagram">
        <i class="fa fa-facebook"></i>
        Support us by your precious Like ! 
        <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
</div> -->
<!-- 
<div class="content-instagram">
    <div id="instafeed"></div>
</div> -->
@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap_sport.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/theme-main.js"></script>
    <script type="text/javascript" src="~/js/theme-scripts.js"></script>
}