﻿@model Sportsmandu.Model.Entities.Ground.GroundVMFORES
@{
    ViewData["Title"] = @Model.Name;
    ViewData["OG:Image"] = @Model.Image;
    ViewData["og:url"] = @Model.URL;
    ViewData["og:description"] = @Model.Description;
    ViewData["og:type"] = "profile";
}
<link href="~/css/submain.css" rel="stylesheet" media="screen">
<div class="section-title-team">
    <div class="container">
        <div class="row">
            @Html.Partial("_contribute", Model.Complete)
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/@Model.Thumbnail" alt="">
                    </div>
                    <div class="col-md-9">
                        <h1>@Model.Name</h1>
                        <ul class="general-info">
                            <li><h6><strong>Foundation:</strong> @Model.FoundedDate </h6></li>
                            @*<li><h6><strong>President:</strong> - </h6></li>*@
                            <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="" target="_blank">Website</a>
                                </h6>
                            </li>
                        </ul>
                        <ul class="social-teams">
                            @foreach (var items in Model.Social)
                            {
                                <li>
                                    <div>
                                        <a href="@items.Link" target="_blank" class="@items.Social.ToLower()">
                                            <i class="fa fa-@items.Social.ToLower()"></i>
                                        </a>
                                    </div>
                                </li>
                                <div class="fb-like" data-href="https://facebook.com/sportsmandu" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team lazy" data-load="backgroundcssload" src="~/@Model.CoverImage"></div>
</div>
<section class="content-info">
    <div class="single-team-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <ul class="nav nav-tabs" id="myTab">
                        <li><a href="#overview" data-toggle="tab">Overview</a></li>
                        <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
                        @*<li><a href="#menu" data-toggle="tab">Menu</a></li>*@
                    </ul>
                </div>
                <div class="col-lg-9 padding-top-mini">
                    <div class="tab-content">
                        <div class="tab-pane" id="overview">
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>@Model.Name</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-4">
                                        <img src="img/clubs-teams/single-team.jpg" alt="">
                                    </div>
                                    <div class="col-lg-12 col-xl-8">
                                        @Html.Raw(Model.Description)
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        @Html.PartialAsync("_FrontEndGallery").Result
                    </div>
                </div>
                <div class="col-lg-3 padding-top-mini">
                    @await Component.InvokeAsync("Ads")
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4>Advertise</h4>
                        </div>
                        <div class="row">
                            <img src="~/images/advt_with_us.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        setTimeout(function () {
            sportsmanduApp.currentCulture = '@ViewContext.RouteData.Values["Culture"]';
            sportsmanduApp.gallery = @Html.Raw(Json.Serialize(((List<Sportsmandu.Models.Gallery.GalleryVMFORES>)@Model.Gallery).Take(10)));
        },1000);
    </script>
    <script type="text/javascript" src="~/js/bootstrap_sport.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/theme-main.js"></script>
    <script type="text/javascript" src="~/js/theme-scripts.js"></script>
}