﻿@model Sportsmandu.Models.VideoVMForEs
@{
    ViewData["Title"] = Model.Title;
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:image" content="@Model.Image" />
    ViewData["og:url"] = "https://sportsmandu.com" + Model.URL;
    ViewData["og:title"] = Model.Title;
    ViewData["og:image"] = Model.Image;
}
<section class="content-info">
    <div class="container paddings-mini">
        <div class="row">
            <!-- Sidebars -->
            <div class="col-lg-9">
                <!-- Content Text-->
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>@Model.Title</h4><div class="sharethis-inline-share-buttons"></div>
                    </div>
                    <div align="center">
                        <iframe style="width:70%;height:400px!important" src="https://www.youtube.com/embed/@Model.YouTubeId" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    @*<img src="@Model.Image" alt="">*@
                    <div class="info-panel">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
            <aside class="col-lg-3">
                @await Component.InvokeAsync("Ads")
            </aside>
        </div>
    </div>
</section>
@section Scripts {
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d07460b4351e90012650e92&product=' inline-share-buttons' async='async'></script>
}