﻿@model List<Sportsmandu.Models.VideoVMForEs>
@{
    
}
<section class="content-info">
    <div class="container paddings-mini">
        <div class="row">
            @foreach (var items in Model)
            {
            <div class="col-lg-9">
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4><a href="~/@items.URL">@items.Title</a></h4>
                    </div>
                    <img src="@items.Image" alt="">
                    <div class="row" style="padding-top: 15px; padding-bottom: 15px">
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="info-panel">
                        Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
            }
            <aside class="col-lg-3">
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
                @await Component.InvokeAsync("Ads")
            </aside>
        </div>
    </div>
</section>
@section Scripts {
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d07460b4351e90012650e92&product=' inline-share-buttons' async='async'></script>
}