@using Microsoft.AspNetCore.Http
@model Community.Model.Entities.ViewModels.BlogPostCreateViewModel
@{
    ViewBag.Title = "Create " + @ViewContext.RouteData.Values["Controller"];
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{   
    <h4 class="title-bg">Create New</h4>
    <h4 class="title-bg">News</h4>
                                                 <div class="form-horizontal col-md-10">
                                                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                     <input data-val="true" id="CultureId" name="CultureId" type="number" value="@ViewContext.RouteData.Values["culture"]" hidden />
                                                     @if (@ViewContext.RouteData.Values["multilingualid"] == null)
                                                     {
                                                         <input data-val="true" id="multilingualid" name="multilingualid" type="number" value="0" hidden />
                                                     }
                                                     else
                                                     {
                                                         <input data-val="true" id="multilingualid" name="multilingualid" type="number" value="@ViewContext.RouteData.Values["multilingualid"]" hidden />
                                                     }
                                                     @if (@ViewContext.RouteData.Values["multilingualid"] == null)
                                                     {
                                                         <div class="form-group">

                                                         </div>
                                                     }
                                                     <div class="form-group">
                                                        <strong class="control-label col-md-2">Post Category</strong>            
                                                            <div class="col-md-10">
                                                                @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })                                                                
                                                            </div>
                                                        </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                         <!-- @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control required" } }) -->
                                                         <input name="Title" id="Title" class="form-control" type="text" required minlength="4" maxlength="50"/>
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2">Image</strong>                                                         
                                                         <div class="col-md-10">
                                                             <input name="Image" id="Image" class="form-control" type="file" required/>
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" required/>
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             <input name="CoverImage" id="CoverImage" class="form-control" type="file" required/>
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.TextAreaFor(model => model.Description)
                                                         </div>
                                                     </div>
                                                      <div class="form-group">
                                                         @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             <!-- @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } }) -->
                                                         <input name="Summary" id="Summary" class="form-control" type="text" required minlength="30"/>
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <strong class="control-label col-md-2">PublishDate</strong>
                                                         <div class="col-md-10">
                                                             <input name="PublishDate" id="PublishDate" class="form-control datetimepicker" type="text" required/>
                                                         </div>
                                                     </div>
                                                     <button class="btn-send" type="submit">Create @ViewContext.RouteData.Values["Controller"]</button>
                                                 </div>
    }
</div>
<BR><BR><BR><BR><BR>
</div>  
    </form>
        	</div>
            </div>        
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
                $('textarea').each(function () {
                var editor = new Jodit(this);
                editor.value = '<p></p>';
                });            
            }, 3000);        
     </script>
    }