@model Community.Model.Entities.ViewModels.BlogPostCreateViewModel
@{
    ViewBag.Title = "Edit - " + @Model.Title;
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()       
                                                 <div class="form-horizontal col-md-10">
                                                     <h4 class="title-bg"><a href="~/Model.URL" target="_blank">@Model.Title</a></h4>
                                                    <div class="form-group">
                                                         @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img src="~/@Model.Image"/><input name="Image" id="ImageUrlKo" class="form-control" type="file" />
                                                         </div>
                                                     </div>
                                                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                     @Html.HiddenFor(model => model.Id)
                                                     @Html.HiddenFor(model => model.CultureId)
                                                     @Html.HiddenFor(model => model.multilingualid)                                                                                                                                                                                                                
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">                                                             
                                                             @Html.EditorFor(model => model.Title , new { htmlAttributes = new { @class = "form-control" } })
                                                         </div>
                                                     </div>    
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">                                                             
                                                             @Html.TextAreaFor(model => model.Description)
                                                         </div>
                                                     </div> 
                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">                                                             
                                                             @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                                                         </div>
                                                     </div>     
                                                      <div class="form-group">
                                                         @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.Thumbnail, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img src="~/@Model.Thumbnail"/>
                                                            <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />
                                                         </div>
                                                     </div>

                                                     <div class="form-group">
                                                         @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                                         <div class="col-md-10">
                                                             @Html.HiddenFor(model => model.CoverImage, new { htmlAttributes = new { @class = "form-control" } })
                                                             <img src="~/@Model.CoverImage"/>
                                                             <input name="CoverImage" id="CoverImage" class="form-control" type="file" />
                                                         </div>
                                                     </div>                                                 
                                                     <div class="form-group">
                                                         <div class="col-md-offset-2 col-md-10">
                                                             <input type="submit" value="Save @ViewContext.RouteData.Values["Controller"]" class="btn-send" />
                                                             <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index"></a>
                                                              <input type="button" value="Back To List" class="btn-send" />
                                                              <a href="~/Api/Delete/BlogPosts/@Model.Id"  target="_blank">Delete</a>
                                                              <a href="~/Api/Verify/BlogPosts/@Model.Id"  target="_blank" class="btn-send">Verify</a>
                                                        </div>
                                                     </div>                                                     
                                                 </div>
}
</div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
            $('textarea').each(function () {
            var editor = new Jodit(this);
            editor.value = '@Model.Description';
            });            
        }, 3000);
    </script>
}