@model IEnumerable<Sportsmandu.Model.Entities.ViewModels.AdminViewModel> 
@{
    ViewBag.Title =@ViewContext.RouteData.Values["Controller"];
}    
    @await Html.PartialAsync("~/Views/Shared/_Search.cshtml")
    <div class="our-products-section our-products-page sec-spacer">
			<div class="container">
				<div class="row">
    @foreach (var player in Model) {
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="single-product text-center">
            <div class="product-image">
                <div class="overly"></div>
                <a href="~/"><img class="lazy" data-src="@player.Thumbnail" alt="Player" /></a>
            </div>
            <div class="product-details">
                <div class="product-tile">
                    <a href="#">@player.Name</a>                    
                </div>
                <div class="product-cart">
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <a href="~/Admin/@ViewContext.RouteData.Values["controller"]/Edit/@player.Id">Edit </a> 
                    </a>
                            <BR>
                            @if (player.Converted == false)
                            {
                            <a href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create/@player.multilingualid">Translate
                                </a> 
                            } 
                </div> 
            </div> 
        </div> 
    </div> 
    }
				</div>
                </div>
                </div>
                