﻿@{
    ViewData["Title"] = "Culture";
}
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        @this.Context.Items["language_select"]
    </button>
        <div class="dropdown-menu">
            @*<img src="~/images/logo/english.jpg" alt="Logo">*@
            <a class="dropdown-item" href="~/En/Home/">@this.Context.Items["language_select_english"]</a>
            @*<img src="~/images/logo/nepali.jpg" alt="Logo">*@
            <a class="dropdown-item" href="~/Np/Home/">@this.Context.Items["language_select_nepali"]</a>            
        </div>
</div>
