﻿@page
@model ExternalLoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sportsmandu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/loginutil.css">
    <link rel="stylesheet" type="text/css" href="~/css/loginMain.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-190 p-b-30">
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="login100-form-avatar">
                        <img src="~/@Model.Input.Avatar" />
                        <img src="https://sportsmandu.com/@Model.Input.Avatar" />
                    </div>
                    <span class="login100-form-title p-t-20 p-b-45">
                        <span id="upfile1" class="btn btn-success" style="cursor:pointer"><i class="fa fa-upload"></i>       Upload New Profile Picture</span>
                        <input name="Image" id="Image" type="file" style="display:none" />
                    </span>
                    <span class="login100-form-title p-t-20 p-b-45">
                        @Model.Input.FirstName @Model.Input.LastName
                    </span>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="FirstName is required">
                        @*<input class="input100" type="text" name="FirstName" placeholder="FirstName" value="@Model.Input.FirstName">*@
                        <input asp-for="Input.Avatar" class="input100" hidden />
                        <input asp-for="Input.FirstName" class="input100" placeholder="First Name" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="LastName is required">
                        <input asp-for="Input.LastName" class="input100" placeholder="Last Name" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
                        <input asp-for="Input.Email" class="input100" placeholder="Email" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Phone Number required">
                        <input asp-for="Input.PhoneNo" class="input100" placeholder="Phone Number" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn">
                            Procced
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script>
		(function ($) {
			"use strict";
			var input = $('.validate-input .input100');
			$('.validate-form').on('submit', function () {
				var check = true;
				for (var i = 0; i < input.length; i++) {
					if (validate(input[i]) == false) {
						showValidate(input[i]);
						check = false;
					}
				}
				return check;
			});
			$('.validate-form .input100').each(function () {
				$(this).focus(function () {
					hideValidate(this);
				});
			});
			function validate(input) {
				if ($(input).attr('type') == 'email' || $(input).attr('name') == 'email') {
					if ($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) {
						return false;
					}
				}
				else {
					if ($(input).val().trim() == '') {
						return false;
					}
				}
            }
            $("#upfile1").click(function () {
                $("#Image").trigger('click');
            });
			function showValidate(input) {
				var thisAlert = $(input).parent();

				$(thisAlert).addClass('alert-validate');
			}
			function hideValidate(input) {
				var thisAlert = $(input).parent();

				$(thisAlert).removeClass('alert-validate');
			}
		})(jQuery);
    </script>

</body>

</html>
@*<div class="rs-team-single-section team-inner-page sec-spacer">
    <div class="container">
        <div class="row">
            <h1 class="title-bg">Great ! Final Step</h1>
            @*<h4>Associate your @Model.LoginProvider account.</h4>
                <hr />

            <h5 class="text-info">
                Hello, @Model.Input.FirstName You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
                Please Click On Register Button Below To Confirm Your Registration with Sportsmandu.com
            </h5>

            <div class="row">
                <div class="col-md-4">
                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <img src="~/@Model.Input.Avatar" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn-send">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
