﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="rs-team-single-section team-inner-page sec-spacer">
    <div class="container">
        <div class="row">
            <h1 class="title-bg">@ViewData["Title"]</h1>
            <h4>Enter your email.</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn-send">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
