﻿@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    //bool isFacebookPrediction = @Request.QueryString.Value.Contains("Admin") ? true : false;
    //if (isFacebookPrediction)
    //{
    Layout = null;
    //}
    //else
    //{
    //    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //}
}
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
@*<link rel="stylesheet" type="text/css" href="~/css/loginutil.css">
    <link rel="stylesheet" type="text/css" href="~/css/loginMain.css">*@
@*@if (isFacebookPrediction)*@
@* { *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportsmandu Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 30px auto;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

            .login-form .hint-text {
                color: #777;
                padding-bottom: 15px;
                text-align: center;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .login-btn {
            font-size: 15px;
            font-weight: bold;
        }

        .or-seperator {
            margin: 20px 0 10px;
            text-align: center;
            border-top: 1px solid #ccc;
        }

            .or-seperator i {
                padding: 0 10px;
                background: #f7f7f7;
                position: relative;
                top: -11px;
                z-index: 1;
            }

        .social-btn .btn {
            margin: 10px 0;
            font-size: 15px;
            text-align: left;
            line-height: 24px;
        }

            .social-btn .btn i {
                float: left;
                margin: 4px 15px 0 5px;
                min-width: 15px;
            }

        .input-group-addon .fa {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <script>
        function submitForm(provider) {
            document.getElementById(provider).click();
        }

/**/</script>
    <div class="login-form" style="padding-top: 5%;">
        <h3 align="center">@Model.Message</h3>
        <img src="~/images/sportsmandu_login.png" />
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            @*<h2 class="text-center">Please Login</h2>*@
            <div class="text-center social-btn">
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button id="@provider.Name" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" hidden>@provider.DisplayName</button>
                }
                <span onclick="submitForm('Facebook')" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></span>
                <span onclick="submitForm('Microsoft')" class="btn btn-success btn-block"><i class="fa fa-windows"></i> Sign in with <b>Microsoft</b></span>
                <span onclick="submitForm('Google')" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></span>
            </div>
        </form>
        <div>
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-send">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        @*<div class="hint-text small">Don't have an account? <a href="#" class="text-success">Register Now!</a></div>*@
    </div>
</body>
</html>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133838094-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133838094-2');
</script>
@*  }*@
@*else
    {
    <div class="rs-team-single-section team-inner-page sec-spacer">
        <div class="container">
            <div class="row">
                <section>
                    <div class="gap">
                        <div class="container">
                            <h1 class="title-bg">@ViewData["Title"]</h1>
                            <div class="row">
                                <div class="col-md-4">
                                    <section>
                                        <form id="account" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Input.Email"></label>
                                                <input asp-for="Input.Email" class="form-control" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" class="form-control" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label asp-for="Input.RememberMe">
                                                        <input asp-for="Input.RememberMe" />
                                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn-send">Log in</button>
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                                </p>
                                                <p>
                                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                                </p>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                                <div class="col-md-6 col-md-offset-2">
                                    <section>
                                        <h4>Use Social</h4>
                                        <hr />
                                        @{
                                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in Model.ExternalLogins)
                                                        {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        }
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    }*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}