﻿@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}
<link href="~/assets/css/main.css" rel="stylesheet" media="screen">
<header>
    <div class="headerbox">
        <div class="container">
            <div class="row justify-content-between align-items-center">                
                <div class="col">
                    <div class="logo">
                        @{
                            string Message = string.Empty;
                            Message= ViewContext.RouteData.Values["Culture"] != null ?  ViewContext.RouteData.Values["Culture"].ToString() : "Np";
                        }
                        <a href="~/@Message/Home/Construction" title="Return Home">
                            <img src="~/images/logo.png" alt="Logo" class="logo_img img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col" style="padding-left: 15%;height: 80px;">
                    <div class="adds">
                        <a href="https://redbull.com" target="_blank">
                            <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c1e8.png" alt="" class="img-responsive logo_img" style="height: 80px;">
                        </a>
                    </div>                    
                </div>
                <div class="col" align="right">
                    <div class="adds">
                        <a href="https://samsung.com" target="_blank">
                            <img src="~/images/Advt/samsung.png" alt="" class="img-responsive logo_img" style="height: 80px;">                            
                        </a>
                    </div>
                    <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>                    
                </div>
            </div>
        </div>
    </div>
</header>
<section class="content-info">
    <div class="container paddings">@*container paddings*@
        <div class="panel-box block-form">
            <div class="titles text-center">
                <h4>REGISTER For Sportsmandu !</h4>
            </div>
            <div class="info-panel">
                    <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal form-theme padding-top-mini">
                    <div class="form-group">
                        <label class="control-label col-sm-2">First Name</label>
                        <div class="col-sm-10">
                            <input asp-for="Input.FirstName" class="form-control" placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Last Name</label>
                        <div class="col-sm-10">
                            <input asp-for="Input.LastName" class="form-control" placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Email</label>
                        <div class="col-sm-10">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Password</label>
                        <div class="col-sm-10">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Repeat Password</label>
                        <div class="col-sm-10">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Repeat Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="offset-sm-2 col-sm-10">
                            @*<input type="submit" value="submit" class="bnt btn-iw">*@
                            <button type="submit" class="bnt btn-iw">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@*<div class="our-products-section our-products-page sec-spacer">
        <div class="container">
            <div class="row">
                <section>
                    <div class="gap">
                        <div class="container">
                            <h1 class="title-bg">@ViewData["Title"]</h1>
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <h4>Create a new account.</h4>
                                        <hr />
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Input.FirstName"></label>
                                            <input asp-for="Input.FirstName" class="form-control" />
                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Input.LastName"></label>
                                            <input asp-for="Input.LastName" class="form-control" />
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Input.ConfirmPassword"></label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>*@
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <script>
      setTimeout(function () {

        }, 3000);
      latLong = "27.7128105,85.3213054";
      setTimeout(function () {
          var map = L.map('map', {
            center: [latLong],
            zoom: 15
        });
          L.control.scale().addTo(map);

// Create a Tile Layer and add it to the map
//var tiles = new L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png').addTo(map);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var searchControl = new L.esri.Controls.Geosearch().addTo(map);

  var results = new L.LayerGroup().addTo(map);

  searchControl.on('results', function(data){
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });

            setTimeout(function () { $('.pointer').fadeOut('slow'); }, 3400);

var popup = L.popup();
function onMapClick(e) {
        popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    console.log(e.latlng);
    $('#Latitude').val(e.latlng.lat);
    $('#Longitude').val(e.latlng.lng);
}

     map.on('click', onMapClick);

 }, 3000);
    </script>
    <partial name="_ValidationScriptsPartial" />
}
