@model List<Sportsmandu.Model.Entities.Global.AdminMenu>

@{
    ViewBag.Title = "Admin Dashboard";
}
<div id="rs-blog" class="rs-blog sec-spacer">
            <div class="container">                
                <div class="row">  
					@foreach (var item in Model){
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="single-blog-slide">
                                <div class="images">
                                    <a href="~/@item.Url"><img src="@item.ImageUrl" width="500px" height="700px"></a>
                                </div>
                                <div class="blog-details">
                                    <h3><a href="~/@item.Url">@item.Title</a></h3>
                                    <p>@item.Summary</p>
                                    <div class="read-more">
                                        <a href="~/@item.Url">View</a>
                                    </div>
                                    <div class="a-more">
                                        <a href="~/@item.Url/create">Create</a>
                                    </div>
                                </div>
                            </div> 
                        </div>	
                    }
                </div>
            </div>
        </div>