@using Microsoft.AspNetCore.Http
@model Sportsmandu.Model.Entities.Globalization.GlobalizationCreateViewModel
@{
    ViewBag.Title = "Create " + @ViewContext.RouteData.Values["Controller"];
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()<h4 class="title-bg">Create @ViewContext.RouteData.Values["Controller"]</h4>
<div class="form-horizontal col-md-10">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input class="form-control text-box single-line hidden" data-val="true" id="CultureId" name="CultureId" type="number" value="@ViewContext.RouteData.Values["culture"]">
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        <input class="form-control text-box single-line hidden" data-val="true" id="multilingualid" name="multilingualid" type="number" value="0">
    }
    else
    {
        <input class="form-control text-box single-line hidden" data-val="true" id="multilingualid" name="multilingualid" type="number" value="@ViewContext.RouteData.Values["multilingualid"]">
    }
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        <div class="form-group">
            Language Title
            @Html.DropDownListFor(x => x.LanguageTitleId, new SelectList(ViewBag.LanguageTitles, "Value", "Text"), new { @class = "form-control" })
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                </div>
    </div>
        <button class="btn-send" type="submit">Create @ViewContext.RouteData.Values["Controller"]</button>
    </div>
    }
    <div>
    </div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
    </form>