@model IEnumerable<Sportsmandu.Model.Entities.Globalization.GlobalizationAdminViewModel>
    @{
    ViewBag.Title =@ViewContext.RouteData.Values["Controller"];
    }
    <div class="our-products-section our-products-page sec-spacer">
        <div class="container" id="sportsGlobalization">
            <span @@click="route='globalization'" class="btn-send">Globalization</span>
            <span @@click="route='sitesection'" class="btn-send">Site Sections</span>
            <span @@click="route='languagetitle'" class="btn-send">Language Title</span>
            <span @@click="route='sitesectionlanguagetitle'" class="btn-send">Site Section Language Title</span><BR><BR>
            <div class="row" v-if="route == 'globalization'">
                @await Html.PartialAsync("~/Views/Shared/_Search.cshtml")
                <h1 class="title-bg">Website Globalization</h1><BR>
                @*<button @@click="addNewSiteSection" class="btn-send">Add Globalization</button>*@
                @foreach (var item in Model)
                {
                    <strong class="control-label col-md-4">@item.LanguageTitle.Name </strong>  @item.Value                    
                    @if (item.Converted == false)
                    {
                        <a href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create/@item.multilingualid">Translate</a>
                    }<BR>
                }
                @*<div v-for="(section, id) in siteSections" :key="id">
                <input v-if="siteSectionsEditIndex == id" type="text" v-model="section.name"></input>
                <span v-if="siteSectionsEditIndex !== id">{{section.name}}</span>
                <button v-if="siteSectionsEditIndex == id" @@click="saveSiteSection">Save</button>
                <button v-if="siteSectionsEditIndex == id" @@click="">Delete</button>
                <button v-if="siteSectionsEditIndex !== id" @@click="siteSectionsEditIndex = id">Edit</button>
            </div>*@
            </div>
            <div class="row" v-if="route == 'sitesection'">
                <h1 class="title-bg">Website Sections</h1><BR>
                <button @@click="addNewSiteSection" class="btn-send">Add SiteSection</button>
                <div v-for="(section, id) in siteSections" :key="id">
                    <input v-if="siteSectionsEditIndex == id" type="text" v-model="section.name"></input>
                    <span v-if="siteSectionsEditIndex !== id">{{section.name}}</span>
                    <button v-if="siteSectionsEditIndex == id" @@click="saveSiteSection">Save</button>
                    <button v-if="siteSectionsEditIndex == id" @@click="">Delete</button>
                    <button v-if="siteSectionsEditIndex !== id" @@click="siteSectionsEditIndex = id">Edit</button>
                </div>
            </div>

            <div class="row" v-if="route == 'languagetitle'">
                <h1 class="title-bg">Website Language Titles</h1><BR>
                <button @@click="addNewLanguageTitle" class="btn-send">Add LanguageTitle</button>
                <div v-for="(languageTitle, id) in languageTitles" :key="id">
                    <input v-if="languageTitlesEditIndex == id" type="text" v-model="languageTitle.name"></input>
                    <span v-if="languageTitlesEditIndex !== id">{{languageTitle.name}}</span>
                    <button v-if="languageTitlesEditIndex == id" @@click="saveLanguageTitle">Save</button>
                    <button v-if="languageTitlesEditIndex == id" @@click="">Delete</button>
                    <button v-if="languageTitlesEditIndex !== id" @@click="languageTitlesEditIndex = id">Edit</button>
                </div>
            </div>

            <div class="row" v-if="route == 'sitesectionlanguagetitle'">
                <h1 class="title-bg">SiteSection Language Title</h1><BR>
                <button @@click="addNewSiteSectionLanguageTitle" class="btn-send">Add SiteSection Language Title</button>
                <div v-for="(languageTitle, id) in siteSectionLanguageTitle" :key="id">
                    <select v-if="siteSectionLanguageTitlesEditIndex === id" v-model="languageTitle.siteSectionId" class="form-control" style="width: 147%;">
                        <option disabled value="">Please select one</option>
                        <option v-for="siteSection in siteSections"
                                v-bind:value="siteSection.id">
                            <span>{{ siteSection.name }}</span>
                        </option>
                    </select>
                    <select v-if="siteSectionLanguageTitlesEditIndex === id" v-model="languageTitle.languageTitleId" class="form-control" style="width: 147%;">
                        <option disabled value="">Please select one</option>
                        <option v-for="titles in languageTitles"
                                v-bind:value="titles.id">
                            <span>{{ titles.name }}</span>
                        </option>
                    </select>
                    <span v-if="siteSectionLanguageTitlesEditIndex !== id">
                        {{getSiteSectionName(languageTitle.siteSectionId)}}
                        {{getlanguageTitleName(languageTitle.languageTitleId)}}
                    </span>
                    <button v-if="siteSectionLanguageTitlesEditIndex === id" @@click="saveSiteSectionLanguageTitle">Save</button>
                    <button v-if="siteSectionLanguageTitlesEditIndex !== id" @@click="siteSectionLanguageTitlesEditIndex = id">Edit</button>
                    <button v-if="siteSectionLanguageTitlesEditIndex === id" @@click="">Delete</button>
                </div>
            </div>
        </div>
    </div>