﻿@model IEnumerable<Sportsmandu.Models.ApplicationUserRole>

@{
    ViewData["Title"] = "Index";
}
<div class="rs-team-single-section team-inner-page sec-spacer">
    <div class="container">
        <div class="row">
<h1 class="title-bg">Sportsmandu Roles</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Store)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Role.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.User.FullName == "" || item.User.FullName == null){
                    @Html.DisplayFor(modelItem => item.User.Email)
                }else
                {
                    @Html.DisplayFor(modelItem => item.User.FullName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
        </div>
        </div>        