@using Microsoft.AspNetCore.Http
@model Sportsmandu.Models.Video
@{
    ViewBag.Title = "Create " + @ViewContext.RouteData.Values["Controller"];
}
<div class="contact-page-section sec-spacer">
    <div class="container">
@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{    
    @Html.AntiForgeryToken()
<div class="form-horizontal col-md-10">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input class="form-control text-box single-line hidden" data-val="true" id="CultureId" name="CultureId" type="number" value="@ViewContext.RouteData.Values["culture"]"/>
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {
        <input data-val="true"  class="form-control text-box single-line hidden" id="multilingualid" name="multilingualid" type="number" value="0"/>
    }
    else
    {
        <input data-val="true" class="form-control text-box single-line hidden" id="multilingualid" name="multilingualid" type="number" value="@ViewContext.RouteData.Values["multilingualid"]"/>
    }
    <div class="form-group">
            <strong class="control-label col-md-2">Youtube Url</strong>
            <div class="col-md-10">
                <input v-model="sportsmanduYoutube" type="text" class="form-control"/>
                <span class="btn-submit" @@click="fetchYoutubeDetails()">Fetch Information</span>
            </div>
        </div>
    @if (@ViewContext.RouteData.Values["multilingualid"] == null)
    {        
        <div class="form-group">
            <strong class="control-label col-md-2">Video Type</strong>
            <div class="col-md-10">
                @Html.DropDownList("VideoType",
                    Html.GetEnumSelectList<Sportsmandu.Models.VideoType>(),"Select Type ",new { @class = "form-control" })
            </div>
        </div>
    }
    <div class="form-group">
            <strong class="control-label col-md-2">Name</strong>
        <div class="col-md-10">
            <input name="Title" id="Title" class="form-control" type="text" v-model="YoutubeDetails.name"/>
        </div>
    </div>    
    <div class="form-group">
            <strong class="control-label col-md-2">Keywords</strong>        
        <div class="col-md-10">
            <input id="keywords" name="keywords" type="text" v-model="YoutubeDetails.keywords" class="form-control"/>
        </div>
    </div>
    <input id="youtubeurl" name="url" type="text" v-model="YoutubeDetails.url" class="form-control hidden"/>
    <input id="youtubeid" name="youtubeid" type="text" v-model="YoutubeDetails.youTubeId" class="form-control hidden"/>
    <!-- <input id="coverimage" name="coverimage" type="text" v-model="YoutubeDetails.thumbnail" class="form-control hidden"/>
    <input id="image" name="image" type="text" v-model="YoutubeDetails.thumbnail" class="form-control hidden"/> -->
    <div class="form-group">
        <strong class="control-label col-md-2">Thumbnail</strong>
        <div class="col-md-10">
            <input id="thumbnail" name="thumbnail" type="text" v-model="YoutubeDetails.thumbnail" class="form-control hidden"/>
            <img :src="YoutubeDetails.thumbnail">
        </div>
    </div>
    <div class="form-group">
        <strong class="control-label col-md-2">CoverImage</strong>
        <div class="col-md-10">
            <input id="CoverImage" name="CoverImage" type="text" v-model="YoutubeDetails.coverImage" class="form-control hidden"/>
            <img :src="YoutubeDetails.coverImage">
        </div>
    </div>
     <div class="form-group">
        <strong class="control-label col-md-2">Image</strong>
        <div class="col-md-10">
            <input id="Image" name="Image" type="text" v-model="YoutubeDetails.image" class="form-control hidden"/>
            <img :src="YoutubeDetails.image">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        <input id="description" name="description" type="text" v-model="YoutubeDetails.description" class="form-control"/>
        <!-- @Html.TextAreaFor(model => model.Description) -->
        </div>
    </div>
        <button class="btn-send" type="submit">Create @ViewContext.RouteData.Values["Controller"]</button>
    </div>
}
</div>
</div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
                $('textarea').each(function () {
                var editor = new Jodit(this);
                editor.value = '<p></p>';
                });            
            }, 3000);        
     </script>
    }    