@model Sportsmandu.Models.Video
@{
    ViewBag.Title = "Edit - " + @Model.Name;
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()       

                                                 <div class="form-horizontal col-md-10">
                                                     <h4 class="title-bg"><a href="~/@Model.URL" target="_blank">@Model.Name</a></h4>
                                                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                     @Html.HiddenFor(model => model.Id)
                                                     @Html.HiddenFor(model => model.CultureId)
                                                     @Html.HiddenFor(model => model.MultiLingualId)                                                     
                                                     <div class="form-group">
                                                         <div class="col-md-offset-2 col-md-10">                                                             
                                                             <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index"></a>
                                                              <input type="button" value="Back To List" class="btn-send" />
                                                              <a href="~/Api/Delete/@ViewContext.RouteData.Values["Controller"]/@Model.Id">Delete</a>
                                                              <a href="~/Api/Verify/@ViewContext.RouteData.Values["Controller"]/@Model.Id" class="btn-send">Verify</a>
                                                        </div>
                                                     </div>
                                                 </div>
}
</div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
            $('textarea').each(function () {
            var editor = new Jodit(this);
            editor.value = '@Model.Description';
            });            
        }, 3000);
    </script>
}