@model Sportsmandu.Model.Entities.Player.Category

@{
    ViewBag.Title = "Edit - " + @Model.Name;
}
<div class="contact-page-section sec-spacer"><div class="container">@using (Html.BeginForm(null, null, FormMethod.Post,new {@class="ui form",  enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()       
@*//The Down Part*@
<div class="form-horizontal col-md-10">
    <h4 class="title-bg">@Model.Name</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CultureId)
    @Html.HiddenFor(model => model.multilingualid)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">            
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">            
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
            <img src="@Model.Image"/><input name="Image" id="ImageUrlKo" class="form-control" type="file" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save @ViewContext.RouteData.Values["Controller"]" class="btn-send" />
            <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index">
                <input type="button" value="Back To List" class="btn-send" /><a>
                    @*<input type="button" value="Back To List" class="ui button" />*@
        </div>
    </div>
</div>
}
</div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}