@model IEnumerable<Sportsmandu.Model.Entities.ViewModels.CategoryViewModel> 
@{
    ViewBag.Title =@ViewContext.RouteData.Values["Controller"];
}        
            @await Html.PartialAsync("~/Views/Shared/_Search.cshtml")
            <div class="our-products-section our-products-page sec-spacer">
                    <div class="container">
                        <div class="row">
            @foreach (var player in Model) {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="single-product text-center">
                    <div class="product-image">
                        <div class="overly"></div>
                        <a href="~/"><img class="lazy" data-src="@player.Image" alt="Player"  height="400" width="400"/></a>
                    </div>
                    <div class="product-details">
                        <div class="product-tile">
                            <a href="#">@player.Name</a>                            
                        </div>
                        <div class="product-cart">
                            <a href="#">
                                <i class="fa fa-edit"></i>
                                <a href="~/Admin/@ViewContext.RouteData.Values[" controller"]/Edit/@player.Id">Edit </a> 
                            </a>
                                    <BR>
                                    @if (player.Converted == false)
                                    {
                                    <a href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create/@player.multilingualid">Translate
                                        </a> 
                                    } 
                        </div> 
                    </div> 
                </div> 
            </div> 
            }
                        </div>
                        </div>
                        </div>
        <!-- <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Image)</th>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Image)</th>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                        <td><img class="lazy" data-src="@item.Image"></td>    
                        <td>@item.Name</td>    
                        <td>
                        @if(item.Converted == true){
                            <a href="~/Admin/@ViewContext.RouteData.Values["controller"]/Edit/@item.Id">Edit</a>
                             <form action="/Admin/Occupation/Delete/@item.Id" class="ui form" enctype="multipart/form-data" method="post">
                                 @Html.AntiForgeryToken()                              
                                 <input type="submit" delete" value="Delete"/>                                                     
                            </form> 
                        }                                                    
                        @if(item.Converted == false){
                                <a href="~/Admin/About/Delete/@item.Id">Delete</a>
                               <a href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create/@item.multilingualid">Translate</a>                            
                        }
                        </td>
                </tr>
            }
        </tbody>
</table> -->