@model Sportsmandu.Models.League.Season;
@{
    ViewBag.Title = "Edit - " + @Model.Name;
}
<div class="match-fixtures-page sec-spacer">
    <div class="container">
        <h4 class="title-bg">@Model.Name</h4>
        <div class="form-group">
            <div class="col-md-10 col-sm-12">
                <table>
                    <tr>                        
                        <td><button class="btn-send" @@click="route='basic'">Basic</button></td>
                        <td><button class="btn-send" @@click="route='SeasonTeam';loadSeasonClubs()">Teams</button></td> 
                        <td><button class="btn-send" @@click="route='SeasonCategory';loadSeasonCategories()">Sports</button></td>
                        <td><button class="btn-send" @@click="route='SeasonGround';loadSeasonGround()">Grounds</button></td>
                        <td><button class="btn-send" @@click="route='SeasonMatch';loadSeasonMatch()">Fixtures</button></td>
                        <td><button class="btn-send" @@click="route='SeasonPartners';loadSeasonPartner();loadAllPartnerTitles();loadAllPartners();">Partners</button></td>
                        <td><button class="btn-send" @@click="route='SeasonStats';">Season Stats</button></td>            
                        <td><button class="btn-send" @@click="route='SeasonGroups';loadSeasonClubs();loadSeasonCategories();getSeasonGroup();">Season Groups</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-if="route=='basic'">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal col-md-10"><BR><BR>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CultureId)
                    @Html.HiddenFor(model => model.multilingualid)
                    @Html.HiddenFor(model => model.Image)
                    @Html.HiddenFor(model => model.CoverImage)
                    @Html.HiddenFor(model => model.Thumbnail)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">                            
                            <img src="~/@Model.Image"/><input name="Image" id="ImageUrlKo" class="form-control" type="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.League, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.LeagueId, new SelectList(ViewBag.Leagues, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">                        
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="Name" name="Name" class="form-control" type="text" value="@Model.Name">
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/@Model.CoverImage"/>
                            <input name="CoverImage" id="CoverImage" class="form-control" type="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/@Model.Thumbnail"/>
                            <input name="Thumbnail" id="Thumbnail" class="form-control" type="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-2">Start Date</strong>
                        <div class="col-md-10">
                            <input name="StartedDate" id="StartedDate" class="form-control datetimepicker" type="text" value="@Model.StartedDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-2">End Date</strong>                                            
                        <div class="col-md-10">
                            <input name="EndDate" id="EndDate" class="form-control datetimepicker" type="text" value="@Model.EndDate"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save @ViewContext.RouteData.Values["Controller"]" class="btn-send" />
                            <a href="/admin/@Model.CultureId/@ViewContext.RouteData.Values["Controller"]/index">
                                <input type="button" value="Back To List" class="btn-send" /><a>
    <a href="~/Api/Delete/@ViewContext.RouteData.Values["Controller"]/@Model.Id" target="_blank">Delete</a>
    <a href="~/Api/Verify/Seasons/@Model.Id" target="_blank" class="btn-send">Verify</a>
    @Html.Partial("_gallery");

</div>
                    </div>
                </div>
            }
        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <button v-if="clubsIndexEdit == null" @@click="addNewMatch" class="btn-send">Add New Match</button>
                        <div class="match-list">
                            <div class="overly-bg"></div>
                            <table class="match-table">
                                <tbody>
                                    <tr v-for="(match, matchid) in seasonMatch" :key="matchid">
                                        <!-- <td v-if="matchid == seasonMatchIndexEdit">
                                            <select v-model="match.teamOne.id" v-if="matchid == seasonMatchIndexEdit" class="form-control">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in clubs"
                                                        v-bind:value="categoryToChoose.clubId">
                                                    {{ categoryToChoose.name }}
                                                </option>
                                            </select> -->
                                        </td>
                                        <td class="medium-font" colspan="2">
                                            <li v-for="teams in match.teams" align="left" v-if="matchid !== seasonMatchIndexEdit">{{teams.name}}<i class="fa fa-trash" @@click="deleteSeasonFixtureTeam(teams,match)"></i></li>
                                            <div v-if="matchid == seasonMatchIndexEdit">
                                            <select  v-for="teams in match.teams" v-model="teams.id" class="form-control" style="width: 147%;">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in clubs"
                                                        v-bind:value="categoryToChoose.clubId">
                                                    {{ categoryToChoose.name }}
                                                </option>
                                            </select>
                                            <span @@click="addNewSeasonMatchTeam(match.id)">Add More Teams</span>
                                            </div>
                                        </td>
                                        </td>
                                        <!-- <td class="big-font">VS</td> -->
                                        <td v-if="matchid == seasonMatchIndexEdit">
                                            <!-- <select v-model="match.teamTwo.id" v-if="matchid == seasonMatchIndexEdit" class="form-control">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in clubs"
                                                        v-bind:value="categoryToChoose.clubId">
                                                    {{ categoryToChoose.name }}
                                                </option>
                                            </select> -->
                                        </td>
                                        <td v-if="matchid == seasonMatchIndexEdit">
                                            <select v-model="match.category.id" v-if="matchid == seasonMatchIndexEdit" class="form-control">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in categories"
                                                        v-bind:value="categoryToChoose.categoryId">
                                                    {{ categoryToChoose.name }}
                                                </option>
                                            </select>
                                        </td>
                                        <!-- <td class="medium-font" v-if="matchid !== seasonMatchIndexEdit">{{match.teamTwo.name}}</td> -->
                                        <td v-if="matchid !== seasonMatchIndexEdit">{{getMomentTime(match.date)}}</td>
                                        <td v-if="matchid != seasonMatchIndexEdit">
                                            {{match.category.name}}
                                        </td>
                                        <td v-if="matchid == seasonMatchIndexEdit">
                                            <select v-model="match.ground.id" v-if="matchid == seasonMatchIndexEdit" class="form-control">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in seasonGround"
                                                        v-bind:value="categoryToChoose.ground.id">
                                                    {{ categoryToChoose.ground.name }}
                                                </option>
                                            </select>
                                        </td>
                                        <td v-if="matchid == seasonMatchIndexEdit">                                            
                                            <input v-model="match.date" id="Date" class="form-control datetimepicker" type="text"/> 
                                        </td>
                                        <td v-if="matchid !== seasonMatchIndexEdit">{{match.ground.name}}</td>                                        
                                        <!-- <td v-if="seasonMatchIndexEdit != matchid"><a @@click="getPlayerGameStatsFields(match.category.name,match.statsString,'SeasonMatch')">Fixture Stats</a></td> -->
                                        <td v-if="matchid !== seasonMatchIndexEdit">
                                            {{match.status}}
                                        </td>    
                                        <td v-if="matchid == seasonMatchIndexEdit">
                                            <select v-model="match.status" v-if="matchid == seasonMatchIndexEdit" class="form-control">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in enumFixtureStatus"
                                                        v-bind:value="categoryToChoose.name">
                                                    {{ categoryToChoose.name }}
                                                </option>
                                            </select>
                                        </td>    
                                        <td v-if="matchid !== seasonMatchIndexEdit">
                                            {{match.matchType}}
                                        </td>
                                        <td v-if="matchid == seasonMatchIndexEdit">
                                            <select v-model="match.matchType" v-if="matchid == seasonMatchIndexEdit" class="form-control">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in enumSeasonMatchType"
                                                        v-bind:value="categoryToChoose.name">
                                                    {{ categoryToChoose.name }}
                                                </option>
                                            </select>
                                        </td> 
                                        <td v-if="matchid !== seasonMatchIndexEdit">
                                            {{match.currentRound}}
                                        </td>
                                        <td v-if="matchid == seasonMatchIndexEdit">
                                            <select v-model="match.currentRound" v-if="matchid == seasonMatchIndexEdit" class="form-control">
                                                <option disabled value="">Please select one</option>
                                                <option v-for="categoryToChoose in enumSeasonFixtureRound"
                                                        v-bind:value="categoryToChoose.name">
                                                    {{ categoryToChoose.name }}
                                                </option>
                                            </select>
                                        </td> 
                                        <td v-if="seasonMatchIndexEdit != matchid"><a @@click="seasonMatchIndexEdit = matchid" class="btn btn-primary">Edit Fixture</a></td>
                                        <td>
                                             <button @@click="currentSeasonMatchForStats=match;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Match Stats</button>
                                        </td>                                        
                                        <!-- <td v-if="seasonMatchIndexEdit != matchid"><a href="http://localhost:5000/Admin/1/SeasonMatchEvents/Index/1007">Add Match Live Data</a></td> -->
                                        <td v-if="seasonMatchIndexEdit == matchid">
                                            <a @@click="saveSeasonMatch">Save Fixture</a>
                                            <a @@click="deleteSeasonFixture(match)">Delete Fixture</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <form v-on:submit.prevent v-if="route=='SeasonGround'">
                <div class="our-products-section our-products-page">                    
                    <!-- <button v-if="seasonGroundEditIndex == null" @@click="addNewGround">Add New Ground</button> -->
                    <button @@click="addNewSeasonGround" class="btn-send">Add New Ground</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6" v-for="(category, categoryId) in seasonGround" :key="categoryId">
                                <div class="single-product text-center">
                                    <div class="product-image">
                                        <div class="overly"></div>
                                        <a href="~/">
                                            <img v-if="categoryId == seasonGroundEditIndex" :src="getGroundImage(category.ground.id)"
                                                 width="193" style="height: 140px;">
                                            <img v-if="categoryId !== seasonGroundEditIndex" :src="'/' + category.ground.image" width="193"
                                                 style="height: 140px;">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-tile">
                                            <i class="fa fa-edit" @@click="deleteSeasonGround(category)"></i>
                                            <a href="#">{{category.ground.name}}</a>
                                            <td v-if="categoryId == seasonGroundEditIndex">
                                                <select v-model="category.ground.id" v-if="categoryId == seasonGroundEditIndex">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="categoryToChoose in allGrounds"
                                                            v-bind:value="categoryToChoose.id">
                                                        {{ categoryToChoose.name }}
                                                    </option>
                                                </select>
                                            </td>
                                        </div>
                                        <div class="product-cart" v-if="categoryId == seasonGroundEditIndex">
                                            <a href="#">
                                                <i class="fa fa-save" @@click="saveSeasonGround"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form v-on:submit.prevent v-if="route=='SeasonTeam'">
                <div class="our-products-section our-products-page">                    
                    <button v-if="clubsIndexEdit == null" @@click="addNewClub" class="btn-send">Add New Team</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6" v-for="(category, categoryId) in clubs" :key="categoryId">
                                <div class="single-product text-center">
                                    <div class="product-image">
                                        <div class="overly"></div>
                                        <a href="~/">
                                            <img v-if="categoryId == clubsIndexEdit" :src="getClubImage(category.clubId)"
                                                 width="193" style="height: 140px;">
                                            <img v-if="categoryId !== clubsIndexEdit" :src="'/' + category.image" width="193"
                                                 style="height: 140px;">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-tile">
                                            <i class="fa fa-edit" @@click="clubsIndexEdit = categoryId"></i>
                                            <!-- <i class="fa fa-edit" @@click="loadSeasonMatch">See Match Fixtures</i> -->
                                            <a href="#">{{category.name}}</a>
                                            <td v-if="categoryId == clubsIndexEdit">
                                                <select v-model="category.clubId" v-if="categoryId == clubsIndexEdit">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="categoryToChoose in allClubs"
                                                            v-bind:value="categoryToChoose.id">
                                                        {{ categoryToChoose.name }}
                                                    </option>
                                                </select>
                                            </td>
                                            <!-- <span>{{category.name}}</span> -->
                                        </div>
                                        <div class="product-cart" v-if="categoryId == clubsIndexEdit">
                                            <a href="#">
                                                <i class="fa fa-save" @@click="saveClubs"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form v-on:submit.prevent v-if="route=='SeasonCategory'">
                <div class="our-products-section our-products-page">                    
                    <button v-if="categoryIndexEdit == null" @@click="addNewCategory" class="btn-send">Add New Sport</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6" v-for="(category, categoryId) in categories" :key="categoryId">
                                <div class="single-product text-center">
                                    <div class="product-image">
                                        <div class="overly"></div>
                                        <a href="~/">
                                            <img v-if="categoryId == categoryIndexEdit" :src="getCategoryImage(category.categoryId)" width="193" style="height: 140px;">
                                            <img v-if="categoryId !== categoryIndexEdit" :src="category.image" width="193" style="height: 140px;">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-tile">
                                            <i class="fa fa-edit" @@click="categoryIndexEdit = categoryId"></i>
                                            <a href="#">{{category.name}}</a>
                                            <td v-if="categoryId == categoryIndexEdit">
                                                <select v-model="category.categoryId" v-if="categoryId == categoryIndexEdit">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="categoryToChoose in allCategories" v-bind:value="categoryToChoose.id">
                                                        {{ categoryToChoose.name }}
                                                    </option>
                                                </select>
                                            </td>
                                        </div>
                                        <div class="product-cart" v-if="categoryId == categoryIndexEdit">
                                            <a href="#">
                                                <i class="fa fa-save" @@click="saveCategories"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form v-on:submit.prevent v-if="route=='SeasonPartners'">
                <div class="our-products-section our-products-page">
                    <button v-if="seasonPartnerEditIndex == null" @@click="addNewSeasonPartner" class="btn-send">Add New Sponsor to Season</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6" v-for="(category, partnerId) in seasonPartner" :key="partnerId">
                                <div class="single-product text-center">
                                    <div class="product-image">
                                        <div class="overly"></div>
                                        <a href="~/">
                                            <img v-if="partnerId == seasonPartnerEditIndex" :src="getPartnerImage(category.partner.id)"
                                                 width="193" style="height: 140px;">
                                            <img v-if="partnerId !== seasonPartnerEditIndex" :src="baseUrl + category.partner.image" width="193"
                                                 style="height: 140px;">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-tile">
                                            <i class="fa fa-edit" @@click="seasonPartnerEditIndex = partnerId"></i>
                                            <!-- <i class="fa fa-edit" @@click="loadSeasonMatch">See Match Fixtures</i> -->
                                            <a href="#" v-if="partnerId !== seasonPartnerEditIndex">{{category.partner.name}}</a><br>
                                            <td v-if="partnerId == seasonPartnerEditIndex">
                                                <select v-model="category.partner.id" v-if="partnerId == seasonPartnerEditIndex">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="categoryToChoose in allPartners"
                                                            v-bind:value="categoryToChoose.id">
                                                        {{ categoryToChoose.name }}
                                                    </option>
                                                </select>
                                            </td>
                                            <a href="#" v-if="partnerId !== seasonPartnerEditIndex">{{category.partnerTitle.name}}</a>
                                            <td v-if="partnerId == seasonPartnerEditIndex">
                                                <select v-model="category.partnerTitle.id" v-if="partnerId == seasonPartnerEditIndex">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="categoryToChoose in allPartnerTitles"
                                                            v-bind:value="categoryToChoose.id">
                                                        {{ categoryToChoose.name }}
                                                    </option>
                                                </select>
                                            </td>
                                            <!-- <span>{{category.name}}</span> -->
                                        </div>
                                        <div class="product-cart" v-if="partnerId == seasonPartnerEditIndex">
                                            <a href="#">
                                                <i class="fa fa-save" @@click="saveSeasonPartner"></i>
                                                <i class="fa fa-trash" @@click="deletePartnerFromSeason(category)"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form v-on:submit.prevent v-if="route=='SeasonGroups'">
                <div class="our-products-section our-products-page">                    
                    <button v-if="seasonGroupIndexEdit == null" @@click="addNewSeasonGroup" class="btn-send">Add New Entry</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6" v-for="(category, categoryId) in seasonGroup" :key="categoryId">
                                <div class="single-product text-center">
                                    <div class="product-image">
                                        <div class="overly"></div>
                                        <a href="~/">
                                            <img v-if="categoryId == seasonGroupIndexEdit" :src="getClubImage(category.clubId)" width="193" style="height: 140px;">
                                            <img v-if="categoryId !== seasonGroupIndexEdit" :src="getClubImage(category.clubId)" width="193" style="height: 140px;">
                                        </a>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-tile">
                                            <i class="fa fa-edit" @@click="seasonGroupIndexEdit = categoryId"></i>
                                            <a href="#">{{category.groupName}}</a>
                                            <a href="#">{{getClubName(category.clubId)}}</a>
                                            <a href="#">{{getCategoryName(category.categoryId)}}</a>
                                            <td v-if="categoryId == seasonGroupIndexEdit">
                                                <select v-model="category.categoryId" v-if="categoryId == seasonGroupIndexEdit">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="categoryToChoose in categories" v-bind:value="categoryToChoose.categoryId">
                                                        {{ categoryToChoose.name }}
                                                    </option>
                                                </select>
                                                <select v-model="category.clubId" v-if="categoryId == seasonGroupIndexEdit">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="categoryToChoose in clubs" v-bind:value="categoryToChoose.clubId">
                                                        {{ categoryToChoose.name }}
                                                    </option>
                                                </select>
                                                <input v-if="categoryId == seasonGroupIndexEdit" name="groupName" id="groupName" value="" v-model="category.groupName">
                                            </td>
                                        </div>
                                        <div class="product-cart" v-if="categoryId == seasonGroupIndexEdit">
                                            <a href="#">
                                                <i class="fa fa-save" @@click="saveSeasonGroup"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/toastr/toastr.js"></script>
    <script>

        setTimeout(function () {
            sportsmanduApp.currentClub = @Model.Id
        }, 200);
        setTimeout(function () {
            sportsmanduApp.currentClub = @Model.Id
        }, 2000);
        setTimeout(function () {
            sportsmanduApp.currentClub = @Model.Id
        }, 3000);       
    </script>
         <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>
      <script>
      setTimeout(function () {
            $('textarea').each(function () {
            var editor = new Jodit(this);
            editor.value = '@Model.Description';
            });
        }, 4000);
    </script>
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Match Stats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-horizontal col-md-10">
          <!-- <li v-for="stat in stats">stats</li> -->
          
                <div v-if="currentSeasonMatchForStats.teams != null" v-for="team in currentSeasonMatchForStats.teams">
                    <div>
                        <strong><span>{{team.name}}</span></strong>
                        <select v-model="team.status" @@change="onTeamFixtureStatusChange(team,currentSeasonMatchForStats)" class="form-control">
                                <option disabled value="">Please select one</option>
                                <option v-for="categoryToChoose in enumTeamFixtureStatus"
                                    v-bind:value="categoryToChoose.name">
                                {{ categoryToChoose.name }}
                                </option>
                        </select>                        
                    </div><br>
                    <div v-for="stats in team.stats">
                            <!-- <span>{{stats.name}}</span> -->
                            <div class="form-group">
                            <strong class="control-label col-md-4">{{stats.name.replaceAll("_"," ")}}</strong>
                            <div class="col-md-4">
                                 <input class="form-control" v-model="stats.value" :name="stats.name" :id="stats.name" :type="stats.type=='Int32' ? 'Number':'Text'"/>
                            </div>
                            </div>
                    </div>
                    <hr><hr><hr><hr>
                </div>
          
                                    
       
                                <!-- <div class="form-group">
                                            <strong class="control-label col-md-2">{{stat.name}}</strong>
                                            <div v-if="currentSeasonMatchForStats.teams != null" v-for="team in currentSeasonMatchForStats.teams">
                                                <div class="col-md-4">
                                                    
                                                    <input class="form-control" v-model="stat.value" :name="stat.name" :id="stat.name" :type="stat.type=='Int32' ? 'Number':'Text'"/>
                                                </div>
                                            </div>
                                        </div>
                        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  @@click="SaveSeasonMatchStats()">Save changes</button>
      </div>
    </div>
  </div>
</div>