@model IEnumerable<Sportsmandu.Model.Entities.Globalization.SiteSection>
@{
    ViewBag.Title =@ViewContext.RouteData.Values["Controller"];
}        
<a class ="ui button" href="~/Admin/@ViewContext.RouteData.Values["Culture"]/@ViewContext.RouteData.Values["Controller"]/Create">Create New</a> <BR><BR><table id="example" class="ui celled table"cellspacing="0" width="100%"/>
        <thead>
            <tr>
                <th>Title</th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Title</th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model) {
                <tr>                        
                        <td>
                            @item.Name
                        </td>
                        <td>
                            TODO EDIT / DELETE
                        </td>
                </tr>
            }
        </tbody>
</table>